@using SFB.Web.ApplicationCore.Helpers.Constants
@model List<SFB.Web.UI.Models.BenchmarkSchoolModel>

<form autocomplete="off">
    <span id="schoolCountMessage" class="visuallyhidden" aria-live="polite">@Model.Count schools in manual comparison list</span>
    <input id="schoolCount" type="hidden" value="@Model.Count"/>
    <button type="submit" style="visibility: hidden; display: none" disabled="disabled">hidden</button>
    <fieldset>
        <legend class="visuallyhidden">Choose a school from auto completion list</legend>
        @{
            if (ViewBag.Error != null)
            {
                <div id="error-summary" class="error-summary" role="alert" aria-labelledby="error-summary-heading-example-1" tabindex="-1">

                    <ul class="error-summary-list">
                        <li>
                            <a href="#NewSchoolName">@ViewBag.Error</a>
                        </li>
                    </ul>

                </div>
            }

            int i = 0;
            if (Model.Count > 0)
            {
                <div id="ExistingSchools">
                    @for (; i < Model.Count; i++)
                    {
                        <div class="grid-row school-element">
                            <label class="form-label" for="school_@i">School @Html.Raw(i + 1)</label>
                            <input class="form-control" style="width: 50%" id="school_@i" name="school_@i" type="text" disabled="disabled" value="@Model[i].Name" />
                            <button class="remove-school link-button font-small" data-urn="@Model[i].Id" aria-label="Remove @Model[i].Name">Remove</button>
                        </div>
                    }
                </div>

                <div id="NewSchool" style="display: @Html.Raw(ViewBag.Error == null ? "none" : "block")">
                    <div class="grid-row school-element">
                        <label class="form-label" for="NewSchoolName">School @Html.Raw(i + 1)</label>
                        @if (ViewBag.Error != null)
                        {
                            <span class="error-message">
                                @ViewBag.Error
                            </span>
                        }
                        <input id="NewSchoolName"
                               class="form-control"
                               name="schoolname"
                               type="text"
                               data-suggestion-url="/schoolsearch/suggest" />
                    </div>
                </div>
                <div id="AddButton" class="grid-row" style="display: @Html.Raw(ViewBag.Error == null ? "block" : "none")">
                    <div class="column-full">
                        @if (Model.Count + 1 < ComparisonListLimit.LIMIT)
                        {
                            <button class="link-button font-small" id="displayNew">Add another school</button>
                        }
                        else
                        {
                            <button type="button" class="link-button font-small" onclick="DfE.Util.ComparisonList.RenderFullListWarningModalManual()">Add another school</button>
                        }
                    </div>
                </div>
            }
            else
            {
                <div class="grid-row school-element">
                    <label class="form-label" for="NewSchoolName">School 1</label>
                    @if (ViewBag.Error != null)
                    {
                        <span class="error-message duplicate">
                            @ViewBag.Error
                        </span>
                    }
                    <span class="error-message missing" style="display: none">
                        Please enter a school name to continue the comparison
                    </span>
                    <input id="NewSchoolName"
                           class="form-control"
                           name="schoolname"
                           type="text"
                           data-suggestion-url="/schoolsearch/suggest" />
                </div>
            }
        }
    </fieldset>
</form>

@if (Request.IsAjaxRequest())
{
    <script>
        $('#schoolCountMessage').text("Updating manual comparison list");
        setTimeout(function () {
            $('#schoolCountMessage').text($("#schoolCount").val() + " schools in list");
        }, 2000);
    </script>
}
