@{
    ViewBag.Title = "Schools Financial Benchmarking";
    ViewBag.pageClass = "search-results";
}

@section BackButtonContent{

    @Html.Partial("Partials/BackToHomeLink")
}

@section InsideHead{

    <link rel="stylesheet" href="~/node_modules/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="~/node_modules/leaflet.markercluster/dist/MarkerCluster.css" />
    <link rel="stylesheet" href="~/node_modules/leaflet.markercluster/dist/MarkerCluster.Default.css" />
    <link rel="stylesheet" href="~/node_modules/leaflet-fullscreen/dist/leaflet.fullscreen.css" />

    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="~/node_modules/leaflet/dist/leaflet.js"></script>
    <script src="~/node_modules/leaflet.markercluster/dist/leaflet.markercluster.js"></script>
    <script src='~/node_modules/leaflet-fullscreen/dist/Leaflet.fullscreen.min.js'></script>

}

@using SFB.Web.UI.Helpers.Constants
@model SFB.Web.UI.Models.TrustListViewModel

@switch (Model.SearchType)
{
    case SearchTypes.SEARCH_BY_TRUST_NAME_ID:
        <h1 class="heading-xlarge page-heading">Search results for "@Model.NameKeyword"</h1>
        break;
    case SearchTypes.SEARCH_BY_TRUST_LOCATION:
        <h1 class="heading-xlarge page-heading">Academy trusts with schools operating in and near @Model.LocationKeyword</h1>
        break;
    case SearchTypes.SEARCH_BY_TRUST_LA_CODE_NAME:
        <h1 class="heading-xlarge page-heading">Academy trusts with schools operating in @Model.LaKeyword</h1>
        break;
    default:
        <h1 class="heading-xlarge page-heading">Trust</h1>
        break;
}

<div id="screen-reader-result-list" class="visuallyhidden">
    <span class="bold screen-reader-result-count" aria-live="assertive">@(Model.Pagination.Total) academy trusts found</span>
</div>

<div class="grid-row js-live-search-results-block">
    @Html.Partial("Partials/TrustResultBlock")
</div>

<a href="#pagetop" class="page-top hide-in-print">Back to top</a>

@section ViewScripts{
    <script src="~/node_modules/lodash/lodash.min.js"></script>
    <script>
        DfE.Views.SchoolsResultsViewModel = new SchoolsResultsViewModel('@(ViewBag.tab)', '@(System.Configuration.ConfigurationManager.AppSettings["AzureMapsAPIKey"])');
    </script>
}