@{
    ViewBag.Title = "Schools Financial Benchmarking";
    ViewBag.pageClass = "search-results";
}

@section StickyContent
{
    @Html.Partial("Partials/BenchmarkListBanner")
}

<div id="searchSchoolsLink" class="grid-row hide-in-print">
    <div class="column-full">
        <a class="home-link" href="/Trust?matNo=@ViewBag.MatNo&name=@ViewBag.MatName" aria-label="Back to @ViewBag.MatName">
            <i class="icon icon-back">
                <span class="visually-hidden">Back</span>
            </i>
            <span class="back-link">Back to @ViewBag.MatName</span> 
        </a>
    </div>
</div>

<h1 class="heading-xlarge page-heading">Trust's Schools</h1>

<div id="trust-screen-reader-result-list" class="visuallyhidden">
    <span class="bold trust-screen-reader-result-count" aria-live="assertive">@(Model.Pagination.Total) schools found</span>
</div>

<div class="grid-row js-live-search-results-block">
    @Html.Partial("Partials/ResultBlock")
</div>

<a href="#pagetop" class="page-top hide-in-print">Back to top</a>

@section ViewScripts{
    <script src="https://maps.googleapis.com/maps/api/js?key=@(System.Configuration.ConfigurationManager.AppSettings["GoogleAPIKey"])"></script>
    <script src="~/node_modules/js-marker-clusterer/src/markerclusterer_compiled.js"></script>
    <script src="~/node_modules/lodash/lodash.min.js"></script>
    <script>
        GOVUK.Modal.Load();

        @if (string.IsNullOrWhiteSpace(ViewBag.QueryLat))
        {
            <text>var loc = null;</text>
        }
        else
        {
            <text>var loc = { lat: @(ViewBag.QueryLat ?? "null"), lng: @(ViewBag.QueryLong ?? "null") };</text>
        }

        DfE.Views.SchoolsResultsViewModel.Load(loc, "@(ViewBag.tab)");

        $(function() {
            if ($(window).width() <= 640) {
                $('details').removeAttr('open');
            }

            GOVUK.LiveSearch.displaceSchoolCount();
            
        });
    </script>
}
