@{
    ViewBag.Title = "Schools Financial Benchmarking";
    ViewBag.pageClass = "search-results";
}

@section BMListBannerContent
{
    @Html.Partial("Partials/BenchmarkListBanner")
}

@section InsideHead{

    <link rel="stylesheet" href="~/node_modules/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="~/node_modules/leaflet.markercluster/dist/MarkerCluster.css" />
    <link rel="stylesheet" href="~/node_modules/leaflet.markercluster/dist/MarkerCluster.Default.css" />
    <link rel="stylesheet" href="~/node_modules/leaflet-fullscreen/dist/leaflet.fullscreen.css" />

    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="~/node_modules/leaflet/dist/leaflet.js"></script>
    <script src="~/node_modules/leaflet.markercluster/dist/leaflet.markercluster.js"></script>
    <script src='~/node_modules/leaflet-fullscreen/dist/Leaflet.fullscreen.min.js'></script>

}

<div id="searchSchoolsLink" class="grid-row hide-in-print">
    <div class="column-full">
        <a class="home-link" href="/Trust?companyNo=@ViewBag.CompanyNo&name=@ViewBag.MatName" aria-label="Back to @ViewBag.MatName">
            <i class="icon icon-back">
                <span class="visually-hidden">Back</span>
            </i>
            <span class="back-link">Back to @ViewBag.MatName</span>
        </a>
    </div>
</div>

<h1 class="heading-xlarge page-heading">Trust's Schools</h1>

<div id="trust-screen-reader-result-list" class="visuallyhidden">
    <span class="bold screen-reader-result-count" aria-live="assertive">@(Model.Pagination.Total) schools found</span>
</div>

<div class="grid-row js-live-search-results-block">
    @Html.Partial("Partials/Search/ResultBlock")
</div>

<a href="#pagetop" class="page-top hide-in-print">Back to top</a>

@section ViewScripts{
    <script src="~/node_modules/lodash/lodash.min.js"></script>
    <script>
        DfE.Views.SchoolsResultsViewModel = new SchoolsResultsViewModel('@(ViewBag.tab)', '@(System.Configuration.ConfigurationManager.AppSettings["AzureMapsAPIKey"])');
    </script>
}
