@model SFB.Web.UI.Models.SearchViewModel

@{
    ViewBag.Title = "How would you like to manually add schools?";
    ViewBag.pageClass = "manual-comparison-page";
    ViewBag.HomeSchoolId = Model.ComparisonList?.HomeSchoolUrn;
    ViewBag.HomeSchoolName = Model.ComparisonList?.HomeSchoolName;
}

@section BackButtonContent{
    @if (Model.ComparisonList?.HomeSchoolUrn == null)
    {
        Html.RenderPartial("Partials/BackToHomeLink");
    }
    else
    {
        if (Model.ComparisonList?.HomeSchoolUrn == null)
        {
            <a class="govuk-back-link hide-in-print" href="/">Back</a>
        }
        else
        {
            <a class="govuk-back-link hide-in-print" href="/BenchmarkCriteria/ComparisonStrategy?urn=@(Model.ComparisonList?.HomeSchoolUrn)">Back</a>
        }
    }
}

@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <div class="govuk-error-summary" role="alert" aria-labelledby="ErrorSummaryHeading">
        <h2 id="ErrorSummaryHeading" class="govuk-error-summary__title">
            There is a problem
        </h2>
        <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
                <li>
                    <a href="#finderSection">@Model.ErrorMessage</a>
                </li>
            </ul>
        </div>
    </div>
}

<div class="steps">
    <span class="govuk-caption-xl">Manual comparison 1 of 2</span>
</div>

<h1 class="govuk-heading-xl page-heading">
    How would you like to manually add schools?
</h1>

@if (Model.ComparisonList?.HomeSchoolUrn != null)
{
    <div class="grid-row home-school section">
        <div class="column-full mb-1">
            <span class="govuk-!-font-size-16">Comparing to</span>
            <div class="highlight">
                <a href="/school/detail?urn=@(Model.ComparisonList?.HomeSchoolUrn)"><span class="govuk-!-font-size-16 govuk-!-font-weight-bold">@(Model.ComparisonList?.HomeSchoolName)</span></a>
            </div>
        </div>
    </div>
}

<div class="column-three-quarters no-padding">
    <section class="section" aria-label="Select search type">

        <div id="finderSection">
            <div id="SearchTypesAccordion" class="search-types" aria-live="polite">
                <form method="get" action="/ManualComparison/Search" autocomplete="off">
                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset">
                            <legend class="govuk-visually-hidden">How do you like to manually add schools?</legend>

                            <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                                @Html.Partial("Partials/Search/ManualNameSearchOption")
                                @Html.Partial("Partials/Search/ManualLocationSearchOption")
                                @Html.Partial("Partials/Search/ManualLaSearchOption")
                            </div>
                        </fieldset>
                    </div>

                </form>
            </div>
        </div>
    </section>
</div>

@section ViewScripts {

    <script src="~/node_modules/corejs-typeahead/dist/typeahead.bundle.min.js"></script>
    <script src="https://atlas.microsoft.com/sdk/js/atlas.min.js?api-version=1"></script>
    <script src="https://atlas.microsoft.com/sdk/js/atlas-service.min.js?api-version=1"></script>
    <script>
        DfE.Views.SchoolsSearchViewModel = new SchoolsSearchViewModel(@Html.Raw(Model.Authorities), '@System.Web.Configuration.WebConfigurationManager.AppSettings["AzureMapsAPIKey"]');
    </script>


}


