@model SFB.Web.UI.Models.SchoolViewModel

@{
    ViewBag.ErrorPrefix = Model.HasError() ? "Error: " : "";
    ViewBag.Title = "Comparing similar schools";
    ViewBag.pageClass = "overwrite-strategy";
    ViewBag.HomeSchoolId = Model.ComparisonList?.HomeSchoolUrn;
    ViewBag.HomeSchoolName = Model.ComparisonList?.HomeSchoolName;
}

@section BackButtonContent{
    <a class="govuk-back-link hide-in-print" href="@ViewBag.referrer">Back</a>
}

@if (Model.HasError())
{
    <div class="error-summary" role="alert" aria-labelledby="ErrorSummaryHeading">
        <h1 id="ErrorSummaryHeading" class="heading-medium error-summary-heading">
            There is a problem
        </h1>
        <ul class="error-summary-list">
            <li>
                <a href="#legend">@Model.ErrorMessage</a>
            </li>
        </ul>
    </div>
}

<h1 class="heading-xlarge page-heading">Comparing similar schools</h1>

<p>
    You already have <span class="bold">@Model.ComparisonListCount</span> schools in your benchmark set. You can replace them or retain them alongside those matching the characteristics you've just selected.
</p>

<form action="ReplaceAdd" method="post">
    @Html.AntiForgeryToken()
    <div class="form-group @Html.Raw(Model.HasError() ? "form-group-error" : "")">

        <fieldset>
            <legend id="legend">
                <span class="visually-hidden">Overwrite strategy</span>
                @if (Model.HasError())
                {
                    <span class="error-message">@Model.ErrorMessage</span>
                }
            </legend>
            <div class="multiple-choice">
                <input id="radio-1" type="radio" name="overwriteStrategy" value="overwrite">
                <label class="selection-button-radio" for="radio-1">
                    Replace benchmark set
                </label>
            </div>

            <div class="multiple-choice">
                <input id="radio-2" type="radio" name="overwriteStrategy" value="add">
                <label class="selection-button-radio" for="radio-2">
                    Add to existing benchmark set
                </label>
            </div>

        </fieldset>
    </div>
    <div class="grid-row">
        <div class="column-half">
            <div class="column-one-third next-button">
                <button type="submit" class="govuk-button" data-module="govuk-button">Continue</button>
            </div>
            <div class="column-one-third">
                <input type="hidden" name="referrer" value="@ViewBag.referrer" />
            </div>
        </div>
    </div>
</form>
