@{
    ViewBag.Title = "Cookies on GOV.UK";
    ViewBag.pageClass = "cookies-settings";
}

@model SFB.Web.UI.Models.CookiePolicyModel

<div class="govuk-grid-row">
    <div class="group help-page cookie-settings govuk-grid-column-two-thirds">
        <div class="cookie-settings__confirmation" style="display:none">
            <section class="gem-c-notice mb-3" aria-label="Notice" aria-live="polite" role="alert">
                <h2 class="govuk-heading-m govuk-!-margin-top-6 mt-0">Your cookie settings were saved</h2>

                <p>Government services may set additional cookies and, if so, will have their own cookie policy and banner.</p>
                <a class="govuk-link cookie-settings__prev-page" href="@ViewBag.referrer" data-module="track-click" data-track-category="cookieSettings" data-track-action="Back to previous page">
                    Go back to the page you were looking at
                </a>
            </section>
        </div>

        <div>
            <h1 class="govuk-heading-xl page-heading">
                Cookies on GOV.UK
            </h1>
        </div>

        <div>
            <p>Cookies are files saved on your phone, tablet or computer when you visit a website.</p>
            <p>We use cookies to store information about how you use the GOV.UK website, such as the pages you visit.</p>
        </div>

        <h2 class="govuk-heading-m govuk-!-margin-top-6">Cookie settings</h2>

        <div>
            <p>We use 3 types of cookie. You can choose which cookies you're happy for us to use.</p>

            <form id="cookie-settings-form">

                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">

                        <legend class="govuk-fieldset__legend">Cookies that measure website use</legend>

                        <div id="hint-05e792cb" class="govuk-hint">
                            We use Google Analytics to measure how you use the website so we can improve it based on user needs. Google Analytics sets cookies that store anonymised information about:
                            <ul class="govuk-list govuk-list--bullet cookies-list--bullet">
                                <li>how you got to the site</li>
                                <li>the pages you visit on GOV.UK and government digital services, and how long you spend on each page</li>
                                <li>what you click on while you're visiting the site</li>
                            </ul>
                            We do not allow Google to use or share the data about how you use this site.
                        </div>

                        <div class="govuk-radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" type="radio" name="usage" id="radio-abcdd7c2-0" value="on" checked="@Model.Usage">
                                <label class="govuk-label govuk-radios__label" for="radio-abcdd7c2-0">
                                    <span>On</span>
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" type="radio" name="usage" id="radio-abcdd7c2-1" value="off" checked="@(!Model.Usage)">
                                <label class="govuk-label govuk-radios__label" for="radio-abcdd7c2-1">
                                    <span>Off</span>
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </div>


                <div class="govuk-govuk-form-group">
                    <fieldset class="govuk-fieldset">

                        <legend class="govuk-fieldset__legend">Cookies that remember your settings</legend>

                        <div id="hint-b291b8f4" class="govuk-hint">
                            These cookies do things like remember your preferences and the choices you make, to personalise your experience of using the site.
                        </div>
                        <div class="govuk-radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" type="radio" name="settings" id="radio-209c3582-0" value="on" checked="@Model.Settings" />
                                <label class="govuk-label govuk-radios__label" for="radio-209c3582-0">
                                    <span>On</span>
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" type="radio" name="settings" id="radio-209c3582-1" value="off" checked="@(!Model.Settings)">
                                <label class="govuk-label govuk-radios__label" for="radio-209c3582-1">
                                    <span>Off</span>
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </div>

                <div class="govuk-govspeak">
                    <h2 class="govuk-heading-m govuk-!-margin-top-6">Strictly necessary cookies</h2>
                    <p>These essential cookies do things like remembering your benchmark schools list between your page changes and your visits to our service, essential for using Schools Financial Benchmarking</p>
                    <p>They always need to be on.</p>
                    <p>
                        <a  class="govuk-link" href="/help/cookie-details">
                            Find out more about cookies on Schools Financial Benchmarking
                        </a>
                    </p>
                </div>
                <button class="govuk-button" data-module="govuk-button" type="submit" id="cookie-settings-button">Save changes</button>
            </form>
        </div>
    </div>
</div>

@section ViewScripts{
    <script>
        $("#cookie-settings-button").click(function (event) {
            event.preventDefault();
            var form = DfE.Util.getFormData($('#cookie-settings-form'));
            var cookiesPolicyCookie = { "essential": true, "settings": form.settings === "on", "usage": form.usage === "on" };
            GOVUK.setDomainCookie("cookies_policy", JSON.stringify(cookiesPolicyCookie), { days: 365 }, '@System.Configuration.ConfigurationManager.AppSettings["cookieDomain"]');
            GOVUK.setDomainCookie("cookies_preferences_set", "true", { days: 365 }, '@System.Configuration.ConfigurationManager.AppSettings["cookieDomain"]');
            $(".cookie-settings__confirmation").show();
            $("header").get(0).scrollIntoView();
        });
    </script>
}


