@model SFB.Web.UI.Models.BenchmarkChartListViewModel

<div id="bestInClassTabSection" style="display: none">
    <div class="grid-row">
        <div class="column-full">
            @if (ViewBag.BicComparisonOverallPhase == "Secondary")
            {
                <h2 class="heading-small" id="ProgressScoresTableHeading">Overall Progress 8 - all pupils</h2>
            }
            else
            {
                <h2 class="heading-small" id="ProgressScoresTableHeading">Overall key stage 2 progress - all pupils</h2>
            }

            <p class="show-count-js no-margin mt-1">Showing <span class="bold-xsmall">@Model.SchoolComparisonList.BenchmarkSchools.Count</span> schools</p>

            <table class="tablesorter data-table-js" id="ProgressScoresTable">
                <thead>
                    <tr>
                        <th nowrap scope="col" class="school-column">School</th>
                        <th nowrap scope="col">Local authority</th>
                        <th nowrap class="numeric" scope="col">Pupils</th>
                        <th nowrap scope="col">FSM</th>
                        <th nowrap scope="col">EHCP</th>
                        <th scope="col">Expenditure per pupil</th>
                        <th scope="col">Urban/rural description</th>
                        @if (ViewBag.BicComparisonOverallPhase == "Secondary")
                        {
                            <th nowrap class="numeric" scope="col">
                                Progress 8
                                <button class="helpLink link-button no-padding hide-in-print" id="renderP8InfoTable" onclick="DfE.Util.ModalRenderer.RenderBicCriteriaP8Modal(event)">
                                    <img class="help-image" src="/public/assets/images/help-icon.png" alt="Help">
                                </button>
                            </th>
                        }
                        else
                        {
                            <th class="numeric" scope="col">
                                Key stage 2 progress
                                <button class="helpLink link-button no-padding hide-in-print" id="renderKs2Info" onclick="DfE.Util.ModalRenderer.RenderBicCriteriaKs2Modal(event)">
                                    <img class="help-image" src="/public/assets/images/help-icon.png" alt="Help">
                                </button>
                            </th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var bicSchool in Model.ComparisonSchools.OrderByDescending(s => s.ProgressScore))
                    {
                        <tr>
                            <td scope="col" class="school-column" aria-label="@bicSchool.Name @Html.Raw(Model.SchoolComparisonList.HomeSchoolName == bicSchool.Name ? "index school" : "")">
                                <a href="/school/detail?Urn=@bicSchool.Id" class="@Html.Raw(Model.SchoolComparisonList.HomeSchoolName == bicSchool.Name ? "highlight" : "")"><span>@bicSchool.Name</span></a>                                
                            </td>
                            <td scope="col" aria-label="@bicSchool.LaName local authority">@bicSchool.LaName</td>
                            <td class="numeric" scope="col" aria-label="@bicSchool.TotalPupils pupils">@bicSchool.TotalPupils</td>
                            <td class="numeric" scope="col" aria-label="@bicSchool.FSM% Percentage of Eligible Free School Meals">@bicSchool.FSM%</td>
                            <td class="numeric" scope="col" aria-label="@bicSchool.SEN% Percentage of pupil with special education needs">@bicSchool.SEN%</td>
                            <td class="numeric" scope="col" aria-label="@bicSchool.ExpenditurePerPupil.GetValueOrDefault().ToString("C") Expenditure per pupil">@bicSchool.ExpenditurePerPupil.GetValueOrDefault().ToString("C")</td>
                            <td class="numeric" scope="col">@bicSchool.UrbanRural</td>
                            <td class="numeric no-padding" scope="col" aria-label="@bicSchool.ProgressScore.GetValueOrDefault().ToString("F2") @ViewHelpers.ScoreText(bicSchool.ProgressScore.GetValueOrDefault(), ViewBag.BicComparisonOverallPhase) Progress score">
                                <div class="score @ViewHelpers.ScoreColorCode(bicSchool.ProgressScore.GetValueOrDefault(), ViewBag.BicComparisonOverallPhase)">
                                    <div class="font-xsmall">@bicSchool.ProgressScore.GetValueOrDefault().ToString("F2")</div>
                                    <div class="no-wrap">@ViewHelpers.ScoreText(bicSchool.ProgressScore.GetValueOrDefault(), ViewBag.BicComparisonOverallPhase)</div>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

