@using SFB.Web.ApplicationCore.Helpers.Enums
@using SFB.Web.UI.Helpers.Constants
@using SFB.Web.UI.Helpers.Enums

<div class="column-third chart-filter @IsIrrelevantTab()">
    <div class="form-group">
        <label class="form-label inline" for="CentralFinancing">Trust finance</label>
        <span class="help-icon hide-in-print help-trust-finance js-show-value-help">
            <span class="icon dark-blue">
                <a href="#" class="js-modal" data-modal-title="Trust finance" data-modal-text="@HelpTooltipText.TrustFinance" data-modal-close-text="Close" data-modal-close-title="Close" data-help-text-key="">
                    <span class="visuallyhidden">Open more info text for Trust finance opens a popup</span>
                </a>
            </span>
        </span>
        <select name="CentralFinancing" id="CentralFinancing" class="form-control" onchange="DfE.Views.BenchmarkChartsViewModel.RebuildCharts()">
            <option value="@CentralFinancingType.Exclude" @IsSelected(CentralFinancingType.Exclude)>@BMFinancing.EXCLUDE</option>
            <option value="@CentralFinancingType.Include" @IsSelected(CentralFinancingType.Include)>@BMFinancing.INCLUDE</option>
        </select>
    </div>
</div>

@helper IsIrrelevantTab()
{
    if (ViewBag.Tab == TabType.Workforce || ViewBag.Tab == TabType.Salary)
    {
        <text>hidden</text>
    }
}

@helper IsSelected(CentralFinancingType option)
{
    if (option == Enum.Parse(typeof(CentralFinancingType), ViewBag.Financing.ToString()))
    {
        <text>selected</text>
    }
}

