@using SFB.Web.Common
@using SFB.Web.Domain.Helpers
@using SFB.Web.UI.Helpers.Enums
@model List<SFB.Web.UI.Models.ChartViewModel>

<div id="bm-charts-accordion" class="accordion">
    @for (int i = 0; i < Model.Count; i++)
    {
        <div class="chartContainer column-full" data-group="@Model[i].ChartGroup">
            @if (Model[i].ChartType == ChartType.Total || Model[i].ChartType == ChartType.CustomReport)
            {
                if (Model[i].ShowValue != UnitType.PercentageOfTotal || !(Model[i].Name == "Total expenditure" || Model[i].Name == "Total income"))
                {
                    <div>
                        @if (Model[i].ChartType == ChartType.CustomReport)
                        {
                            <div class="column-full no-padding">
                                <h2 class="heading-medium">
                                    @Model[i].Name
                                    <span class="not-bold">
                                        @Html.Raw("(" + Model[i].ShowValue.GetDescription() + ")")
                                    </span>
                                </h2>
                            </div>
                        }
                        else
                        {
                            <div class="column-half no-padding">
                                @if (Model[i].DrillInto != null)
                                {
                                    <div class="chart-header">
                                        <h2 class="heading-medium inline">@Model[i].Name</h2>
                                        <a class="inline" href="javascript:void(0)" onclick="DfE.Views.BenchmarkChartsViewModel.SelectGrouping('@Model[i].DrillInto')">View more charts<span class="visuallyhidden"> for @Model[i].Name</span> </a>
                                    </div>
                                }
                                else
                                {
                                    <h2 class="heading-medium">
                                        @Model[i].Name
                                    </h2>
                                }
                            </div>
                        }
                        @if (Model[i].ChartType != ChartType.CustomReport)
                        {
                            <div class="customActions column-half add-remove-links hide-in-print" data-fn="@Model[i].FieldName" data-sv="@Model[i].ShowValue">
                                @if (ViewBag.EstablishmentType != EstablishmentType.MAT)
                                {
                                    <div class="column-half font-xsmall no-padding">
                                        <a class="save-as-image" style="display: none" href="javascript:void(0)" onclick="DfE.Views.BenchmarkChartsViewModel.saveAsImage('@Model[i].Name', 'chart_@i')"
                                           aria-label="Save image of @Model[i].FieldName">
                                            <i class="icon icon-save-image">
                                                <span class="visually-hidden">Save as image</span>
                                            </i>
                                            <span>Save as image</span>
                                        </a>
                                    </div>
                                    <div class="column-half font-xsmall no-padding">
                                        <a style="display: none" class="customAdd" aria-label="Add @Model[i].FieldName to Your Charts" href="javascript:DfE.Views.BenchmarkChartsViewModel.AddRemoveYourCharts('@Model[i].FieldName','@Model[i].ShowValue', true);">
                                            <i class="icon icon-bookmark">
                                                <span class="visually-hidden">Bookmark</span>
                                            </i>
                                            <span>Add to your charts</span>
                                        </a>
                                        <a style="display: none" class="customRemove" aria-label="Remove @Model[i].FieldName from Your Charts" href="javascript:DfE.Views.BenchmarkChartsViewModel.AddRemoveYourCharts('@Model[i].FieldName','@Model[i].ShowValue', false);">
                                            <i class="icon icon-bookmark">
                                                <span class="visually-hidden">Bookmark</span>
                                            </i>
                                            <span>Remove from your charts</span>
                                        </a>
                                    </div>
                                }
                                else
                                {
                                    <div class="column-full font-xsmall no-padding">
                                        <a class="save-as-image" style="display: none" href="javascript:void(0)" onclick="DfE.Views.BenchmarkChartsViewModel.saveAsImage('@Model[i].Name', 'chart_@i')"
                                           aria-label="Save image of @Model[i].FieldName">
                                            <i class="icon icon-save-image">
                                                <span class="visually-hidden">Save as image</span>
                                            </i>
                                            <span>Save as image</span>
                                        </a>
                                    </div>
                                }
                            </div>
                        }

                        @if (!string.IsNullOrEmpty(Model[i].MoreInfo))
                        {
                            <details>
                                <summary class="hide-in-print">
                                    <span class="summary font-xsmall">More info</span>
                                </summary>
                                <div class="panel panel-border-narrow">
                                    @Html.Raw(Model[i].MoreInfo)
                                </div>
                            </details>
                        }
                        <div class="grid-row">
                            <div class="column-full">
                                <div id="chart_@i" class="chart" data-chart='@Model[i].DataJson'></div>
                            </div>
                        </div>
                        <input name="benchmarkSchoolIndex" type="hidden" value="@Model[i].BenchmarkSchoolIndex"/>
                        <input name="incompleteFinanceDataIndex" type="hidden" value="@string.Join(",", Model[i].IncompleteFinanceDataIndex)"/>
                        <input name="incompleteWorkforceDataIndex" type="hidden" value="@string.Join(",", Model[i].IncompleteWorkforceDataIndex)"/>

                        @if (Model[i].TableColumns != null && Model[i].TableColumns.Count > 0)
                        {
                            @Html.Partial("Partials/DataTable", Model[i])
                        }

                    </div>
                    if (Model[i].ChartType == ChartType.CustomReport)
                    {
                        <hr />
                    }
                }
            }
            else
            {
                <div class="accordion-section">

                    <fieldset role="group">
                        <legend class="hidden">@Model[i].Name</legend>
                        <div class="accordion-section-header">
                            <h2 class="heading-medium">@Model[i].Name</h2>
                        </div>

                        <div class="accordion-section-body">
                            @if (Model[i].ChartType != ChartType.CustomReport)
                            {
                                <div class="customActions column-half add-remove-links table hide-in-print float-to-right" data-fn="@Model[i].FieldName" data-sv="@Model[i].ShowValue">
                                    @if (ViewBag.EstablishmentType != EstablishmentType.MAT)
                                    {
                                        <div class="column-half font-xsmall no-padding">
                                            <a class="save-as-image" style="display: none" href="javascript:void(0)" onclick="DfE.Views.BenchmarkChartsViewModel.saveAsImage('@Model[i].Name', 'chart_@i')"
                                               aria-label="Save image of @Model[i].FieldName">
                                                <i class="icon icon-save-image"><span class="visually-hidden">Save as image</span></i>
                                                <span>Save as image</span>
                                            </a>
                                        </div>
                                        <div class="column-half font-xsmall no-padding">
                                            <a style="display: none" class="customAdd" aria-label="Add @Model[i].FieldName to Your Charts" href="javascript:DfE.Views.BenchmarkChartsViewModel.AddRemoveYourCharts('@Model[i].FieldName','@Model[i].ShowValue', true);">
                                                <i class="icon icon-bookmark"><span class="visually-hidden">Bookmark</span></i>
                                                <span>Add to your charts</span>
                                            </a>
                                            <a style="display: none" class="customRemove" aria-label="Remove @Model[i].FieldName from Your Charts" href="javascript:DfE.Views.BenchmarkChartsViewModel.AddRemoveYourCharts('@Model[i].FieldName','@Model[i].ShowValue', false);">
                                                <i class="icon icon-bookmark"><span class="visually-hidden">Bookmark</span></i>
                                                <span>Remove from your charts</span>
                                            </a>
                                        </div>
                                    }else
                                    { 
                                        <div class="column-full font-xsmall no-padding">
                                            <a class="save-as-image" style="display: none" href="javascript:void(0)" onclick="DfE.Views.BenchmarkChartsViewModel.saveAsImage('@Model[i].Name', 'chart_@i')"
                                               aria-label="Save image of @Model[i].FieldName">
                                                <i class="icon icon-save-image"><span class="visually-hidden">Save as image</span></i>
                                                <span>Save as image</span>
                                            </a>
                                        </div>
                                    }
                                </div>
                            }

                            @if (Model[i].DataJson != null)
                            {
                                if (!string.IsNullOrEmpty(Model[i].MoreInfo))
                                {
                                    <details>
                                        <summary class="hide-in-print">
                                            <span class="summary font-xsmall">More info</span>
                                        </summary>
                                        <div class="panel panel-border-narrow">
                                            @Html.Raw(Model[i].MoreInfo)
                                        </div>
                                    </details>
                                }
                                <div class="grid-row">
                                    <div class="column-full">
                                        <div id="chart_@i" class="chart" data-chart='@Model[i].DataJson'></div>
                                    </div>
                                </div>
                                <input name="benchmarkSchoolIndex" type="hidden" value="@Model[i].BenchmarkSchoolIndex"/>
                                <input name="incompleteFinanceDataIndex" type="hidden" value="@string.Join(",", Model[i].IncompleteFinanceDataIndex)"/>
                                <input name="incompleteWorkforceDataIndex" type="hidden" value="@string.Join(",", Model[i].IncompleteWorkforceDataIndex)"/>
                            }
                            @if (Model[i].TableColumns != null)
                            {
                                @Html.Partial("Partials/DataTable", Model[i])
                            }
                        </div>
                    </fieldset>
                </div>
            }
        </div>
    }
</div>

@*//TODO: Call this in client side*@
@if (Request.IsAjaxRequest())
{
    <script src="/public/scripts/termi/element.details.ajax.js"></script>
}