@using Microsoft.Ajax.Utilities
@using SFB.Web.UI.Helpers.Enums
@model SFB.Web.UI.Models.ChartViewModel


<table class="tablesorter data-table-js chart-table">
    <thead>
        <tr>
            <th class="school-column" scope="col"  data-header="Trust name">Trust name</th>
            <th class="detail" scope="col" data-header="Number of pupils">Number of pupils</th>
            <th scope="col" data-header="Amount"><span aria-label="@ViewHelpers.GetAmountHeaderAriaLabel(ViewBag.UnitType.ToString())">@ViewHelpers.GetAmountLabel(ViewBag.UnitType.ToString())</span></th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.BenchmarkData.Count; i++)
        {

            var schoolBenchmarkData = Model.BenchmarkData[i];

        <tr>
            @if (ViewBag.HomeSchoolId.ToString() == schoolBenchmarkData.Urn)
            {
            <td class="school-column" data-header="Trust name">
                <a href="/trust/index?companyNo=@schoolBenchmarkData.Urn" aria-label="Open @schoolBenchmarkData.School's details page">
                    <span class="table-highlight index-highlight">@schoolBenchmarkData.School</span><span class="visually-hidden"> index school</span>
                </a>
                @if (Model.IncompleteFinanceDataIndex.Contains(i))
                {
                    <span class="help-icon">
                        <span class="icon dark-blue">
                            <a href="#" class="js-modal" data-modal-title="Incomplete financial data" data-modal-text="Some of this trust's schools have data from a period less than 12 months." data-modal-close-text="Close" data-modal-close-title="Close" data-help-text-key="">
                                <span class="visuallyhidden">Open more info text for incomplete financial data. Opens a popup</span>
                            </a>
                        </span>
                    </span>
                }
            </td>
            }
            else if (Model.IncompleteFinanceDataIndex.Contains(i))
            {
                <td class="school-column" data-header="Trust name">
                    <a href="/trust/index?companyNo=@schoolBenchmarkData.Urn" aria-label="Open @schoolBenchmarkData.School's details page">
                        <span class="table-highlight incompleteFinance-highlight">@schoolBenchmarkData.School</span><span class="visually-hidden"> has incomplete financial data</span>
                    </a>
                    <span class="help-icon">
                        <span class="icon dark-blue">
                            <a href="#" class="js-modal" data-modal-title="Incomplete financial data" data-modal-text="Some of this trust's schools have data from a period less than 12 months." data-modal-close-text="Close" data-modal-close-title="Close" data-help-text-key="">
                                <span class="visuallyhidden">Open more info text for incomplete financial data. Opens a popup</span>
                            </a>
                        </span>
                    </span>
                </td>
            }
            else
            {
                <td class="school-column" data-header="Trust name">
                    <a href="/trust/index?companyNo=@schoolBenchmarkData.Urn" aria-label="Open @schoolBenchmarkData.School's details page">
                        @schoolBenchmarkData.School
                    </a>
                </td>
            }
            <td class="detail" data-header="Number of pupils">@schoolBenchmarkData.PupilCount</td>
            <td data-header="Amount">
                @if (schoolBenchmarkData.Amount.HasValue)
                {
                    switch ((UnitType)Enum.Parse(typeof(UnitType), schoolBenchmarkData.Unit))
                    {
                        case UnitType.PercentageOfTotal:
                            @schoolBenchmarkData.Amount.GetValueOrDefault().ToString("F1")<text>%</text>
                            break;
                        case UnitType.HeadcountPerFTE:
                        case UnitType.AbsoluteCount:
                        case UnitType.FTERatioToTotalFTE:
                        case UnitType.NoOfPupilsPerMeasure:
                            @schoolBenchmarkData.Amount.GetValueOrDefault()
                            break;
                        default:
                            @schoolBenchmarkData.Amount.GetValueOrDefault().ToString("C0")
                            break;
                    }
                    <span aria-label="@ViewHelpers.GetAmountCellAriaLabel(schoolBenchmarkData.Unit, Model.Name)"></span>
                }
                else
                {
                    <text>Not applicable</text>
                }
            </td>
        </tr>
        }
    </tbody>
</table>
