@using SFB.Web.ApplicationCore.Helpers.Enums
@using SFB.Web.ApplicationCore.Helpers.Constants
@using SFB.Web.UI.Helpers
@using SFB.Web.UI.Helpers.Enums
@model List<SFB.Web.UI.Models.ChartViewModel>

<div id="bm-charts-accordion" class="govuk-accordion app-accordion--no-open-all app-accordion--no-border-bottom govuk-!-margin-bottom-0" data-module="govuk-accordion">
    @for (int i = 0; i < Model.Count; i++)
    {
        <div class="chart-container index-@i  govuk-grid-column-full no-padding" data-group="@Model[i].ChartGroup">
            @if (Model[i].ChartType == ChartType.Total || Model[i].ChartType == ChartType.CustomReport || Model[i].ChartType == ChartType.OneClick)
            {
                if (Model[i].ShowValue != UnitType.PercentageOfTotalExpenditure || Model[i].ShowValue != UnitType.PercentageOfTotalIncome || !(Model[i].Name == "Total expenditure" || Model[i].Name == "Total income"))
                {
            <div>
                @if (Model[i].ChartType == ChartType.CustomReport || Model[i].ChartType == ChartType.OneClick)
                {
                <div class=" govuk-grid-column-full no-padding">
                    <h2 class="govuk-heading-m govuk-!-margin-top-6 inline">
                        <span>
                            @Model[i].Name
                        </span>
                        @if (Model[i].ChartType != ChartType.OneClick || Model[i].FieldName != SchoolTrustFinanceDataFieldNames.TEACHERS_TOTAL)//exception #31821
                        {
                            <span class="not-bold">
                                @Html.Raw("(" + Model[i].ShowValue.GetDescription() + ")")
                            </span>
                        }
                    </h2>
                    @if (Model[i].HelpTooltip != null)
                    {
                        <details class="govuk-details govuk-!-margin-bottom-0" data-module="govuk-details">
                            <summary class="govuk-details__summary hide-in-print">
                                <span class="govuk-details__summary-text govuk-!-font-size-16">More about @Model[i].Name.ToLower()</span>
                            </summary>
                            <div class="govuk-details__text">
                                @Html.Raw(Model[i].HelpTooltip)
                            </div>
                        </details>                        
                    }
                </div>
                }
                else
                {
                    <div class="govuk-grid-column-one-half no-padding">
                        @if (Model[i].DrillInto != null)
                        {
                        <div class="chart-header">
                            <h2 class="govuk-heading-m govuk-!-margin-top-6 inline">@Model[i].Name</h2>
                            <button class="link-button govuk-!-font-size-16 inline hide-in-print no-padding" onclick="DfE.Views.BenchmarkChartsViewModel.selectGrouping('@Model[i].DrillInto', '@Model[i].TabName.ToLower()')">
                                @if (ViewBag.ChartFormat == ChartFormat.Charts)
                                {
                                    <span class="view-more">All @Model[i].Name.Replace("total", "").ToLower() charts</span>
                                }
                                else
                                {
                                    <span class="view-more">View more tables</span>
                                }
                                <span class="govuk-visually-hidden"> for @Model[i].Name</span>
                            </button>
                            @if (Model[i].HelpTooltip != null)
                            {
                                <details class="govuk-details govuk-!-margin-bottom-0" data-module="govuk-details">
                                    <summary class="govuk-details__summary hide-in-print">
                                        <span class="govuk-details__summary-text govuk-!-font-size-16">More about @Model[i].Name.ToLower()</span>
                                    </summary>
                                    <div class="govuk-details__text">
                                        @Html.Raw(Model[i].HelpTooltip)
                                    </div>
                                </details>
                            }
                        </div>
                        }
                        else
                        {
                            <div class="chart-header">
                                <h2 class="govuk-heading-m govuk-!-margin-top-6 inline">
                                    @Model[i].Name
                                </h2>
                                @if (Model[i].HelpTooltip != null)
                                {
                                <details class="govuk-details govuk-!-margin-bottom-0" data-module="govuk-details">
                                    <summary class="govuk-details__summary hide-in-print">
                                        <span class="govuk-details__summary-text govuk-!-font-size-16">More about @Model[i].Name.ToLower()</span>
                                    </summary>
                                    <div class="govuk-details__text">
                                        @Html.Raw(Model[i].HelpTooltip)
                                    </div>
                                </details>
                                }
                            </div>
                        }
                    </div>
                }
                @if (Model[i].ChartType != ChartType.CustomReport && Model[i].ChartType != ChartType.OneClick)
                {
                    <div class="customActions govuk-grid-column-one-half no-padding add-remove-links hide-in-print" data-fn="@Model[i].Id" data-sv="@Model[i].ShowValue">
                        @if (ViewBag.EstablishmentType != EstablishmentType.MAT)
                        {
                            <div class="govuk-grid-column-one-half govuk-!-font-size-16 no-padding custom-action-mobile">
                                <button class="save-as-image a-button" style="display: none" onclick="DfE.Views.BenchmarkChartsViewModel.saveAsImage('@Model[i].Name', 'chart_@i')"
                                        aria-label="Save image of @Model[i].FieldName">
                                    <i class="icon icon-save-image">
                                        <span class="govuk-visually-hidden">Save as image</span>
                                    </i>
                                    <span>Save as image</span>
                                </button>
                            </div>
                            <div class="govuk-grid-column-one-half govuk-!-font-size-16 no-padding float-to-right your-chart-controls custom-action-mobile">
                                <div class="float-to-right">
                                    <button style="display: none" class="customAdd a-button" aria-label="Add @Model[i].FieldName to Your Charts" onclick="DfE.Views.BenchmarkChartsViewModel.addRemoveYourCharts(@Model[i].Id,'@Model[i].ShowValue', true, this);">
                                        <i class="icon icon-bookmark">
                                            <span class="govuk-visually-hidden">Bookmark</span>
                                        </i>
                                        <span>Add to your charts</span>
                                    </button>
                                    <button style="display: none" class="customRemove a-button" aria-label="Remove @Model[i].FieldName from Your Charts" onclick="DfE.Views.BenchmarkChartsViewModel.addRemoveYourCharts(@Model[i].Id,'@Model[i].ShowValue', false, this);">
                                        <i class="icon icon-bookmark">
                                            <span class="govuk-visually-hidden">Bookmark</span>
                                        </i>
                                        <span>Remove from your charts</span>
                                    </button>
                                    <div style="display:inline">
                                        <span class="help-icon help-addremove hide-in-print">
                                            <span class="icon dark-blue">
                                                <a href="#" class="js-modal" role="button" data-modal-title="Add to your charts/remove from your charts" data-modal-text="If you want to download or print a customised report, you can save individual charts in the ‘Your charts’ tab. You can add or remove them by selecting ‘Add to your charts’ or ‘Remove from your charts’. Go to the 'Your charts' tab to see the ones you’ve chosen." data-modal-close-text="Close" data-modal-close-title="Close" data-help-text-key="">
                                                    <span class="govuk-visually-hidden">Open more info text for Add this chart to 'Your charts' opens a popup</span>
                                                </a>
                                            </span>
                                        </span>
                                    </div>
                                </div>
                                <div style="display: none" class="float-to-right govuk-!-font-size-16 no-padding view-your-charts">
                                    <button aria-label="View Your Charts" class="a-button" onclick="$('#Custom a')[0].click(); $('#Custom a')[0].focus(); $('#customTabSection').show(); DfE.Views.BenchmarkChartsViewModel.changeTab('Custom')">
                                        <i class="icon icon-report"></i>
                                        <span class="govuk-body-s">View your charts</span>
                                    </button>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="govuk-grid-column-full govuk-!-font-size-16 no-padding">
                                <button class="save-as-image a-button" style="display: none" onclick="DfE.Views.BenchmarkChartsViewModel.saveAsImage('@Model[i].Name', 'chart_@i')"
                                        aria-label="Save image of @Model[i].FieldName">
                                    <i class="icon icon-save-image">
                                        <span class="govuk-visually-hidden">Save as image</span>
                                    </i>
                                    <span>Save as image</span>
                                </button>
                            </div>
                        }
                    </div>
                }

                @if (Model[i].DealsForSchoolsMessage != null)
                {
                <div class="govuk-inset-text dfs-panel">@Model[i].DealsForSchoolsMessage, visit <a rel="external noopener noreferrer" class="govuk-link sfb_gtm_deals_for_schools" target="_blank" title="Link will open in a new page" href="https://find-dfe-approved-framework.service.gov.uk/framework#@Model[i].DealsForSchoolsCategory"
                                                                                                          aria-label="Deals for schools link @Model[i].DealsForSchoolsMessage">deals for schools</a></div>
                }

                @if (Model[i].ChartType != ChartType.CustomReport && !string.IsNullOrEmpty(Model[i].MoreInfo))
                {
                    <details class="govuk-details govuk-!-margin-bottom-0" data-module="govuk-details">
                        <summary class="govuk-details__summary hide-in-print">
                            <span class="govuk-details__summary-text govuk-!-font-size-16">More about @Model[i].Name.ToLower()</span>
                        </summary>
                        <div class="govuk-details__text">
                            @Html.Raw(Model[i].MoreInfo)
                        </div>
                    </details>
                }
                <div class="govuk-grid-row">
                    <div class=" govuk-grid-column-full no-padding @(ViewBag.ComparisonType == ComparisonType.BestInClass ? "bic-chart-wrapper" : "")">
                        @if (ViewBag.ComparisonType == ComparisonType.BestInClass && ViewBag.ChartFormat == ChartFormat.Charts)
                        {
                            <div class="chart-scores-wrapper">
                                @if (ViewBag.BicComparisonOverallPhase == "Secondary" || ViewBag.BicComparisonOverallPhase == "All-through")
                                {
                                    <div class="chart-scores-header" style="max-width: 60px;">
                                        <span class="govuk-body-s">Progress 8</span>
                                        @*<button class="helpLink link-button no-padding hide-in-print" id="renderP8InfoChart_@i" onclick="DfE.Util.ModalRenderer.renderBicCriteriaP8Modal(event)">
                                            <img class="help-image" src="/public/assets/images/icons/info.svg" alt="Help">
                                        </button>*@
                                    </div>
                                }
                                else if(ViewBag.BicComparisonOverallPhase == "Primary")
                                {
                                    <div class="chart-scores-header">
                                        <span class="govuk-body-s">KS2 progress</span>
                                        @*<button class="helpLink link-button no-padding hide-in-print ks2-help" id="renderKS2InfoChart_@i" onclick="DfE.Util.ModalRenderer.renderBicCriteriaKs2Modal(event)">
                                            <img class="help-image" src="/public/assets/images/icons/info.svg" alt="Help">
                                        </button>*@
                                    </div>
                                }
                            </div>
                        }
                        <div class="chart-wrapper @(ViewBag.ComparisonType == ComparisonType.BestInClass ? "bic" : "")" style="display: @Html.Raw(ViewBag.ChartFormat == ChartFormat.Tables ? "none" : "inline-block")">
                            <div id="chart_@i" class="chart" data-chart-title="@Model[i].Name"  data-axis-label="@Model[i].ShowValue.GetDescription() @ChartLabelForCentralFinance()" data-chart='@Model[i].DataJson' data-img=''></div>
                        </div>
                        <div id="table_for_chart_@i" class="chart-table-wrapper" style="display: @Html.Raw(ViewBag.ChartFormat == ChartFormat.Tables ? "block" : "none")">
                            @if (ViewBag.EstablishmentType != EstablishmentType.MAT)
                            {
                                @Html.Partial("Partials/ChartTable", Model[i])
                            }
                            else
                            {
                                @Html.Partial("Partials/ChartTableTrust", Model[i])
                            }
                        </div>

                    </div>
                </div>
                <input name="benchmarkSchoolIndex" type="hidden" value="@Model[i].BenchmarkSchoolIndex" />
                <input name="incompleteFinanceDataIndex" type="hidden" value="@string.Join(",", Model[i].IncompleteFinanceDataIndex)" />
                <input name="incompleteWorkforceDataIndex" type="hidden" value="@string.Join(",", Model[i].IncompleteWorkforceDataIndex)" />

                @if (Model[i].TableColumns != null && Model[i].TableColumns.Count > 0)
                {
                    @Html.Partial("Partials/DataTable", Model[i])
                }

            </div>
                    if (Model[i].ChartType == ChartType.CustomReport || Model[i].ChartType == ChartType.OneClick)
                    {
                        <hr />
                    }
                }
            }
            else
            {
        <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                    <span class="govuk-accordion__section-button" id="accordion-chartName-heading">
                        @Model[i].Name
                    </span>
                </h2>
            </div>

            <div id="accordion-chart-content" class="govuk-accordion__section-content" aria-labelledby="accordion-chartName-heading">
                @if (!string.IsNullOrEmpty(Model[i].MoreInfo))
                {
                    <details class="govuk-details govuk-!-margin-bottom-0" data-module="govuk-details">
                        <summary class="govuk-details__summary hide-in-print">
                            <span class="govuk-details__summary-text govuk-!-font-size-16">More about @Model[i].Name.ToLower()</span>
                        </summary>
                        <div class="govuk-details__text">
                            @Html.Raw(Model[i].MoreInfo)
                        </div>
                    </details>
                }
                @if (Model[i].DealsForSchoolsMessage != null)
                {
                    <div class="govuk-inset-text dfs-panel">
                        @Model[i].DealsForSchoolsMessage, visit
                        <a rel="external noopener noreferrer" class="govuk-link sfb_gtm_deals_for_schools" target="_blank" title="Link will open in a new page"
                           href="https://find-dfe-approved-framework.service.gov.uk/framework#@Model[i].DealsForSchoolsCategory"
                           aria-label="Link for @Model[i].DealsForSchoolsMessage">deals for schools</a>
                    </div>
                }
                @if (Model[i].ChartType != ChartType.CustomReport && Model[i].ChartType != ChartType.OneClick)
                {
                    <div class="customActions govuk-grid-column-one-half add-remove-links table hide-in-print float-to-right" data-fn="@Model[i].Id" data-sv="@Model[i].ShowValue">
                        @if (ViewBag.EstablishmentType != EstablishmentType.MAT)
                        {
                            <div class="your-chart-controls">
                                <div class="govuk-grid-column-one-half govuk-!-font-size-16 no-padding custom-action-mobile">
                                    <button class="save-as-image a-button" style="display: none" onclick="DfE.Views.BenchmarkChartsViewModel.saveAsImage('@Model[i].Name', 'chart_@i')"
                                            aria-label="Save image of @Model[i].FieldName">
                                        <i class="icon icon-save-image"><span class="govuk-visually-hidden">Save as image</span></i>
                                        <span>Save as image</span>
                                    </button>
                                </div>

                                <div class="govuk-grid-column-one-half govuk-!-font-size-16 no-padding float-to-right custom-action-mobile">
                                    <div class="float-to-right">
                                        <button style="display: none" class="customAdd float-to-right a-button" aria-label="Add @Model[i].FieldName to Your Charts" onclick="DfE.Views.BenchmarkChartsViewModel.addRemoveYourCharts(@Model[i].Id,'@Model[i].ShowValue', true, this);">
                                            <i class="icon icon-bookmark"><span class="govuk-visually-hidden">Bookmark</span></i>
                                            <span>Add to your charts</span>
                                        </button>
                                        <button style="display: none" class="customRemove a-button" aria-label="Remove @Model[i].FieldName from Your Charts" onclick="DfE.Views.BenchmarkChartsViewModel.addRemoveYourCharts(@Model[i].Id,'@Model[i].ShowValue', false, this);">
                                            <i class="icon icon-bookmark"><span class="govuk-visually-hidden">Bookmark</span></i>
                                            <span>Remove from your charts</span>
                                        </button>
                                    </div>
                                    <div style="display: none" class="float-to-right govuk-!-font-size-16 no-padding view-your-charts">
                                        <a aria-label="View Your Charts" class="float-to-right" href="#" onclick="$('#Custom a')[0].click(); $('#Custom a')[0].focus(); $('#customTabSection').show(); DfE.Views.BenchmarkChartsViewModel.changeTab('Custom');">
                                            <i class="icon icon-report"></i>
                                            <span class="govuk-body-s">View your charts</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="govuk-grid-column-full govuk-!-font-size-16 no-padding">
                                <button class="save-as-image a-button" style="display: none" onclick="DfE.Views.BenchmarkChartsViewModel.saveAsImage('@Model[i].Name', 'chart_@i')"
                                        aria-label="Save image of @Model[i].FieldName">
                                    <i class="icon icon-save-image"><span class="govuk-visually-hidden">Save as image</span></i>
                                    <span>Save as image</span>
                                </button>
                            </div>
                        }
                    </div>
                }

                @if (Model[i].DataJson != null)
                {
                    <div class="govuk-grid-row">
                        <div class=" govuk-grid-column-full">
                            <div class="chart-wrapper @(ViewBag.ComparisonType == ComparisonType.BestInClass ? "bic" : "")" style="display: @Html.Raw(ViewBag.ChartFormat == ChartFormat.Tables ? "none" : "inline-block")">
                                <div id="chart_@i" class="chart" data-chart-title="@Model[i].Name" data-axis-label="@Model[i].ShowValue.GetDescription() @ChartLabelForCentralFinance()" data-chart='@Model[i].DataJson' data-img=''></div>
                            </div>
                            <div id="table_for_chart_@i" class="chart-table-wrapper" style="display: @Html.Raw(ViewBag.ChartFormat == ChartFormat.Tables ? "block" : "none")">
                                @if (ViewBag.EstablishmentType != EstablishmentType.MAT)
                                {
                                    @Html.Partial("Partials/ChartTable", Model[i])
                                }
                                else
                                {
                                    @Html.Partial("Partials/ChartTableTrust", Model[i])
                                }
                            </div>

                        </div>
                    </div>
                    <input name="benchmarkSchoolIndex" type="hidden" value="@Model[i].BenchmarkSchoolIndex" />
                    <input name="incompleteFinanceDataIndex" type="hidden" value="@string.Join(",", Model[i].IncompleteFinanceDataIndex)" />
                    <input name="incompleteWorkforceDataIndex" type="hidden" value="@string.Join(",", Model[i].IncompleteWorkforceDataIndex)" />
                }
                @if (Model[i].TableColumns != null)
                {
                    @Html.Partial("Partials/DataTable", Model[i])
                }
            </div>
        </div>
            }
        </div>
    }
</div>

@helper ChartLabelForCentralFinance()
{
    if (ViewBag.EstablishmentType == EstablishmentType.MAT)
    {
        if (ViewBag.TrustFinancing != null)
        {
            var matFinance = (MatFinancingType)Enum.Parse(typeof(MatFinancingType), ViewBag.TrustFinancing.ToString());
            <text>(@matFinance.GetDescription())</text>
        }
    }
    else
    {
        if (ViewBag.ChartGroup != null && ViewBag.ChartGroup != ChartGroupType.Workforce)
        {
            if (ViewBag.EstablishmentType != EstablishmentType.Maintained && ViewBag.Financing != null)
            {
                var centralFinance = (CentralFinancingType)Enum.Parse(typeof(CentralFinancingType), ViewBag.Financing.ToString());
                <text>(@centralFinance.GetDescription())</text>
            }
        }

    }
}


@*@if (Request.IsAjaxRequest() && (Request.Browser.Browser.Contains("InternetExplorer") || Request.UserAgent.Contains("Edge")))
{
    <script src="/public/scripts/termi/element.details.ajax.js"></script>
}*@