@using SFB.Web.UI.Helpers.Enums
@model SFB.Web.UI.Models.ChartViewModel

<div class="govuk-inset-text app-govuk-inset-text--narrow data-table-panel">
    <h4 class="govuk-heading-s table-header">This includes</h4>

    <table class="govuk-table tablesorter data-table-js includes-table">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header school-column">School</th>
                @foreach (var column in Model.TableColumns)
                {
                    <th scope="col" class="govuk-table__header">
                        <span>@column.Name</span>

                        <div class="sort-icon"></div>

                        @if (column.HelpTooltip != null)
                        {
                            <span class="help-icon no-margin hide-in-print">
                                <span class="icon dark-blue">
                                    <a class="govuk-link helpLink hide-in-print" href="#" id="additionalGrantModal" onclick="DfE.Util.ModalRenderer.renderAdditionalGrantModal()">
                                    </a>
                                </span>
                            </span>
                        }
                    </th>
                }
            </tr>
        </thead>
        <tbody class="govuk-table__body">
            @foreach (var school in Model.TableColumns[0].BenchmarkData)
            {
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell school-column">
                        @{
                            var style = school.Urn == ViewBag.HomeSchoolId?.ToString() ? "highlight-field" : "";

                            if (school.Urn.StartsWith("MAT"))
                            {
                                var name = school.School.Substring(0, school.School.LastIndexOf("#"));
                                <a target="_self" href="/trust/detail?companyNo=@school.Urn&name=@name" class="govuk-link @style">@name</a>
                            }
                            else
                            {
                                <a target="_self" href="/school?urn=@school.Urn" class="govuk-link @style">@school.School</a>
                            }
                        }

                    </td>
                    @foreach (var column in Model.TableColumns)
                    {
                        var amount = column.BenchmarkData.FirstOrDefault(b => b.School == school.School).Amount;
                        if (Model.ShowValue == UnitType.PercentageOfTotalExpenditure || Model.ShowValue == UnitType.PercentageOfTotalIncome)
                        {
                            if (amount.HasValue)
                            {
                                <td class="govuk-table__cell govuk-table__cell--numeric">@amount.GetValueOrDefault().ToString("F1")%</td>
                            }
                            else
                            {
                                <td class="govuk-table__cell govuk-table__cell--numeric">Not applicable</td>
                            }
                        }
                        else
                        {
                            if (amount.HasValue)
                            {
                                <td class="govuk-table__cell govuk-table__cell--numeric">@amount.GetValueOrDefault().ToString("C0")</td>
                            }
                            else
                            {
                                <td class="govuk-table__cell govuk-table__cell--numeric">Not applicable</td>
                            }
                        }
                    }
                </tr>
            }
        </tbody>
    </table>
 </div>