@using SFB.Web.ApplicationCore.Helpers.Enums
@using SFB.Web.UI.Helpers.Constants
@using SFB.Web.UI.Helpers.Enums

@model SFB.Web.UI.Models.BenchmarkChartListViewModel

<div class="custom tabs">
    <ul role="tablist">
        <li id="@TabType.Expenditure" class="hide-in-print active" role="presentation">
            <a aria-selected="true" 
               class="tab-link tab-vertical-align" 
               role="tab" 
               href="javascript: void(0)"
               tabindex="0" 
               aria-controls="tabsSection"
               onkeydown="DfE.Views.BenchmarkChartsViewModel.tabKeydown(event)"
               onclick="DfE.Views.BenchmarkChartsViewModel.changeTab('@TabType.Expenditure')">@TabNames.EXPENDITURE <span class="bmtab visually-hidden"> selected</span></a>
        </li>
        <li id="@TabType.Income" class="hide-in-print" role="presentation">
            <a aria-selected="false" 
               class="tab-link tab-vertical-align" 
               role="tab" 
               href="javascript: void(0)"
               tabindex="-1" 
               aria-controls="tabsSection"
               onkeydown="DfE.Views.BenchmarkChartsViewModel.tabKeydown(event)"
               onclick="DfE.Views.BenchmarkChartsViewModel.changeTab('@TabType.Income')">@TabNames.INCOME <span class="bmtab visually-hidden"></span></a>
        </li>
        <li id="@TabType.Balance" class="hide-in-print" role="presentation">
            <a aria-selected="false" 
               class="tab-link tab-vertical-align" 
               role="tab" 
               href="javascript: void(0)"
               tabindex="-1" 
               aria-controls="tabsSection"
               onkeydown="DfE.Views.BenchmarkChartsViewModel.tabKeydown(event)"
               onclick="DfE.Views.BenchmarkChartsViewModel.changeTab('@TabType.Balance')">@TabNames.BALANCE <span class="bmtab visually-hidden"></span></a>
        </li>
        @if (Model == null || Model.EstablishmentType != EstablishmentType.MAT)
        {
            <li id="@TabType.Workforce" class="hide-in-print" role="presentation">
                <a aria-selected="false" 
                   class="tab-link tab-vertical-align" 
                   role="tab"
                   href="javascript: void(0)"
                   tabindex="-1" 
                   aria-controls="tabsSection"
                   onkeydown="DfE.Views.BenchmarkChartsViewModel.tabKeydown(event)"
                   onclick="DfE.Views.BenchmarkChartsViewModel.changeTab('@TabType.Workforce')">@TabNames.WORKFORCE <span class="bmtab visually-hidden"></span></a>
            </li>
        }
        @if (Model.EstablishmentType != EstablishmentType.MAT)
        {
            <li id="@TabType.Custom" class="hide-in-print" role="presentation">
                @*<span class="visually-hidden">@TabNames.CUSTOM {{ctrl.totalSelectCount()}} selected</span>*@
                <a aria-selected="false" 
                   class="tab-link" 
                   role="tab" 
                   href="javascript: void(0)"
                   tabindex="-1" 
                   aria-controls="customTabSection"
                   onkeydown="DfE.Views.BenchmarkChartsViewModel.tabKeydown(event)"
                   onclick="DfE.Views.BenchmarkChartsViewModel.changeTab('@TabType.Custom')">
                    <span>@TabNames.CUSTOM<br /><span style="display: inline-block"> (<span ng-cloak class="font-xsmall">{{ctrl.totalSelectCount()}} selected</span>)</span></span>
                    <span class="bmtab visually-hidden">tab</span>
                </a>
            </li>

            if (Model.ComparisonType == ComparisonType.BestInClass)
            {
                <li id="BestInClass" class="comparison-tab hide-in-print" role="presentation">
                    <a aria-selected="false" 
                       class="tab-link comp tab-vertical-align" 
                       role="tab" 
                       href="javascript: void(0)"
                       tabindex="-1" 
                       aria-controls="bestInClassTabSection"
                       onkeydown="DfE.Views.BenchmarkChartsViewModel.tabKeydown(event)"
                       onclick="DfE.Views.BenchmarkChartsViewModel.changeTab('BestInClass')">Comparison schools<span class="bmtab visually-hidden">@Html.Raw(Model.ComparisonType == ComparisonType.BestInClass ? "selected " : "")</span></a>
                </li>
            }
            else
            {
                <li id="ComparisonSchools" class="comparison-tab hide-in-print" role="presentation">
                    <a aria-selected="false" 
                       class="tab-link tab-vertical-align" 
                       role="tab" 
                       href="javascript: void(0)"
                       tabindex="-1" 
                       aria-controls="comparisonSchoolsTabSection"
                       onkeydown="DfE.Views.BenchmarkChartsViewModel.tabKeydown(event)"
                       onclick="DfE.Views.BenchmarkChartsViewModel.changeTab('ComparisonSchools')">Comparison schools</a>
                </li>
            }
        }

    </ul>
</div>
<span role="status" class="visually-hidden">{{ctrl.totalSelectCount()}} selected in Your Charts</span>
