@using SFB.Web.Common
@using SFB.Web.UI.Helpers.Constants
@using SFB.Web.UI.Helpers.Enums

@model SFB.Web.UI.Models.BenchmarkChartListViewModel

<nav class="tabs" role="navigation">
    <ol role="tablist">
        @if (Model.ComparisonType == ComparisonType.BestInClass)
        {
            <li id="BestInClass" class="hide-in-print @Html.Raw(Model.ComparisonType == ComparisonType.BestInClass ? "active" : "")" role="tab">                
                <a href="#" onclick="DfE.Views.BenchmarkChartsViewModel.ChangeTab('BestInClass')">Progress<span class="bmtab visually-hidden">@Html.Raw(Model.ComparisonType == ComparisonType.BestInClass ? "selected " : "")</span></a>
            </li>
        }
        <li id="@RevenueGroupType.Expenditure" class="hide-in-print @Html.Raw(Model.ComparisonType != ComparisonType.BestInClass ? "active" : "")" role="tab">
            <a href="#" onclick="DfE.Views.BenchmarkChartsViewModel.ChangeTab('@RevenueGroupType.Expenditure')">@RevenueGroupNames.EXPENDITURE <span class="bmtab visually-hidden">@Html.Raw(Model.ComparisonType != ComparisonType.BestInClass ? "selected " : "")</span></a>            
        </li>
        <li id="@RevenueGroupType.Income" class="hide-in-print" role="tab">
            <a href="#" onclick="DfE.Views.BenchmarkChartsViewModel.ChangeTab('@RevenueGroupType.Income')">@RevenueGroupNames.INCOME <span class="bmtab visually-hidden"></span></a>            
        </li>
        <li id="@RevenueGroupType.Balance" class="hide-in-print" role="tab">
            <a href="#" onclick="DfE.Views.BenchmarkChartsViewModel.ChangeTab('@RevenueGroupType.Balance')">@RevenueGroupNames.BALANCE <span class="bmtab visually-hidden"></span></a>            
        </li>
        @if (Model == null || Model.EstablishmentType != EstablishmentType.MAT)
        {
            <li id="@RevenueGroupType.Workforce" class="hide-in-print" role="tab">
                <a href="#" onclick="DfE.Views.BenchmarkChartsViewModel.ChangeTab('@RevenueGroupType.Workforce')">@RevenueGroupNames.WORKFORCE <span class="bmtab visually-hidden"></span></a>                
            </li>
        }
        @if (Model.EstablishmentType != EstablishmentType.MAT)
        {
            <li id="@RevenueGroupType.Custom" class="hide-in-print" role="tab">
                <span class="visually-hidden">@RevenueGroupNames.CUSTOM {{ctrl.totalSelectCount()}} selected</span>
                <a class="custom" href="#" onclick="DfE.Views.BenchmarkChartsViewModel.ChangeTab('@RevenueGroupType.Custom')">
                    <span aria-hidden="true">@RevenueGroupNames.CUSTOM (<span ng-cloak class="font-xsmall">{{ctrl.totalSelectCount()}} selected</span>)</span>
                    <span class="bmtab visually-hidden">tab</span>
                </a> 
                <a class="helpLink" href="#" id="renderYourChartsInfo" onclick="DfE.Util.ComparisonList.RenderYourChartsInfoModal()">
                    <img src="/public/assets/images/help-icon.png" />
                </a>                
            </li>
        }
    </ol>
</nav>
<span role="status" class="visually-hidden">{{ctrl.totalSelectCount()}} selected in Your Charts</span>
