@using SFB.Web.Common
@model SFB.Web.UI.Models.BenchmarkChartListViewModel

<div class="charts-section">
    <div class="grid-row">
        <input type="hidden" id="tabSelection" value="@ViewBag.Tab" />
        <form autocomplete="off">
            @Html.Partial("~/Views/BenchmarkCharts/Partials/ChartGroups.cshtml", Model.ChartGroups)
            @Html.Partial("~/Views/BenchmarkCharts/Partials/ValueSelect.cshtml", Model)
            @if (Model.EstablishmentType == EstablishmentType.Academies || Model.EstablishmentType == EstablishmentType.All)
            {
                Html.RenderPartial("~/Views/BenchmarkCharts/Partials/CentralFinancing.cshtml");
            }
            else if (Model.EstablishmentType == EstablishmentType.MAT)
            {
                <div class="column-one-third chart-filter">
                    @Html.Partial("~/Views/BenchmarkCharts/Partials/TrustCentralFinancing.cshtml")
                </div>
            }
            <div class="column-full font-xsmall chartTable hide-in-print">
                <button style="display: @Html.Raw(ViewBag.ChartFormat == ChartFormat.Tables ? "block" : "none")" class="view-charts-tables charts no-underline a-button" onclick="DfE.Util.Charting.ToggleChartsTables('Charts')"><img class="icon" src="~/public/assets/images/icons/icon-chart.png" alt="" /><span> View as charts</span></button>
                <button style="display: @Html.Raw(ViewBag.ChartFormat == ChartFormat.Tables ? "none" : "block")" class="view-charts-tables tables no-underline a-button" onclick="DfE.Util.Charting.ToggleChartsTables('Tables')"><img class="icon" src="~/public/assets/images/icons/icon-list.png" alt="" /><span> View as tables</span></button>
            </div>
            <div class="column-full font-xsmall hide-in-print">
                <button type="button" class="back-to-main-chart-group-button" onclick="DfE.Views.BenchmarkChartsViewModel.ResetGrouping()">
                    <span><</span>
                    <span class="underline">All <span class="js-parent-group">expenditure</span> charts</span>
                </button>
            </div>
            <input type="submit" class="hidden" />
        </form>
    </div>

    <div class="font-xsmall latest-year-message">
        @if (Model.EstablishmentType == EstablishmentType.MAT)
        {
            <span>The data below is from the latest year available. For trusts this is <span class="bold-xsmall">@Model.LatestTermAcademies</span></span>
        }
        else
        {
            <span>The data below is from the latest year available. For maintained schools this is <span class="bold-xsmall">@Model.LatestTermMaintained</span>, academies from <span class="bold-xsmall">@Model.LatestTermAcademies</span></span>
        }
    </div>
    <div id="benchmarkChartsList">
        @Html.Partial("~/Views/BenchmarkCharts/Partials/Chart.cshtml", Model.ModelList)
    </div>
</div>