@using SFB.Web.ApplicationCore.Helpers.Enums
@using SFB.Web.UI.Helpers.Constants
@using SFB.Web.UI.Helpers.Enums

@model SFB.Web.UI.Models.BenchmarkChartListViewModel

<nav class="tabs" role="navigation">
    <ol role="tablist">
        <li id="@RevenueGroupType.Expenditure" class="hide-in-print active" role="tab">
            <a class="tab-link" onclick="DfE.Views.BenchmarkChartsViewModel.ChangeTab('@RevenueGroupType.Expenditure')">@RevenueGroupNames.EXPENDITURE <span class="bmtab visually-hidden"> selected</span></a>
        </li>
        <li id="@RevenueGroupType.Income" class="hide-in-print" role="tab">
            <a class="tab-link" onclick="DfE.Views.BenchmarkChartsViewModel.ChangeTab('@RevenueGroupType.Income')">@RevenueGroupNames.INCOME <span class="bmtab visually-hidden"></span></a>
        </li>
        <li id="@RevenueGroupType.Balance" class="hide-in-print" role="tab">
            <a class="tab-link" onclick="DfE.Views.BenchmarkChartsViewModel.ChangeTab('@RevenueGroupType.Balance')">@RevenueGroupNames.BALANCE <span class="bmtab visually-hidden"></span></a>
        </li>
        @if (Model == null || Model.EstablishmentType != EstablishmentType.MAT)
        {
            <li id="@RevenueGroupType.Workforce" class="hide-in-print" role="tab">
                <a class="tab-link" onclick="DfE.Views.BenchmarkChartsViewModel.ChangeTab('@RevenueGroupType.Workforce')">@RevenueGroupNames.WORKFORCE <span class="bmtab visually-hidden"></span></a>
            </li>
        }
        @if (Model.EstablishmentType != EstablishmentType.MAT)
        {
            <li id="@RevenueGroupType.Custom" class="hide-in-print" role="tab">
                @*<span class="visually-hidden">@RevenueGroupNames.CUSTOM {{ctrl.totalSelectCount()}} selected</span>*@
                <a class="tab-link custom" onclick="DfE.Views.BenchmarkChartsViewModel.ChangeTab('@RevenueGroupType.Custom')" ng-click="ctrl.displayCustomReport()">
                    <span>@RevenueGroupNames.CUSTOM <span style="display: inline-block"> (<span ng-cloak class="font-xsmall">{{ctrl.totalSelectCount()}} selected</span>)</span></span>
                    <span class="bmtab visually-hidden">tab</span>
                </a>
                <a class="helpLink hide-in-print" href="#" id="renderYourChartsInfo" onclick="DfE.Util.ModalRenderer.RenderYourChartsInfoModal()">
                    <img src="/public/assets/images/help-icon.png" alt="Your charts - more information"/>
                </a>
            </li>
        }
        @if (Model.ComparisonType == ComparisonType.BestInClass)
        {
            <li id="BestInClass" class="hide-in-print" role="tab">
                <a class="tab-link" onclick="DfE.Views.BenchmarkChartsViewModel.ChangeTab('BestInClass')">Comparison schools<span class="bmtab visually-hidden">@Html.Raw(Model.ComparisonType == ComparisonType.BestInClass ? "selected " : "")</span></a>
            </li>
        }
    </ol>
</nav>
<span role="status" class="visually-hidden">{{ctrl.totalSelectCount()}} selected in Your Charts</span>
