@using SFB.Web.ApplicationCore.Helpers.Enums
@using SFB.Web.UI.Helpers.Constants
@using SFB.Web.UI.Helpers.Enums

@model SFB.Web.UI.Models.BenchmarkChartListViewModel

<div id="tabs" class="govuk-tabs custom govuk-!-margin-top-6" data-module="govuk-tabs">
    <ul class="govuk-tabs__list">
        <li id="@TabType.Expenditure" class="govuk-tabs__list-item app-govuk-tabs__list-item--s govuk-tabs__list-item--selected hide-in-print">
            <a class="govuk-tabs__tab"
               href="#tabsSection"
               onfocus="DfE.Views.BenchmarkChartsViewModel.changeTab('@TabType.Expenditure')">@TabNames.EXPENDITURE <span class="bmtab visually-hidden"> selected</span></a>
        </li>
        <li id="@TabType.Income" class="govuk-tabs__list-item app-govuk-tabs__list-item--s hide-in-print">
            <a class="govuk-tabs__tab"
               href="#tabsSection"
               onfocus="DfE.Views.BenchmarkChartsViewModel.changeTab('@TabType.Income')">@TabNames.INCOME <span class="bmtab visually-hidden"></span></a>
        </li>
        <li id="@TabType.Balance" class="govuk-tabs__list-item app-govuk-tabs__list-item--s hide-in-print">
            <a class="govuk-tabs__tab"
               href="#tabsSection"
               onfocus="DfE.Views.BenchmarkChartsViewModel.changeTab('@TabType.Balance')">@TabNames.BALANCE <span class="bmtab visually-hidden"></span></a>
        </li>
        @if (Model == null || Model.EstablishmentType != EstablishmentType.MAT)
        {
            <li id="@TabType.Workforce" class="govuk-tabs__list-item app-govuk-tabs__list-item--s hide-in-print">
                <a class="govuk-tabs__tab"
                   href="#tabsSection"
                   onfocus="DfE.Views.BenchmarkChartsViewModel.changeTab('@TabType.Workforce')">@TabNames.WORKFORCE <span class="bmtab visually-hidden"></span></a>
            </li>
        }
        @if (Model.EstablishmentType != EstablishmentType.MAT)
        {
            <li id="@TabType.Custom" class="govuk-tabs__list-item app-govuk-tabs__list-item--s hide-in-print">
                <a class="govuk-tabs__tab"
                   href="#customTabSection"
                   onfocus="DfE.Views.BenchmarkChartsViewModel.changeTab('@TabType.Custom')">
                    <span>@TabNames.CUSTOM<br /><span style="display: inline-block"> (<span ng-cloak class="font-xsmall">{{ctrl.totalSelectCount()}} selected</span>)</span></span>
                    <span class="bmtab visually-hidden">tab</span>
                </a>
            </li>

            if (Model.ComparisonType == ComparisonType.BestInClass)
            {
                <li id="BestInClass" class="govuk-tabs__list-item app-govuk-tabs__list-item--s hide-in-print">
                    <a class="govuk-tabs__tab"
                       href="#bestInClassTabSection"
                       onfocus="DfE.Views.BenchmarkChartsViewModel.changeTab('BestInClass')">Comparison schools<span class="bmtab visually-hidden">@Html.Raw(Model.ComparisonType == ComparisonType.BestInClass ? "selected " : "")</span></a>
                </li>
            }
            else
            {
                <li id="ComparisonSchools" class="govuk-tabs__list-item app-govuk-tabs__list-item--s comparison-tab hide-in-print">
                    <a class="govuk-tabs__tab"
                       href="#comparisonSchoolsTabSection"
                       onfocus="DfE.Views.BenchmarkChartsViewModel.changeTab('ComparisonSchools')">Comparison schools</a>
                </li>
            }
        }

    </ul>
    <div id="tabsSection" class="govuk-tabs__panel app-tabs__panel--no-border">
        @Html.Partial("Partials/TabContent")
    </div>
    @if (Model.EstablishmentType != EstablishmentType.MAT)
    {
        <div id="customTabSection" class="govuk-tabs__panel app-tabs__panel--no-border govuk-tabs__panel--hidden">
            @Html.Partial("Partials/CustomTabContent")
        </div>

        <div id="comparisonSchoolsTabSection" class="govuk-tabs__panel app-tabs__panel--no-border govuk-tabs__panel--hidden">
            @Html.Partial("Partials/ComparisonSchoolsTabContent")
        </div>
    }
    @if (Model.ComparisonType == ComparisonType.BestInClass)
    {
        <div id="bestInClassTabSection" class="govuk-tabs__panel app-tabs__panel--no-border govuk-tabs__panel--hidden">
            @Html.Partial("Partials/BicTabContent")
        </div>
    }
</div>
<span role="status" class="visually-hidden">{{ctrl.totalSelectCount()}} selected in Your Charts</span>
