@using SFB.Web.ApplicationCore.Helpers.Enums
@model SFB.Web.UI.Models.BenchmarkChartListViewModel

<div class="charts-section">
    <div class="govuk-grid-row">
        <div class=" govuk-grid-column-full">
            <div class="sticky-div sticky-chart-controls @ViewBag.Tab">
                <div id="controls-accordion">
                    <div>
                        <fieldset class="govuk-fieldset">
                            <legend class="govuk-visually-hidden" id="filtersLegend">Filters</legend>
                            <div class="govuk-govuk-grid-row">
                                <div class="govuk-grid-column-full no-padding">
                                    @Html.Partial("~/Views/BenchmarkCharts/Partials/ChartGroups.cshtml", Model.ChartGroups)
                                    @Html.Partial("~/Views/BenchmarkCharts/Partials/ValueSelect.cshtml", Model)

                                    @if (Model.EstablishmentType == EstablishmentType.Academies || Model.EstablishmentType == EstablishmentType.All)
                                    {
                                        Html.RenderPartial("~/Views/BenchmarkCharts/Partials/CentralFinancing.cshtml");
                                    }
                                    else if (Model.EstablishmentType == EstablishmentType.MAT)
                                    {
                                        @Html.Partial("~/Views/BenchmarkCharts/Partials/TrustCentralFinancing.cshtml")
                                    }
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
            <form autocomplete="off">
                <input type="hidden" id="tabSelection" value="@ViewBag.Tab" />
                <input type="submit" class="hidden" value="submit">

                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-three-quarters govuk-!-font-size-16 latest-year-message">
                        @if (Model.EstablishmentType == EstablishmentType.MAT)
                        {
                            <span>The data below is from the latest year available. For trusts this is <span class="govuk-!-font-size-16 govuk-!-font-weight-bold">@Model.LatestTermAcademies</span></span>
                        }
                        else
                        {
                            <span>The data below is from the latest year available. For maintained schools this is <span class="govuk-!-font-size-16 govuk-!-font-weight-bold">@Model.LatestTermMaintained</span>, academies from <span class="govuk-!-font-size-16 govuk-!-font-weight-bold">@Model.LatestTermAcademies</span></span>
                        }
                    </div>
                    
                    <div class="govuk-grid-column-one-quarter govuk-!-font-size-16 chartTable hide-in-print mt-1">
                        <button type="button" style="display: @Html.Raw(ViewBag.ChartFormat == ChartFormat.Tables ? "block" : "none")" class="view-charts-tables charts no-underline a-button" onclick="DfE.Views.BenchmarkChartsViewModel.toggleChartsTables('Charts')"><img class="icon icon-chart" src="~/public/assets/images/icons/graph.svg" alt="" /><span> View as charts</span></button>
                        <button type="button" style="display: @Html.Raw(ViewBag.ChartFormat == ChartFormat.Tables ? "none" : "block")" class="view-charts-tables tables no-underline a-button" onclick="DfE.Views.BenchmarkChartsViewModel.toggleChartsTables('Tables')"><img class="icon icon-table" src="~/public/assets/images/icons/table.svg" alt="" /><span> View as tables<span class="govuk-visually-hidden"> - Recommended option for screen readers</span></span></button>
                    </div>

                    <div class=" govuk-grid-column-full govuk-!-font-size-16 hide-in-print">
                        <button type="button" class="back-to-main-chart-group-button" onclick="DfE.Views.BenchmarkChartsViewModel.resetGrouping()">
                            <span><</span>
                            <span class="underline">All <span class="js-parent-group">expenditure</span> charts</span>
                        </button>
                    </div>
                </div>

                <div id="benchmarkChartsList">
                    @Html.Partial("~/Views/BenchmarkCharts/Partials/Chart.cshtml", Model.ModelList)
                </div>
            </form>
        </div>
    </div>
</div>
