@using SFB.Web.Common
@model SFB.Web.UI.Models.BenchmarkChartListViewModel

<div class="chartsSection">
    <div class="grid-row">
        <input type="hidden" id="tabSelection" value="@ViewBag.Tab" />
        <form autocomplete="off">
            @Html.Partial("~/Views/BenchmarkCharts/Partials/ChartGroups.cshtml", Model.ChartGroups)
            @Html.Partial("~/Views/BenchmarkCharts/Partials/ValueSelect.cshtml", Model)
            @if (Model.EstablishmentType == EstablishmentType.Academy  || Model.EstablishmentType == EstablishmentType.All)
            {
                Html.RenderPartial("~/Views/BenchmarkCharts/Partials/CentralFinancing.cshtml");
            }
            else if (Model.EstablishmentType == EstablishmentType.MAT)
            {
                <div class="column-one-third chart-filter">
                    @Html.Partial("~/Views/BenchmarkCharts/Partials/TrustCentralFinancing.cshtml")
                </div>
            }
            <div class="column-full font-xsmall chartTable hide-in-print">
                <a style="display: @Html.Raw(ViewBag.ChartFormat == ChartFormat.Tables ? "block" : "none")" class="view-charts-tables charts no-underline" href="javascript: void(0)" onclick="DfE.Views.BenchmarkChartsViewModel.ToggleChartsTables('charts')"><img class="icon" src="~/public/assets/images/icons/icon-list.png" alt="" /><span> View as charts</span></a>
                <a style="display: @Html.Raw(ViewBag.ChartFormat == ChartFormat.Tables ? "none" : "block")" class="view-charts-tables tables no-underline" href="javascript: void(0)" onclick="DfE.Views.BenchmarkChartsViewModel.ToggleChartsTables('tables')"><img class="icon" src="~/public/assets/images/icons/icon-list.png" alt="" /><span> View as tables</span></a>
                <input id="chartsOrTablesMode" type="hidden" value="charts"/>
            </div>
            <input type="submit" class="hidden"/>
        </form>
    </div>

    <div class="font-xsmall latest-year-message">
        @if (Model.EstablishmentType == EstablishmentType.MAT)
        {
            <span>The data below is from the latest year available. For trusts this is <span class="bold-xsmall">@Model.LatestTermAcademies</span></span>
        }
        else
        {
            <span>The data below is from the latest year available. For maintained schools this is <span class="bold-xsmall">@Model.LatestTermMaintained</span>, academies from <span class="bold-xsmall">@Model.LatestTermAcademies</span></span>
        }
    </div>
    <div id="benchmarkChartsList">
        @Html.Partial("~/Views/BenchmarkCharts/Partials/Chart.cshtml", Model.ModelList)
    </div>
</div>