@using SFB.Web.ApplicationCore.Helpers.Enums
@using SFB.Web.UI.Helpers.Constants
@using SFB.Web.UI.Helpers.Enums

<div class="govuk-grid-column-one-third chart-filter govuk-!-padding-right-0">
    <div class="govuk-form-group @IsWorkforceTab()">
        <label class="govuk-label" for="TrustCentralFinancing">Trust finance</label>
        <select name="TrustCentralFinancing" id="TrustCentralFinancing" class="govuk-select" onchange="DfE.Views.BenchmarkChartsViewModel.rebuildCharts()">
            <option value="@MatFinancingType.TrustAndAcademies" @IsSelected(MatFinancingType.TrustAndAcademies)>@MATFinancing.TRUST_ACADEMIES</option>
            <option value="@MatFinancingType.TrustOnly" @IsSelected(MatFinancingType.TrustOnly)>@MATFinancing.TRUST_ONLY</option>
            <option value="@MatFinancingType.AcademiesOnly" @IsSelected(MatFinancingType.AcademiesOnly)>@MATFinancing.ACADEMIES_ONLY</option>
        </select>
    </div>
</div>

@helper IsWorkforceTab()
{
    if (ViewBag.Tab == TabType.Workforce)
    {
        <text>hidden</text>
    }
}

@helper IsSelected(MatFinancingType option)
{
    if (option == Enum.Parse(typeof(MatFinancingType), ViewBag.TrustFinancing.ToString()))
    {
        <text>selected</text>
    }
}