@using SFB.Web.ApplicationCore.Helpers.Enums
@using SFB.Web.UI.Helpers.Constants
@using SFB.Web.UI.Helpers.Enums


<div class="form-group @IsWorkforceTab()">
    <label class="form-label" for="TrustCentralFinancing">Central financing</label>
    <select name="TrustCentralFinancing" id="TrustCentralFinancing" class="form-control" onchange="DfE.Views.BenchmarkChartsViewModel.RebuildCharts()">
        <option value="@MatFinancingType.TrustAndAcademies" @IsSelected(MatFinancingType.TrustAndAcademies)>@MATFinancing.TRUST_ACADEMIES</option>
        <option value="@MatFinancingType.TrustOnly" @IsSelected(MatFinancingType.TrustOnly)>@MATFinancing.TRUST_ONLY</option>
        <option value="@MatFinancingType.AcademiesOnly" @IsSelected(MatFinancingType.AcademiesOnly)>@MATFinancing.ACADEMIES_ONLY</option>
    </select>
</div>

@helper IsWorkforceTab()
{
    if (ViewBag.Tab == RevenueGroupType.Workforce)
    {
        <text>hidden</text>
    }
}

@helper IsSelected(MatFinancingType option)
{
    if (option == Enum.Parse(typeof(MatFinancingType), ViewBag.TrustFinancing.ToString()))
    {
        <text>selected</text>
    }
}