@using SFB.Web.ApplicationCore.Helpers.Enums
@model SFB.Web.UI.Models.BenchmarkChartListViewModel

<table id="criteriaTable" class="govuk-table" >
    <thead class="govuk-table__head">
    <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Characteristic</th>
        <th scope="col" class="govuk-table__header">Default school value</th>
        <th scope="col" class="govuk-table__header">Comparison criteria</th>
    </tr>
    </thead>
    <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">Finance type</td>
            @if (Model.BenchmarkSchoolData.EstabType == EstablishmentType.Academies)
            {
                <td class="govuk-table__cell">Academy</td>
            }
            else
            {
                <td class="govuk-table__cell">Maintained</td>
            }
            <td class="govuk-table__cell">@Model.SearchedEstablishmentType</td>
        </tr>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">Number of pupils</td>
            <td class="govuk-table__cell">@Model.BenchmarkSchoolData.PupilCount</td>
            <td class="govuk-table__cell">@Math.Ceiling((decimal)Model.AdvancedCriteria.MinNoPupil) - @Math.Floor((decimal)Model.AdvancedCriteria.MaxNoPupil)</td>
        </tr>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">School phase</td>
            <td class="govuk-table__cell">@Model.BenchmarkSchoolData.SchoolOverallPhase</td>
            <td class="govuk-table__cell">@Model.AdvancedCriteria.SchoolOverallPhase.FirstOrDefault()</td>
        </tr>
        @if (Model.AdvancedCriteria.UrbanRural != null)
        {
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">Urban / rural location</td>
                <td class="govuk-table__cell">@Model.BenchmarkSchoolData.UrbanRural</td>
                <td class="govuk-table__cell">@string.Join(", ", Model.AdvancedCriteria.UrbanRural.ToArray())</td>
            </tr>
        }
        @if (Model.AdvancedCriteria.MinPerFSM.HasValue)
        {
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">Percentage of pupils eligible for free school meals</td>
                <td class="govuk-table__cell">@decimal.Round(Model.BenchmarkSchoolData.PercentageOfEligibleFreeSchoolMeals.GetValueOrDefault(), 2, MidpointRounding.AwayFromZero)%</td>
                <td class="govuk-table__cell">@decimal.Round(Model.AdvancedCriteria.MinPerFSM.GetValueOrDefault(), 2, MidpointRounding.AwayFromZero)% - @decimal.Round(Model.AdvancedCriteria.MaxPerFSM.GetValueOrDefault(), 2, MidpointRounding.AwayFromZero)%</td>
            </tr>
        }
        @if (Model.AdvancedCriteria.MinPerSEN.HasValue)
        {
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">Pupils with special educational needs who have statements or education and health care plans</td>
                <td class="govuk-table__cell">@decimal.Round(Model.BenchmarkSchoolData.PercentageOfPupilsWithSen.GetValueOrDefault(), 2, MidpointRounding.AwayFromZero)%</td>
                <td class="govuk-table__cell">@decimal.Round(Model.AdvancedCriteria.MinPerSEN.GetValueOrDefault(), 2, MidpointRounding.AwayFromZero)% - @decimal.Round(Model.AdvancedCriteria.MaxPerSEN.GetValueOrDefault(), 2, MidpointRounding.AwayFromZero)%</td>
            </tr>
        }
        @if (Model.AdvancedCriteria.MinPerEAL.HasValue)
        {
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">Pupils with English as an additional language</td>
                <td class="govuk-table__cell">@decimal.Round(Model.BenchmarkSchoolData.PercentageOfPupilsWithEal.GetValueOrDefault(), 2, MidpointRounding.AwayFromZero)%</td>
                <td class="govuk-table__cell">@decimal.Round(Model.AdvancedCriteria.MinPerEAL.GetValueOrDefault(), 2, MidpointRounding.AwayFromZero)% - @decimal.Round(Model.AdvancedCriteria.MaxPerEAL.GetValueOrDefault(), 2, MidpointRounding.AwayFromZero)%</td>
            </tr>
        }
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">Within your local authority</td>
            <td class="govuk-table__cell">-</td>
            <td class="govuk-table__cell">@Html.Raw(Model.SimpleCriteria.IncludeLa.GetValueOrDefault() ? "Yes" : "No")</td>
        </tr>
    </tbody>
</table>