@using SFB.Web.ApplicationCore.Helpers.Enums
@model SFB.Web.UI.Models.BenchmarkChartListViewModel

<table id="criteriaTable" class="govuk-table >
    <thead class="govuk-table__head">
    <tr>
        <th scope="col">Characteristic</th>
        <th scope="col">Default school value</th>
        <th scope="col">Comparison criteria</th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td>Finance type</td>
            @if (Model.BenchmarkSchoolData.EstabType == EstablishmentType.Academies)
            {
                <td>Academy</td>
            }
            else
            {
                <td>Maintained</td>
            }
            <td>@Model.SearchedEstablishmentType</td>
        </tr>
        <tr>
            <td>Number of pupils</td>
            <td>@Model.BenchmarkSchoolData.PupilCount</td>
            <td>@Math.Ceiling((decimal)Model.AdvancedCriteria.MinNoPupil) - @Math.Floor((decimal)Model.AdvancedCriteria.MaxNoPupil)</td>
        </tr>
        <tr>
            <td>School phase</td>
            <td>@Model.BenchmarkSchoolData.SchoolOverallPhase</td>
            <td>@Model.AdvancedCriteria.SchoolOverallPhase.FirstOrDefault()</td>
        </tr>
        @if (Model.AdvancedCriteria.UrbanRural != null)
        {
            <tr>
                <td>Urban / rural location</td>
                <td>@Model.BenchmarkSchoolData.UrbanRural</td>
                <td>@string.Join(", ", Model.AdvancedCriteria.UrbanRural.ToArray())</td>
            </tr>
        }
        @if (Model.AdvancedCriteria.MinPerFSM.HasValue)
        {
            <tr>
                <td>Percentage of pupils eligible for free school meals</td>
                <td>@decimal.Round(Model.BenchmarkSchoolData.PercentageOfEligibleFreeSchoolMeals.GetValueOrDefault(), 2, MidpointRounding.AwayFromZero)%</td>
                <td>@decimal.Round(Model.AdvancedCriteria.MinPerFSM.GetValueOrDefault(), 2, MidpointRounding.AwayFromZero)% - @decimal.Round(Model.AdvancedCriteria.MaxPerFSM.GetValueOrDefault(), 2, MidpointRounding.AwayFromZero)%</td>
            </tr>
        }
        @if (Model.AdvancedCriteria.MinPerSEN.HasValue)
        {
            <tr>
                <td>Pupils with special educational needs who have statements or education and health care plans</td>
                <td>@decimal.Round(Model.BenchmarkSchoolData.PercentageOfPupilsWithSen.GetValueOrDefault(), 2, MidpointRounding.AwayFromZero)%</td>
                <td>@decimal.Round(Model.AdvancedCriteria.MinPerSEN.GetValueOrDefault(), 2, MidpointRounding.AwayFromZero)% - @decimal.Round(Model.AdvancedCriteria.MaxPerSEN.GetValueOrDefault(), 2, MidpointRounding.AwayFromZero)%</td>
            </tr>
        }
        @if (Model.AdvancedCriteria.MinPerEAL.HasValue)
        {
            <tr>
                <td>Pupils with English as an additional language</td>
                <td>@decimal.Round(Model.BenchmarkSchoolData.PercentageOfPupilsWithEal.GetValueOrDefault(), 2, MidpointRounding.AwayFromZero)%</td>
                <td>@decimal.Round(Model.AdvancedCriteria.MinPerEAL.GetValueOrDefault(), 2, MidpointRounding.AwayFromZero)% - @decimal.Round(Model.AdvancedCriteria.MaxPerEAL.GetValueOrDefault(), 2, MidpointRounding.AwayFromZero)%</td>
            </tr>
        }
        <tr>
            <td>Within your local authority</td>
            <td>-</td>
            <td>@Html.Raw(Model.SimpleCriteria.IncludeLa.GetValueOrDefault() ? "Yes" : "No")</td>
        </tr>
    </tbody>
</table>