@using SFB.Web.ApplicationCore.Helpers.Enums
@model SFB.Web.UI.Models.BenchmarkChartListViewModel

<table id="criteriaTable" class="govuk-table >
    <thead class="govuk-table__head">
    <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Characteristic</th>
        <th class="govuk-table__header nowrap" scope="col" >Default school value</th>
        <th class="govuk-table__header nowrap" scope="col" >Comparison criteria</th>
    </tr>
    </thead>
    <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
            <td>Finance type</td>
            @if (Model.BenchmarkSchoolData.EstabType == EstablishmentType.Academies)
            {
                <td>Academy</td>
            }
            else
            {
                <td>Maintained</td>
            }
            <td>@Model.SearchedEstablishmentType</td>
        </tr>
        <tr class="govuk-table__row">
            <td>Number of pupils</td>
            <td>@Model.BenchmarkSchoolData.PupilCount</td>
            <td>@Math.Ceiling((decimal)Model.AdvancedCriteria.MinNoPupil) - @Math.Floor((decimal)Model.AdvancedCriteria.MaxNoPupil)</td>
        </tr>
        <tr class="govuk-table__row">
            <td>School phase</td>
            <td>@Model.BenchmarkSchoolData.SchoolOverallPhase</td>
            <td>@Model.AdvancedCriteria.SchoolOverallPhase.FirstOrDefault()</td>
        </tr>
        <tr class="govuk-table__row">
            <td>Urban / rural location</td>
            <td>@Model.BenchmarkSchoolData.UrbanRural</td>
            <td>@string.Join(", ", Model.AdvancedCriteria.UrbanRural.ToArray())</td>
        </tr>

        <tr class="govuk-table__row">
            <td>Percentage of pupils eligible for free school meals</td>
            <td>@decimal.Round(Model.BenchmarkSchoolData.PercentageOfEligibleFreeSchoolMeals.GetValueOrDefault(), 2, MidpointRounding.AwayFromZero)%</td>
            <td>@decimal.Round(Model.AdvancedCriteria.MinPerFSM.GetValueOrDefault(), 2, MidpointRounding.AwayFromZero)% - @decimal.Round(Model.AdvancedCriteria.MaxPerFSM.GetValueOrDefault(), 2, MidpointRounding.AwayFromZero)%</td>
        </tr>


        <tr class="govuk-table__row">
            <td>Pupils with special educational needs who have statements or education and health care plans</td>
            <td>@decimal.Round(Model.BenchmarkSchoolData.PercentageOfPupilsWithSen.GetValueOrDefault(), 2, MidpointRounding.AwayFromZero)%</td>
            <td>@decimal.Round(Model.AdvancedCriteria.MinPerSEN.GetValueOrDefault(), 2, MidpointRounding.AwayFromZero)% - @decimal.Round(Model.AdvancedCriteria.MaxPerSEN.GetValueOrDefault(), 2, MidpointRounding.AwayFromZero)%</td>
        </tr>


        <tr class="govuk-table__row">
            <td>Pupils with English as an additional language</td>
            <td>@decimal.Round(Model.BenchmarkSchoolData.PercentageOfPupilsWithEal.GetValueOrDefault(), 2, MidpointRounding.AwayFromZero)%</td>
            <td>@decimal.Round(Model.AdvancedCriteria.MinPerEAL.GetValueOrDefault(), 2, MidpointRounding.AwayFromZero)% - @decimal.Round(Model.AdvancedCriteria.MaxPerEAL.GetValueOrDefault(), 2, MidpointRounding.AwayFromZero)%</td>
        </tr>

        <tr class="govuk-table__row">
            <td>Grant funding per pupil</td>
            <td >@Model.BenchmarkSchoolData.PerPupilGrantFunding.GetValueOrDefault().ToString("C")</td>
            <td >@Model.AdvancedCriteria.MinPerPupilGrantFunding.GetValueOrDefault().ToString("C") - @Model.AdvancedCriteria.MaxPerPupilGrantFunding.GetValueOrDefault().ToString("C")</td>
        </tr>

        @if (Model.AdvancedCriteria.LondonWeighting != null)
        {
            <tr class="govuk-table__row">
                <td>London Weighting</td>
                <td>@Model.BenchmarkSchoolData.LondonWeighting</td>
                <td>@string.Join(", ", Model.AdvancedCriteria.LondonWeighting.ToArray())</td>
            </tr>
        }
    </tbody>
</table>