@using Newtonsoft.Json
@using SFB.Web.Common.DataObjects
@using System.Reflection;
@using Microsoft.Ajax.Utilities
@using SFB.Web.Common
@using SFB.Web.Common.Attributes
@model SFB.Web.UI.Models.BenchmarkChartListViewModel

<table id="criteriaTable">
    <thead>
        <tr>
            <th scope="col">Characteristic</th>
            <th scope="col">Default school value</th>
            <th scope="col">Comparison criteria</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Finance type</td>
            @if (Model.BenchmarkSchoolData.EstabType == EstablishmentType.Academies)
            {
                <td>Academy</td>
            }
            else
            {
                <td>Maintained</td>
            }
            <td>@Model.SearchedEstablishmentType</td>
        </tr>
        @foreach (var property in (typeof(BenchmarkCriteria)).GetProperties())
        {
            var dbAttribute = property.GetCustomAttributes(typeof(DBFieldAttribute)).FirstOrDefault();
            var uiNameAttribute = property.GetCustomAttributes(typeof(PrettyNameAttribute)).FirstOrDefault();

            if (dbAttribute != null && dbAttribute is DBFieldAttribute)
            {
                var fieldValue = Model.AdvancedCriteria.GetType().GetProperty(property.Name).GetValue(Model.AdvancedCriteria, null);
                if (fieldValue != null)
                {
                    @Html.Raw("<tr>")

                    var fieldName = (dbAttribute as DBFieldAttribute).Name;
                    var fieldType = (dbAttribute as DBFieldAttribute).Type;
                    var criteriaValue = typeof(SchoolTrustFinancialDataObject).GetProperties().First(p => (p.GetCustomAttributes(typeof(JsonPropertyAttribute), false).First() as JsonPropertyAttribute).PropertyName == fieldName).GetValue(Model.BenchmarkSchoolData.FinancialDataObjectModel);
                    var uiName = (uiNameAttribute as PrettyNameAttribute).Name;
                    if (!uiName.IsNullOrWhiteSpace() && criteriaValue != null)
                    {
                        switch (fieldType)
                        {
                            case CriteriaFieldComparisonTypes.MIN:
                                @Html.Raw($"<td>{uiName} (minimum)</td>")
                                @Html.Raw($"<td>{decimal.Round((decimal)criteriaValue, 2, MidpointRounding.AwayFromZero)}</td>")
                                @Html.Raw($"<td>{decimal.Round((decimal)fieldValue, 2, MidpointRounding.AwayFromZero)}</td>")
                                break;
                            case CriteriaFieldComparisonTypes.MAX:
                                @Html.Raw($"<td>{uiName} (maximum)</td>")
                                @Html.Raw($"<td>{decimal.Round((decimal)criteriaValue, 2, MidpointRounding.AwayFromZero)}</td>")
                                @Html.Raw($"<td>{decimal.Round((decimal)fieldValue, 2, MidpointRounding.AwayFromZero)}</td>")
                                break;
                            case CriteriaFieldComparisonTypes.EQUALTO:
                                if (fieldValue is string)
                                {
                                    @Html.Raw($"<td>{uiName}</td>")
                                    @Html.Raw($"<td>{criteriaValue}</td>")
                                    @Html.Raw($"<td>{fieldValue}</td>")
                                }
                                else if (fieldValue is int)
                                {
                                    @Html.Raw($"<td>{uiName}</td>")
                                    @Html.Raw($"<td>{criteriaValue}</td>")
                                    @Html.Raw($"<td>{fieldValue}</td>")
                                }
                                else if (fieldValue is Array)
                                {
                                    @Html.Raw($"<td>{uiName}</td>")
                                    @Html.Raw($"<td>{criteriaValue}</td>")
                                    @Html.Raw("<td>")
                                    @Html.Raw(string.Join(", ", fieldValue as string[]))
                                    @Html.Raw("</td>")
                                }
                                break;
                        }

                        @Html.Raw("</tr>")
                    }
                }
            }
        }
    </tbody>
</table>
