@using SFB.Web.UI.Helpers.Constants
@using SFB.Web.UI.Helpers.Enums
@using SFB.Web.UI.Helpers.Constants
@model SFB.Web.UI.Models.BenchmarkChartListViewModel

<div class="column-third chart-filter">
    <div class="govuk-form-group">
        <label class="form-label inline-block" for="ShowValue">Show value</label>
        <span class="help-icon hide-in-print js-show-value-help" style="display: none">
            <span class="icon dark-blue">
                <a href="#" class="js-modal" role="button" data-modal-title="Show value" data-modal-text="@HelpTooltipText.ShowValueHelp" data-modal-close-text="Close" data-modal-close-title="Close" data-help-text-key="">
                    <span class="visuallyhidden">Open more info text for Show Value opens a popup</span>
                </a>
            </span>
        </span>
        <select name="ShowValue" id="ShowValue" class="form-control" onchange="DfE.Views.BenchmarkChartsViewModel.rebuildCharts()">
            @if (ViewBag.Tab == TabType.Workforce)
            {
                <option value="@UnitType.AbsoluteCount" selected>@ChartShowValues.TOTAL</option>
                <option value="@UnitType.HeadcountPerFTE">@ChartShowValues.PERCENTAGE_FTE</option>
                <option value="@UnitType.FTERatioToTotalFTE">@ChartShowValues.PERCENTAGE_WORKFORCE</option>
                <option value="@UnitType.NoOfPupilsPerMeasure">@ChartShowValues.NO_PUPILS_PER_MEASURE</option>
            }
            else
            {
                <option value="@UnitType.AbsoluteMoney" @IsSelected(UnitType.AbsoluteMoney)>@ChartShowValues.ABSOLUTE</option>
                <option value="@UnitType.PerPupil" @IsSelected(UnitType.PerPupil)>@ChartShowValues.PER_PUPIL</option>
                <option value="@UnitType.PerTeacher" @IsSelected(UnitType.PerTeacher)>@ChartShowValues.PER_TEACHER</option>
                <option value="@UnitType.PercentageOfTotalExpenditure" @IsSelected(UnitType.PercentageOfTotalExpenditure)>@ChartShowValues.PERCENTAGE_TOTAL_EXPENDITURE</option>
                <option value="@UnitType.PercentageOfTotalIncome" @IsSelected(UnitType.PercentageOfTotalIncome)>@ChartShowValues.PERCENTAGE_TOTAL_INCOME</option>
            }
        </select>
    </div>
</div>

@helper IsSelected(UnitType option)
{
    if (option == Enum.Parse(typeof(UnitType), ViewBag.UnitType.ToString()))
    {
            <text>selected</text>
    }
}