@model SFB.Web.UI.Models.SchoolSearchViewModel

@{
    ViewBag.Title = "Schools Financial Benchmarking";
    ViewBag.pageClass = "schools-search-page";
}

@if (!string.IsNullOrEmpty(Model.ComparisonList.HomeSchoolName))
{
    <div>
        <span class="back-chevron" aria-hidden="true">&#9666;</span>
        <a class="home-link" href="../../school/detail?urn=@Model.ComparisonList.HomeSchoolUrn" aria-label="Back to @Model.ComparisonList.HomeSchoolName">Back to @Model.ComparisonList.HomeSchoolName</a>
    </div>

    <h1 class="heading-xlarge page-heading">Add schools</h1>


    <div class="grid-row home-school section">
        <div class="column-full mb-1">
            <span class="font-xsmall">Comparing to</span>
            <div class="highlight">
                <span class="bold-small">@Model.ComparisonList.HomeSchoolName</span>
            </div>
        </div>
    </div>
}

<div class="column-three-quarters no-padding">
    <section class="section" aria-label="Select search type">
        @if (!string.IsNullOrEmpty(Model.ErrorMessage))
        {
            <div class="error-summary" role="alert" aria-labelledby="ErrorSummaryHeading">
                <h1 id="ErrorSummaryHeading" class="heading-medium error-summary-heading">
                    There are errors on this page that require attention.
                </h1>
                <ul class="error-summary-list">
                    <li>
                        <a href="#finderSection">@Model.ErrorMessage</a>
                    </li>
                </ul>
            </div>
        }

        <div id="finderSection">
            <div id="SearchTypesAccordion" class="search-types" aria-live="polite">
                <form method="get" action="/SchoolSearch/Search" autocomplete="off">
                    <div class="form-group">
                        <fieldset>
                            <legend>How do you want to add schools?</legend>

                            <p>You can add schools by name or by location:</p>

                            <div>
                                <ul style="list-style-type: none; padding-left: 0">
                                    <li>
                                        @Html.Partial("Partials/Search/SchoolSearchOption")
                                    </li>
                                    <li>
                                        @Html.Partial("Partials/Search/LocationSearchOption")
                                    </li>
                                    <li>
                                        @Html.Partial("Partials/Search/LaSearchOption")
                                    </li>
                                </ul>
                            </div>
                        </fieldset>
                    </div>

                    <div class="form-group">
                        <div class="grid-row font-xsmall">
                            <div class="column-one-third no-padding">
                                <div class="column-one-third back-button">
                                    <a href="/benchmarklist">Back</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="referrer" value="schoolsearch/addschools" />
                </form>
            </div>
        </div>
    </section>
</div>

@section ViewScripts {

    <script src="~/node_modules/corejs-typeahead/dist/typeahead.bundle.min.js"></script>
    <script src="https://atlas.microsoft.com/sdk/js/atlas.min.js?api-version=1"></script>
    <script src="https://atlas.microsoft.com/sdk/js/atlas-service.js?api-version=1"></script>
    <script>
        DfE.Views.SchoolsSearchViewModel = new SchoolsSearchViewModel(@Html.Raw(Model.Authorities), '@System.Web.Configuration.WebConfigurationManager.AppSettings["AzureMapsAPIKey"]');                
    </script>


}
