@model SFB.Web.UI.Models.SearchViewModel

@{
    ViewBag.ErrorPrefix = Model.HasError() ? "Error: " : "";
    ViewBag.Title = "Add schools";
    ViewBag.pageClass = "schools-search-page";
}

    <div style="margin: 0 15px">
        <div>
            @{ 
                var referrer = Request.UrlReferrer.ToString().ToLower();
            }
            @if (referrer.Contains("/benchmarklist"))
            {
                if (referrer.Contains("generatefromsimplecriteria") 
                    || referrer.Contains("generatefromefficiencymetricsmanual")
                        || referrer.Contains("generatefromadvancedcriteria")
                            || referrer.Contains("generatenewfromadvancedcriteria")
                                || referrer.Contains("generatefrombiccriteria")
                    )
                {
                    <a class="govuk-back-link" href="/BenchmarkCharts">Back to benchmarking charts</a>
                }
                else
                {
                    <a class="govuk-back-link" href="@HttpUtility.ParseQueryString(Request.UrlReferrer.Query).Get("referrer")" aria-label="Close benchmark set">Back</a>
                }
            }
            else if (referrer.Contains("/benchmarkcharts"))
            {                
                if (referrer.Contains("?"))
                {
                    <a class="govuk-back-link" href="@Request.UrlReferrer.ToString()">Back to benchmarking charts</a>
                }
                else
                {
                    <a class="govuk-back-link" href="/BenchmarkCharts">Back to benchmarking charts</a>
                }
            }
        </div>

        @if (!string.IsNullOrEmpty(Model.ComparisonList.HomeSchoolName))
        {
            if (!string.IsNullOrEmpty(Model.ErrorMessage))
            {
                <div class="error-summary" role="alert" aria-labelledby="ErrorSummaryHeading">
                    <h1 id="ErrorSummaryHeading" class="heading-medium error-summary-heading">
                        There is a problem
                    </h1>
                    <ul class="error-summary-list">
                        <li>
                            <a href="#finderSection">@Model.ErrorMessage</a>
                        </li>
                    </ul>
                </div>
            }

            <h1 class="heading-xlarge page-heading">Add schools</h1>


            <div class="grid-row home-school section">
                <div class="column-full mb-1">
                    <span class="font-xsmall">Comparing to</span>
                    <div class="highlight">
                        <a href="/school/detail?urn=@Model.ComparisonList.HomeSchoolUrn"><span class="bold-xsmall">@Model.ComparisonList.HomeSchoolName</span></a>
                    </div>
                </div>
            </div>
        }

        <div class="column-three-quarters no-padding">
            <section class="section" aria-label="Select search type">
                <div id="finderSection">
                    <div id="SearchTypesAccordion" class="search-types" aria-live="polite">
                        <form method="get" action="/SchoolSearch/Search" autocomplete="off">
                            <div class="form-group">
                                <fieldset>
                                    <legend>How do you want to add schools?</legend>

                                    <p>You can add schools by name or by location:</p>

                                    <div>
                                        <ul style="list-style-type: none; padding-left: 0">
                                            <li>
                                                @Html.Partial("Partials/Search/SchoolNameSearchOption")
                                            </li>
                                            <li>
                                                @Html.Partial("Partials/Search/SchoolLocationSearchOption")
                                            </li>
                                            <li>
                                                @Html.Partial("Partials/Search/SchoolLaSearchOption")
                                            </li>
                                        </ul>
                                    </div>
                                </fieldset>
                            </div>

                            <div class="form-group">
                                <div class="grid-row">
                                    <div class="column-one-third no-padding">
                                        <div class="column-one-third back-button">
                                            <a href="/benchmarklist">Back</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <input type="hidden" name="referrer" value="schoolsearch/addschools" />
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </div>

@section ViewScripts {

    <script src="~/node_modules/corejs-typeahead/dist/typeahead.bundle.min.js"></script>
    <script src="https://atlas.microsoft.com/sdk/js/atlas.min.js?api-version=1"></script>
    <script src="https://atlas.microsoft.com/sdk/js/atlas-service.min.js?api-version=1"></script>
    <script>
        DfE.Views.SchoolsSearchViewModel = new SchoolsSearchViewModel(@Html.Raw(Model.Authorities), '@System.Web.Configuration.WebConfigurationManager.AppSettings["AzureMapsAPIKey"]');
    </script>


}
