@model SFB.Web.UI.Models.SearchViewModel

@{
    ViewBag.ErrorPrefix = Model.HasError() ? "Error: " : "";
    ViewBag.Title = "Add schools";
    ViewBag.pageClass = "schools-search-page";
}

    <div style="margin: 0 15px">
        <div>
            @{ 
                var referrer = Request.UrlReferrer.ToString().ToLower();
            }
            @if (referrer.Contains("/benchmarklist"))
            {
                if (referrer.Contains("generatefromsimplecriteria") 
                    || referrer.Contains("generatefromefficiencymetricsmanual")
                        || referrer.Contains("generatefromadvancedcriteria")
                            || referrer.Contains("generatenewfromadvancedcriteria")
                                || referrer.Contains("generatefrombiccriteria")
                    )
                {
                    <a class="govuk-back-link" href="/BenchmarkCharts">Back to benchmarking charts</a>
                }
                else
                {
                    <a class="govuk-back-link" href="@HttpUtility.ParseQueryString(Request.UrlReferrer.Query).Get("referrer")" aria-label="Close benchmark set">Back</a>
                }
            }
            else if (referrer.Contains("/benchmarkcharts"))
            {                
                if (referrer.Contains("?"))
                {
                    <a class="govuk-back-link" href="@Request.UrlReferrer.ToString()">Back to benchmarking charts</a>
                }
                else
                {
                    <a class="govuk-back-link" href="/BenchmarkCharts">Back to benchmarking charts</a>
                }
            }
        </div>

        @if (!string.IsNullOrEmpty(Model.ComparisonList.HomeSchoolName))
        {
            if (!string.IsNullOrEmpty(Model.ErrorMessage))
            {
                <div class="govuk-error-summary" role="alert" aria-labelledby="ErrorSummaryHeading">
                    <h2 id="ErrorSummaryHeading" class="govuk-error-summary__title">
                        There is a problem
                    </h2>
                    <div class="govuk-error-summary__body">
                        <ul class="govuk-list govuk-error-summary__list">
                            <li>
                                <a href="#finderSection">@Model.ErrorMessage</a>
                            </li>
                        </ul>
                    </div>
                </div>
            }

            <h1 class="govuk-heading-xl page-heading">Add schools</h1>


            <div class="govuk-grid-row home-school section">
                <div class=" govuk-grid-column-full mb-1">
                    <span class="govuk-body-s govuk-!-font-size-16">Comparing to</span>
                    <div class="highlight">
                        <a href="/school/detail?urn=@Model.ComparisonList.HomeSchoolUrn"><span class="govuk-!-font-size-16 govuk-!-font-weight-bold">@Model.ComparisonList.HomeSchoolName</span></a>
                    </div>
                </div>
            </div>
        }

        <div class="govuk-grid-column-three-quarters no-padding">
            <section class="section" aria-label="Select search type">
                <div id="finderSection">
                    <div id="SearchTypesAccordion" class="search-types" aria-live="polite">
                        <form method="get" action="/SchoolSearch/Search" autocomplete="off">
                            <div class="govuk-form-group">
                                <fieldset class="govuk-fieldset">
                                    <legend class="govuk-fieldset__legend govuk-!-font-weight-bold">How do you want to add schools?</legend>

                                    <div class="govuk-hint">You can add schools by name or by location:</div>

                                    <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                                        @Html.Partial("Partials/Search/SchoolNameSearchOption")
                                        @Html.Partial("Partials/Search/SchoolLocationSearchOption")
                                        @Html.Partial("Partials/Search/SchoolLaSearchOption")
                                    </div>
                                </fieldset>
                            </div>

                            <input type="hidden" name="referrer" value="schoolsearch/addschools" />
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </div>

@section ViewScripts {

    <script src="~/node_modules/corejs-typeahead/dist/typeahead.bundle.min.js"></script>
    <script src="https://atlas.microsoft.com/sdk/js/atlas.min.js?api-version=1"></script>
    <script src="https://atlas.microsoft.com/sdk/js/atlas-service.min.js?api-version=1"></script>
    <script>
        DfE.Views.SchoolsSearchViewModel = new SchoolsSearchViewModel(@Html.Raw(Model.Authorities), '@System.Web.Configuration.WebConfigurationManager.AppSettings["AzureMapsAPIKey"]');
    </script>


}
