<div class="govuk-option-select js-collapsible" data-closed-on-load="@(Model.Expanded ? "false" : "true")">
    <div class="container-head js-container-head">
        <div class='option-select-label'>@(Model.Label)</div>
        <div class="chevron chevron-down"><a class="chevron-button" aria-label="Click to close section" href="javascript:void(0)">&#708;</a></div>
        <div class="chevron chevron-up"><a class="chevron-button" aria-label="Click to open section" href="javascript:void(0)">&#709;</a></div>
        <div class="js-selected-counter"></div>
    </div>
    <div class="options-container" id="@(Model.Id)">
        <div class="js-auto-height-inner">
            <fieldset>
                <legend class="visuallyhidden">Select an option below to filter the results</legend>
                @foreach (var item in Model.Metadata)
                {
                    <label for="@(Model.Group)_@item.Id" @(item.Disabled ? "disabled" : string.Empty)>
                        <input name="@(Model.Group)" @(item.Disabled ? "disabled" : string.Empty) value="@(item.Value)" id="@(Model.Group)_@item.Id" type="checkbox"
                               aria-controls="js-search-results-info" @(item.Checked ? "checked" : "")>
                        @(item.Label)
                        <span class="visuallyhidden">- changing the selection will refresh the results</span>
                    </label>
                }
            </fieldset>
        </div>
    </div>
</div>
