@using SFB.Web.UI.Helpers.Constants
@model SFB.Web.UI.Models.SchoolSearchViewModel

@{
    ViewBag.Title = "Schools financial benchmarking";
    ViewBag.pageClass = "schools-search-page";
    ViewBag.pageDescription =
        "Compare your school's income and expenditure with other schools in England. View your school's financial data, see how similar schools manage their finances, and use the information to establish relationships with other schools.";

}

@section BMListBannerContent
{
    @Html.Partial("Partials/BenchmarkListBanner")
}

<div class="grid-row">
    <div class="column-three-quarters">

        <div id="error-summary-placeholder">
            @if (!string.IsNullOrEmpty(Model.ErrorMessage))
            {
                <div class="error-summary" role="alert" aria-labelledby="ErrorSummaryHeading">
                    <h1 id="ErrorSummaryHeading" class="heading-medium error-summary-heading">
                        There are errors on this page that require attention.
                    </h1>
                    <ul class="error-summary-list">
                        <li>
                            <a href="#finderSection">@Model.ErrorMessage</a>
                        </li>
                    </ul>
                </div>
            }
        </div>

        <h1 class="heading-xlarge page-heading">
            @ViewBag.Title
        </h1>

        <p class="lede">Compare your school's income and expenditure with other schools in England.</p>
        <p class="homep">You can:</p>
        <ul class="search-options-list">
            <li>view your school's financial data</li>
            <li> see how similar schools manage their finances</li>
            <li>use the information gathered to establish relationships with other schools</li>
        </ul>


        @if (Model.ComparisonList.HomeSchoolUrn != null)
        {
            <div class="home-school-section">
                <p>
                    <span class="heading-small bold-small">
                        Your default school:
                    </span>
                    <a class="bold-small" href="/school/detail?urn=@Model.ComparisonList.HomeSchoolUrn">@Model.ComparisonList.HomeSchoolName</a>
                </p>
                <div>
                    <a class="button" href="/BenchmarkCriteria/ComparisonStrategy?urn=@Model.ComparisonList.HomeSchoolUrn">Compare with other schools</a>
                </div>
            </div>
            <hr class="home-school-section-divider" />
        }

        <div class="finder-section" id="finderSection">
                <fieldset>
                    <legend class="visuallyhidden">Select a search type option</legend>
                    <div id="SearchTypesAccordion" class="search-types" aria-live="polite">
                        <form method="get" action="/SchoolSearch/Search" autocomplete="off">
                            <div class="form-group">
                                <fieldset>
                                    <legend class="mt-1">Begin by finding a school or trust</legend>

                                    @Html.Partial("Partials/Search/SchoolSearchOption")

                                    @Html.Partial("Partials/Search/TrustSearchOption")

                                    <h2 class="form-group heading-small bold-small mb-1">
                                        Alternatively, search by area
                                    </h2>

                                    @Html.Partial("Partials/Search/LocationSearchOption")

                                    @Html.Partial("Partials/Search/LaSearchOption")

                                </fieldset>
                            </div>
                        </form>
                    </div>
                </fieldset>
            </div>

    </div>
    <div class="column-quarter">
        <aside class="guidance">
            <div class="header-bar"></div>
            <h3 class="heading-medium">Guidance</h3>
            <ul class="guidance__list font-small">
                <li class="guidance__list__item">
                    <a class="guidance__list__link" href="Help/Guidance">Help using this site</a>
                </li>
                <li class="guidance__list__item">
                    <a class="guidance__list__link" href="Help/InterpretingCharts">Interpreting the charts</a>
                </li>
                <li class="guidance__list__item">
                    <a class="guidance__list__link" href="Help/DataSources">Data sources</a>
                </li>
            </ul>
        </aside>

        @*<aside>
            <div class="govuk-box-highlight">
                <h3 class="heading-large mt-0 pt-0">
                    <a target="_blank" rel="external noopener noreferrer" class="govuk-box-highlight__link" href="https://www.gov.uk/government/publications/deals-for-schools/deals-for-schools">Deals for schools<span class="visuallyhidden"> Opens in a new window</span></a>                    
                </h3>
                <p class="font-xsmall pb-0 mb-0">Find a range of cost-saving deals for schools assessed for compliance with procurement regulations and ease of use by the DfE</p>
            </div>
        </aside>*@
        @*<aside class="contents guidance">
                <h3 class="heading-medium">Downloads</h3>
                <ul class="font-small">
                    <li>
                        <a href="Download/Maintained">Maintained schools</a>
                    </li>
                    <li>
                        <a href="Download/Academy">Academies</a>
                    </li>
                    <li>
                        <a href="Download/MAT">Trust</a>
                    </li>
                </ul>
            </aside>*@
    </div>
</div>

@section ViewScripts {

    <script src="~/node_modules/corejs-typeahead/dist/typeahead.bundle.min.js"></script>
    <script src="https://atlas.microsoft.com/sdk/js/atlas.min.js?api-version=1"></script>
    <script src="https://atlas.microsoft.com/sdk/js/atlas-service.js?api-version=1"></script>
    <script>
        DfE.Views.SchoolsSearchViewModel = new SchoolsSearchViewModel(@Html.Raw(Model.Authorities), '@System.Web.Configuration.WebConfigurationManager.AppSettings["AzureMapsAPIKey"]');
    </script>
}