@model SFB.Web.UI.Models.SearchViewModel

@{
    ViewBag.ErrorPrefix = Model.HasError() ? "Error: " : "";
    ViewBag.pageClass = "schools-search-page";
    ViewBag.pageDescription =
        "Compare your school's income and expenditure with other schools in England. View your school's financial data, see how similar schools manage their finances, and use the information to establish relationships with other schools.";

}

@section BMListBannerContent
{
    @Html.Partial("Partials/BenchmarkListBanner")
}


<div class="column-three-quarters mt-2">
    <div id="error-summary-placeholder">
        @if (!string.IsNullOrEmpty(Model.ErrorMessage))
        {
            <div class="error-summary" role="alert" aria-labelledby="ErrorSummaryHeading">
                <h1 id="ErrorSummaryHeading" class="heading-medium error-summary-heading">
                    There is a problem
                </h1>
                <ul class="error-summary-list">
                    <li>
                        <a href="#finderSection">@Model.ErrorMessage</a>
                    </li>
                </ul>
            </div>
        }
    </div>

    <h1 class="govuk-heading-xl">
        Schools financial benchmarking
    </h1>

    <p class="lede">Compare a school or trust's income and expenditure with similar establishments in England.</p>
    <p class="homep">You can view your school or academy trust's financial data, see how it compares with others and use the information to establish relationships with other schools or multi-academy trusts.</p>

    @if (Model.ComparisonList.HomeSchoolUrn != null)
    {
        <div class="home-school-section">
            <p>
                <span class="heading-small bold-small">
                    Your default school:
                </span>
                <a class="bold-small" href="/school/detail?urn=@Model.ComparisonList.HomeSchoolUrn">@Model.ComparisonList.HomeSchoolName</a>
            </p>
            <div>
                <a class="button" role="button" href="/BenchmarkCriteria/ComparisonStrategy?urn=@Model.ComparisonList.HomeSchoolUrn">Compare with other schools</a>
            </div>
        </div>
    }

    <div class="finder-section mt-1" id="finderSection">
        <div id="SearchTypesAccordion" class="search-types custom tabs">
            <ul role="tablist">
                <li class="@ViewHelpers.SchoolTabActive(Model.SearchType) hide-in-print" role="presentation" id="SchoolTab">
                    <a href="javascript: void(0)"
                       onclick="DfE.Views.SchoolsSearchViewModel.TabChange('SchoolTab')" 
                       onkeydown="DfE.Views.SchoolsSearchViewModel.TabKeydown(event)"
                       role="tab" 
                       aria-selected="true" 
                       aria-controls="SchoolTabContent" 
                       tabindex="0" 
                       class="tab-link">Find a school</a>
                </li>
                <li class="@ViewHelpers.TrustTabActive(Model.SearchType) hide-in-print" role="presentation" id="TrustTab">
                    <a href="javascript: void(0)"
                       onclick="DfE.Views.SchoolsSearchViewModel.TabChange('TrustTab')" 
                       onkeydown="DfE.Views.SchoolsSearchViewModel.TabKeydown(event)"
                       role="tab" 
                       aria-selected="false" 
                       aria-controls="TrustTabContent" 
                       tabindex="-1" 
                       class="tab-link">Find an academy trust</a>
                </li>
                <li class="@ViewHelpers.NoDefaultTabActive(Model.SearchType) hide-in-print" role="presentation" id="NoDefaultTab">
                    <a href="javascript: void(0)"
                       onclick="DfE.Views.SchoolsSearchViewModel.TabChange('NoDefaultTab')" 
                       onkeydown="DfE.Views.SchoolsSearchViewModel.TabKeydown(event)"
                       role="tab" 
                       aria-selected="false" 
                       aria-controls="NoDefaultTabContent" 
                       tabindex="-1" 
                       class="tab-link">Compare with no default school</a>
                </li>
            </ul>
            <div class="search-tab-content">
                @Html.Partial("Partials/Search/SchoolTab")
                @Html.Partial("Partials/Search/TrustTab")
                @Html.Partial("Partials/Search/NoDefaultTab")
            </div>
        </div>
    </div>
</div>


@section Aside {
    <div class="column-quarter aside">
        <aside class="app-related-items mt-2">
            <h2 class="govuk-heading-m" id="subsection-title">News and guidance</h2>
            <nav role="navigation" aria-labelledby="subsection-title">
                <ul class="list font-xsmall">
                    <li>
                        <a href="News">News</a>
                    </li>
                    <li>
                        <a href="Help/Guidance">Help using this site</a>
                    </li>
                    <li>
                        <a href="Help/SadGuidance">Self-assessment dashboard guidance</a>
                    </li>
                    <li>
                        <a href="Help/DataSources">Data Sources and Interpretation</a>
                    </li>
                    <li>
                        <a href="~/Help/DataQueries">Do you have a school or trust data query?</a>
                    </li>
                </ul>
            </nav>
        </aside>
    </div>

}

@section ViewScripts {

    <script src="~/node_modules/corejs-typeahead/dist/typeahead.bundle.min.js"></script>
    <script src="https://atlas.microsoft.com/sdk/js/atlas.min.js?api-version=1"></script>
    <script src="https://atlas.microsoft.com/sdk/js/atlas-service.min.js?api-version=1"></script>
    <script>
        DfE.Views.SchoolsSearchViewModel = new SchoolsSearchViewModel(@Html.Raw(Model.Authorities), '@System.Web.Configuration.WebConfigurationManager.AppSettings["AzureMapsAPIKey"]');
    </script>
}
