@using SFB.Web.Common
@using SFB.Web.UI.Helpers.Constants
@model SFB.Web.UI.Models.SchoolSearchViewModel

@{
    ViewBag.Title = "Schools financial benchmarking";
    ViewBag.pageClass = "schools-search-page";
    ViewBag.pageDescription =
        "Compare your school's income and expenditure with other schools in England. View your school's financial data, see how similar schools manage their finances, and use the information to establish relationships with other schools.";

}

@section StickyContent
{
    @Html.Partial("Partials/BenchmarkListBanner")
}

<div class="grid-row">
    <div class="column-three-quarters">

        @if (!string.IsNullOrEmpty(Model.ErrorMessage))
        {
            <div class="error-summary" role="alert" aria-labelledby="ErrorSummaryHeading">
                <h1 id="ErrorSummaryHeading" class="heading-medium error-summary-heading">
                    There are errors on this page that require attention.
                </h1>
                <ul class="error-summary-list">
                    <li>
                        <a href="#finderSection">@Model.ErrorMessage</a>
                    </li>
                </ul>
            </div>
        }

        <h1 class="heading-xlarge page-heading">
            @ViewBag.Title
        </h1>

        <p class="lede">Compare your school's income and expenditure with other schools in England.</p>
        <p class="homep">You can:</p>
        <ul>
            <li>view your school's financial data</li>
            <li> see how similar schools manage their finances</li>
            <li>use the information gathered to establish relationships with other schools</li>
        </ul>


        @if (Model.ComparisonList.HomeSchoolUrn != null)
        {
            <div class="home-school section">
                <p>
                    <span class="heading-small bold-small">
                        Your default school:
                    </span>
                    <a class="bold-small" href="/school/detail?urn=@Model.ComparisonList.HomeSchoolUrn">@Model.ComparisonList.HomeSchoolName</a>
                </p>
                <div>
                    <a class="button" href="/BenchmarkCriteria/ComparisonStrategy?urn=@Model.ComparisonList.HomeSchoolUrn">Compare with other schools</a>
                </div>
            </div>
            <hr class="home-school-divider"/>
        }

        <div class="section">
            <div class="finder-section" id="finderSection">
                <fieldset>
                    <legend class="visuallyhidden">Select a search type option</legend>
                    <div id="SearchTypesAccordion" class="search-types" aria-live="polite">
                        <form method="get" action="/SchoolSearch/Search" autocomplete="off">
                            <div class="form-group">
                                <fieldset>
                                    <legend class="hidden">Begin by finding a school or trust</legend>
                                    <h2 id="form-head" class="form-group heading-small bold-small">
                                        Begin by finding a school or trust
                                    </h2>

                                    <div id="SchoolOrCollegeNameIdAccordion" class="accordion-label multiple-choice js-accordion @(Model.GetRadioButtonSelectedClass(SearchTypes.SEARCH_BY_NAME_ID))" aria-controls="SearchByNameIdFieldset">
                                        <input id="SchoolOrCollegeNameId" type="radio" @(Model.GetRadioButtonCheckedAttr(SearchTypes.SEARCH_BY_NAME_ID))/>
                                        <label for="SchoolOrCollegeNameId">School</label>
                                    </div>
                                    <div id="SearchByNameIdFieldset" class="form-group optional-section @(Model.GetSearchTypeErrorClass(SearchTypes.SEARCH_BY_NAME_ID))">
                                        <label class="form-label" for="FindByNameId">Enter a school name, <abbr title="Unique reference number" aria-label="Unique reference number">URN</abbr> or <abbr title="Local authority establishment code" aria-label="Local authority establishment code">LAESTAB code</abbr></label>
                                        @if (Model.SearchTypeHasError(SearchTypes.SEARCH_BY_NAME_ID))
                                        {
                                            <span class="error-message">@Model.ErrorMessage</span>
                                        }
                                        <input id="FindByNameId"
                                               class="form-control mbl"
                                               name="nameId"
                                               type="text"
                                               data-suggestion-url="@(Model.SchoolSuggestionUrl)"/>
                                        <input type="hidden" id="FindByNameIdSuggestionId" name="suggestionUrn"/>
                                        <button type="submit" class="search-button" name="searchtype" value="@SearchTypes.SEARCH_BY_NAME_ID">Search</button>
                                    </div>

                                    <div id="TrustNameAccordion" class="accordion-label multiple-choice js-accordion @(Model.GetRadioButtonSelectedClass(SearchTypes.SEARCH_BY_TRUST_NAME))" aria-controls="SearchByTrustNameFieldset">
                                        <input id="TrustName" type="radio" @(Model.GetRadioButtonCheckedAttr(SearchTypes.SEARCH_BY_TRUST_NAME))/>
                                        <label for="TrustName">Trust</label>
                                    </div>
                                    <div id="SearchByTrustNameFieldset" class="form-group optional-section @(Model.GetSearchTypeErrorClass(SearchTypes.SEARCH_BY_TRUST_NAME))">
                                        <label class="form-label" for="FindByTrustName">Enter the trust name</label>
                                        @if (Model.SearchTypeHasError(SearchTypes.SEARCH_BY_TRUST_NAME))
                                        {
                                            <span class="error-message">@Model.ErrorMessage</span>
                                        }
                                        <input id="FindByTrustName"
                                               class="form-control mbl"
                                               name="trustname"
                                               type="text"
                                               data-suggestion-url="@(Model.TrustSuggestionUrl)"/>
                                        <input type="hidden" id="FindByTrustNameSuggestionId" name="trustsuggestionUrn"/>
                                        <button type="submit" class="search-button" name="searchtype" value="@SearchTypes.SEARCH_BY_TRUST_NAME">Search</button>
                                    </div>

                                    <h2 class="form-group heading-small bold-small">
                                        Alternatively, search by area
                                    </h2>
                                    <div id="TownOrCityAccordion" class="accordion-label multiple-choice js-accordion @(Model.GetRadioButtonSelectedClass(SearchTypes.SEARCH_BY_LOCATION))" aria-controls="SearchByTownFieldset">
                                        <input id="TownOrCity" type="radio" @(Model.GetRadioButtonCheckedAttr(SearchTypes.SEARCH_BY_LOCATION))/>
                                        <label for="TownOrCity">Location</label>
                                    </div>
                                    <div id="SearchByTownFieldset" class="form-group optional-section @(Model.GetSearchTypeErrorClass(SearchTypes.SEARCH_BY_LOCATION))">
                                        <label for="FindSchoolByTown">
                                            Enter a postcode, town or street. Or
                                            <a href="javascript:void(0)" id="FindCurrentPosition">use your current location</a>
                                        </label>
                                        @if (Model.SearchTypeHasError(SearchTypes.SEARCH_BY_LOCATION))
                                        {
                                            <span class="error-message">@Model.ErrorMessage</span>
                                        }
                                        <input id="FindSchoolByTown"
                                               class="form-control mbl search-input"
                                               name="locationorpostcode"
                                               placeholder=""
                                               type="text"/>
                                        <input type="hidden" id="LocationCoordinates" name="LocationCoordinates"/>
                                        <button type="submit" class="search-button" name="searchtype" value="@SearchTypes.SEARCH_BY_LOCATION">Search</button>
                                    </div>

                                    <div id="LaCodeNameAccordion" class="accordion-label multiple-choice js-accordion @(Model.GetRadioButtonSelectedClass(SearchTypes.SEARCH_BY_LA_CODE_NAME))" aria-controls="SearchByLaCodeNameFieldset">
                                        <input id="LaCodeName" type="radio" @(Model.GetRadioButtonCheckedAttr(SearchTypes.SEARCH_BY_LA_CODE_NAME))/>
                                        <label for="LaCodeName">Local authority</label>
                                    </div>
                                    <div id="SearchByLaCodeNameFieldset" class="form-group optional-section @(Model.GetSearchTypeErrorClass(SearchTypes.SEARCH_BY_LA_CODE_NAME))">
                                        <label for="FindSchoolByLaCodeName">
                                            <span>Enter a local authority name or a three-digit <abbr title="Local authority" aria-label="Local authority">LA</abbr> code</span>
                                        </label>
                                        @if (Model.SearchTypeHasError(SearchTypes.SEARCH_BY_LA_CODE_NAME))
                                        {
                                            <span class="error-message">@Model.ErrorMessage</span>
                                        }
                                        <input id="FindSchoolByLaCodeName"
                                               class="form-control mbl"
                                               name="lacodename"
                                               type="text"/>
                                        <input type="hidden" id="SelectedLocalAuthorityId" name="SelectedLocalAuthorityId"/>
                                        <button type="submit" class="search-button" name="searchtype" value="@SearchTypes.SEARCH_BY_LA_CODE_NAME">Search</button>
                                    </div>
                                </fieldset>
                            </div>
                        </form>
                    </div>
                </fieldset>
            </div>

        </div>
    </div>
    <div class="column-quarter">
        <aside class="contents guidance">
            <h3 class="heading-medium">Guidance</h3>
            <ul class="font-small">
                <li>
                    <a href="Help/Guidance">Help using this site</a>
                </li>
                <li>
                    <a href="Help/InterpretingCharts">Interpreting the charts</a>
                </li>                
                <li>
                    <a href="Help/DataSources">Data sources</a>
                </li>
            </ul>
        </aside>
        @*<aside class="contents guidance">
            <h3 class="heading-medium">Downloads</h3>
            <ul class="font-small">
                <li>
                    <a href="Download/Maintained">Maintained schools</a>
                </li>                
                <li>
                    <a href="Download/Academy">Academies</a>
                </li>
                <li>
                    <a href="Download/MAT">Trust</a>
                </li>
            </ul>
        </aside>*@
    </div>
</div>

@section ViewScripts {

    <script src="~/node_modules/corejs-typeahead/dist/typeahead.bundle.min.js"></script>
    <script>
        var localAuthorities = @Html.Raw(Model.Authorities);
        DfE.Views.SchoolsSearchViewModel.Load(localAuthorities);

        function loadViewModel() {
            DfE.Views.GoogleLocationViewModel.Load();
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=@(System.Configuration.ConfigurationManager.AppSettings["GoogleAPIKey"])&libraries=places&callback=loadViewModel"></script>

}