@using SFB.Web.UI.Controllers
@{
    Layout = "../../govuk/layouts/template.cshtml";
    var version = typeof(HomeController).Assembly.GetName().Version.ToString();
}

@section Head {
    <link href="/public/assets/stylesheets/main.css?v=@version" rel="stylesheet" type="text/css">

    <style>
        .c3 svg {
            font: 14px sans-serif;
        }

        .c3-bar._expanded_ {
            fill-opacity: 1;
        }
    </style>

    <!-- Google Tag Manager -->
    <script type="text/javascript">
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', '@System.Configuration.ConfigurationManager.AppSettings["GoogleTagManagerId"]');
    </script>
    <!-- End Google Tag Manager -->

    @RenderSection("InsideHead", required: false)

    <script type="text/javascript">
        function getCookie(cname) {
            var name = cname + "=";
            var decodedCookie = decodeURIComponent(document.cookie);
            var ca = decodedCookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                    return c.substring(name.length, c.length);
                }
            }
            return "";
        }

        var cookiesPolicyCookie = JSON.parse(getCookie("cookies_policy"));
        if (cookiesPolicyCookie.usage) {
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments);
                }, i[r].l = 1 * new Date(); a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m);
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
            ga('create', '@System.Configuration.ConfigurationManager.AppSettings["GoogleAnalyticsId"]', 'auto');
            ga('send', 'pageview');
        }
        else {
            window['ga-disable-@System.Configuration.ConfigurationManager.AppSettings["GoogleAnalyticsId"]'] = true;
        }
    </script>

}

<div class="header-content" role="region" aria-label="Announcement">
    @if (ViewBag.DynamicHeaderContent != null)
    {
        <div class="header-content__dynamic-header hide-in-print">
            <div class="header-content__dynamic-header__copy">
                @Html.Raw(ViewBag.DynamicHeaderContent)
            </div>
            <button class="header-content__dynamic-header__button js-dismiss-dynamic-header link-button">Hide message</button>
        </div>
    }
</div>

@RenderSection("BMListBannerContent", required: false)

<div class="header-content" role="navigation">
    @RenderSection("BackButtonContent", required: false)
</div>

<div class="grid-row" id="content">

        <main class="page @(ViewBag.pageClass)" role="main" tabindex="-1">

            @*<div class="pre-content"></div>*@

            @RenderBody()

            <input type="hidden" id="version" value="@version"/>
            <input type="hidden" id="googleAnalyticsId" value="@System.Configuration.ConfigurationManager.AppSettings["GoogleAnalyticsId"]"/>
            <input type="hidden" id="cookieDomain" value="@System.Configuration.ConfigurationManager.AppSettings["cookieDomain"]"/>
        </main>
    

        @RenderSection("Aside", required: false)
</div>

@RenderSection("AfterMain", required: false)

@section BodyEnd {

    <script src="~/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="~/node_modules/@("@")babel/polyfill/dist/polyfill.min.js"></script>

    @if (Request.Browser.Browser.Contains("InternetExplorer") || Request.UserAgent.Contains("Edge"))
    {
        <!--[if IE 9]>
        <script src="/public/scripts/termi/element.details.ie8.js"></script>
        <!--<![endif]-->
        <script src="/public/scripts/termi/element.details.js"></script>
    }

    <script src="/public/assets/scripts/application.js?v=@version"></script>
    @(RenderSection("ViewScripts", required: false))

    <script>
        $('.sticky-div').Stickyfill();
    </script>


}
