@using SFB.Web.UI.Helpers.Constants
@model SFB.Web.UI.Models.SchoolSearchViewModel

<div id="LaCodeNameAccordion" class="accordion-label multiple-choice js-accordion @(Model.GetRadioButtonSelectedClass(SearchTypes.SEARCH_BY_LA_CODE_NAME))" aria-controls="SearchByLaCodeNameFieldset">
    <input id="LaCodeName" type="radio" @(Model.GetRadioButtonCheckedAttr(SearchTypes.SEARCH_BY_LA_CODE_NAME)) />
    <label for="LaCodeName">Local authority</label>
</div>
<div id="SearchByLaCodeNameFieldset" class="form-group optional-section @(Model.GetSearchTypeErrorClass(SearchTypes.SEARCH_BY_LA_CODE_NAME))">
    <label for="FindSchoolByLaCodeName">
        <span>Enter a local authority name or a three-digit <abbr title="Local authority" aria-label="Local authority">LA</abbr> code</span>
    </label>
    @if (Model.SearchTypeHasError(SearchTypes.SEARCH_BY_LA_CODE_NAME))
    {
        <span class="error-message">@Model.ErrorMessage</span>
    }
    <input id="FindSchoolByLaCodeName"
           class="form-control mbl"
           name="lacodename"
           maxlength="100"
           type="text" />
    <input type="hidden" id="SelectedLocalAuthorityId" name="SelectedLocalAuthorityId" />
    <button type="submit" class="search-button" name="searchtype" value="@SearchTypes.SEARCH_BY_LA_CODE_NAME">Search</button>
    <div class="multiple-choice">
        <input id="openOnlyLa" name="openOnly" type="checkbox" value="true" checked @(Model.GetOpenOnlyDisabledAttr(SearchTypes.SEARCH_BY_LA_CODE_NAME))>
        <label for="openOnlyLa">Include open schools only</label>
    </div>
</div>

