@using SFB.Web.UI.Helpers.Constants
@model SFB.Web.UI.Models.SchoolSearchViewModel

<div id="TownOrCityAccordion" class="accordion-label multiple-choice js-accordion @(Model.GetRadioButtonSelectedClass(SearchTypes.SEARCH_BY_LOCATION))" aria-controls="SearchByTownFieldset">
    <input id="TownOrCity" type="radio" @(Model.GetRadioButtonCheckedAttr(SearchTypes.SEARCH_BY_LOCATION)) />
    <label for="TownOrCity">Location</label>
</div>
<div id="SearchByTownFieldset" class="form-group optional-section @(Model.GetSearchTypeErrorClass(SearchTypes.SEARCH_BY_LOCATION))">
    <label for="FindSchoolByTown">
        Enter a postcode, town or street. Or
        <a href="javascript:void(0)" id="FindCurrentPosition">use your current location</a>
    </label>
    @if (Model.SearchTypeHasError(SearchTypes.SEARCH_BY_LOCATION))
    {
        <span class="error-message">@Model.ErrorMessage</span>
    }
    <input id="FindSchoolByTown"
           class="form-control mbl search-input"
           name="locationorpostcode"
           placeholder=""
           maxlength="100"
           type="text" />
    <input type="hidden" id="LocationCoordinates" name="LocationCoordinates" />
    <button type="submit" class="search-button" name="searchtype" value="@SearchTypes.SEARCH_BY_LOCATION">Search</button>
    <div class="multiple-choice">
        <input id="openOnlyLocation" name="openOnly" type="checkbox" value="true" checked @(Model.GetOpenOnlyDisabledAttr(SearchTypes.SEARCH_BY_LOCATION))>
        <label for="openOnlyLocation">Include open schools only</label>
    </div>
</div>