@using SFB.Web.UI.Helpers.Constants
@model SFB.Web.UI.Models.SearchViewModel

<div id="TownOrCityAccordion" class="govuk-radios__item js-accordion">
    <input class="govuk-radios__input" id="TownOrCity" name="option" type="radio" 
           @Html.Raw(Model.GetRadioButtonCheckedAttr(SearchTypes.SEARCH_BY_LOCATION)) 
           data-aria-controls="SearchByTownFieldset"/>
    <label class="govuk-label govuk-radios__label" for="TownOrCity">Add schools by location</label>
</div>
<div id="SearchByTownFieldset" class="govuk-radios__conditional govuk-radios__conditional--hidden">
    <div class="govuk-form-group @(Model.GetSearchTypeErrorClass(SearchTypes.SEARCH_BY_LOCATION))">
        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item govuk-!-margin-bottom-2">
                <input class="govuk-checkboxes__input" id="openOnlyLocation" name="openOnly" type="checkbox" value="true" checked @(Model.GetOpenOnlyDisabledAttr(SearchTypes.SEARCH_BY_LOCATION))>
                <label class="govuk-label govuk-checkboxes__label" for="openOnlyLocation">Include open schools only</label>
            </div>
        </div>
        <div class="govuk-hint" for="FindSchoolManuallyByTown">
            Enter a postcode, town or street. Or
            <button id="FindCurrentPosition" class="focus-first link-button govuk-!-font-size-19 no-padding" title="Select to use your current location">use your current location</button>
        </div>
        <div class="location-error-message-placeholder">
            @if (Model.SearchTypeHasError(SearchTypes.SEARCH_BY_LOCATION))
            {
                <span class="govuk-error-message"><span class="govuk-visually-hidden">Error: </span>@Model.ErrorMessage</span>
            }
        </div>
        <input id="FindSchoolManuallyByTown"
               class="govuk-input @Html.Raw(Model.SearchTypeHasError(SearchTypes.SEARCH_BY_LOCATION) ? "govuk-input--error" : "")"
               name="locationorpostcode"
               placeholder=""
               maxlength="100"
               type="text" />
        <input type="hidden" id="LocationCoordinates" name="LocationCoordinates" />
        <button type="submit" class="govuk-button search-button" data-module="govuk-button" name="searchtype" value="@SearchTypes.SEARCH_BY_LOCATION">Search</button>
    </div>
</div>