@using SFB.Web.UI.Helpers.Constants
@model SFB.Web.UI.Models.SearchViewModel

<div id="SchoolOrCollegeNameIdAccordion" class="accordion-label multiple-choice js-accordion @(Model.GetRadioButtonSelectedClass(SearchTypes.SEARCH_BY_NAME_ID))" aria-controls="SearchByNameIdFieldset">
    <input id="SchoolOrCollegeNameId" type="radio" @(Model.GetRadioButtonCheckedAttr(SearchTypes.SEARCH_BY_NAME_ID)) />
    <label for="SchoolOrCollegeNameId">Add schools by name</label>
</div>
<div id="SearchByNameIdFieldset" class="govuk-inset-text app-govuk-inset-text--narrow search-types__optional-section govuk-form-group @(Model.GetSearchTypeErrorClass(SearchTypes.SEARCH_BY_NAME_ID))">
    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
        <div class="govuk-checkboxes__item govuk-!-margin-bottom-2">
            <input class="govuk-checkboxes__input" id="openOnlyName" name="openOnly" type="checkbox" value="true" checked @(Model.GetOpenOnlyDisabledAttr(SearchTypes.SEARCH_BY_NAME_ID))>
            <label class="govuk-label govuk-checkboxes__label" for="openOnlyName">Include open schools only</label>
        </div>
    </div>
    <button type="submit" class="govuk-button" name="searchtype" data-module="govuk-button" value="@SearchTypes.SEARCH_BY_NAME_ID">Continue</button>
    <input type="hidden" id="FindByNameIdSuggestionId" name="suggestionUrn" />
</div>

