<div role="button" class="govuk-option-select js-collapsible" tabindex="0" data-closed-on-load="@(Model.Expanded ? "false" : "true")">
    <div class="container-head js-container-head">
        <div class='option-select-label'>@(Model.Label)</div>
        <div class="chevron chevron-down"><span>&#708;</span></div>
        <div class="chevron chevron-up"><span>&#709;</span></div>
        <div class="js-selected-counter"></div>
    </div>
    <div class="options-container" id="@(Model.Id)">
        <div class="govuk-form-group js-auto-height-inner">
            <fieldset class="govuk-fieldset">
                <legend class="govuk-visually-hidden">Select an option below to filter the results</legend>
                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                    @foreach (var item in Model.Metadata)
                    {
                    <div class="govuk-checkboxes__item app-checkboxes__item--filter">
                        <input name="@(Model.Group)" @(item.Disabled ? "disabled" : string.Empty) 
                               value="@(item.Value)" 
                               id="@(Model.Group)_@item.Id" 
                               type="checkbox"
                               class="govuk-checkboxes__input"
                               @(item.Checked ? "checked" : "")>
                        <label for="@(Model.Group)_@item.Id" @(item.Disabled ? "disabled" : string.Empty)
                               class="govuk-label govuk-checkboxes__label">
                            @(item.Label)
                        </label>
                    </div>
                    }
                </div>
            </fieldset>
        </div>
    </div>
</div>
