@using SFB.Web.UI.Helpers.Constants
@model SFB.Web.UI.Models.SearchViewModel

<div id="SchoolOrCollegeNameIdAccordion" class="accordion-label multiple-choice js-accordion @(Model.GetRadioButtonSelectedClass(SearchTypes.SEARCH_BY_NAME_ID))" aria-controls="SearchByNameIdFieldset">
    <input id="SchoolOrCollegeNameId" type="radio" @(Model.GetRadioButtonCheckedAttr(SearchTypes.SEARCH_BY_NAME_ID)) aria-label="Search by School name, URN or LAESTAB code"/>
    <label for="SchoolOrCollegeNameId">School name, URN or LAESTAB code</label>
</div>
<div id="SearchByNameIdFieldset" class="panel panel-border-narrow search-types__optional-section form-group @(Model.GetSearchTypeErrorClass(SearchTypes.SEARCH_BY_NAME_ID))">
    <label class="search-types__optional-section__label form-label" for="FindByNameId">Enter a school name, <abbr title="Unique reference number" aria-label="Unique reference number">URN</abbr> or <abbr title="Local authority establishment code" aria-label="Local authority establishment number">LAESTAB number</abbr></label>
    <label class="visually-hidden" for="FindByNameId_listbox">Select a school name from the list box</label>
    @if (Model.SearchTypeHasError(SearchTypes.SEARCH_BY_NAME_ID))
    {
        <span class="error-message">@Model.ErrorMessage</span>
    }
    <div class="multiple-choice" style="float:none">
        <input id="openOnlyName" name="openOnly" type="checkbox" value="true" checked @(Model.GetOpenOnlyDisabledAttr(SearchTypes.SEARCH_BY_NAME_ID))>
        <label class="search-types__optional-section__label" for="openOnlyName">Include open schools only</label>
    </div>
    <input id="FindByNameId"
           class="form-control"
           name="nameId"
           type="text"
           maxlength="100"
           data-suggestion-url="@(Model.SchoolSuggestionUrl)" />
    <button type="submit" class="govuk-button search-button" data-module="govuk-button" name="searchtype" value="@SearchTypes.SEARCH_BY_NAME_ID">Search</button>
    <input type="hidden" id="FindByNameIdSuggestionId" name="suggestionUrn" />
</div>

