@using SFB.Web.UI.Helpers.Constants
@model SFB.Web.UI.Models.SchoolSearchViewModel

<div id="SchoolOrCollegeNameIdAccordion" class="accordion-label multiple-choice js-accordion @(Model.GetRadioButtonSelectedClass(SearchTypes.SEARCH_BY_NAME_ID))" aria-controls="SearchByNameIdFieldset">
    <input id="SchoolOrCollegeNameId" type="radio" @(Model.GetRadioButtonCheckedAttr(SearchTypes.SEARCH_BY_NAME_ID)) />
    <label for="SchoolOrCollegeNameId">School</label>
</div>
<div id="SearchByNameIdFieldset" class="search-types__optional-section form-group @(Model.GetSearchTypeErrorClass(SearchTypes.SEARCH_BY_NAME_ID))">
    <label class="search-types__optional-section__label form-label" for="FindByNameId">Enter a school name, <abbr title="Unique reference number" aria-label="Unique reference number">URN</abbr> or <abbr title="Local authority establishment code" aria-label="Local authority establishment code">LAESTAB code</abbr></label>
    @if (Model.SearchTypeHasError(SearchTypes.SEARCH_BY_NAME_ID))
    {
        <span class="error-message">@Model.ErrorMessage</span>
    }
    <input id="FindByNameId"
           class="form-control"
           name="nameId"
           type="text"
           maxlength="100"
           data-suggestion-url="@(Model.SchoolSuggestionUrl)" />
    <button type="submit" class="search-button" name="searchtype" value="@SearchTypes.SEARCH_BY_NAME_ID">Search</button>
    <input type="hidden" id="FindByNameIdSuggestionId" name="suggestionUrn" />
    @*<div class="multiple-choice">
        <input id="openOnly" name="openOnly" type="checkbox" value="true" checked @(Model.GetOpenOnlyDisabledAttr(SearchTypes.SEARCH_BY_NAME_ID))>
        <label for="openOnly">Include open schools only</label>
    </div>*@
</div>

