@using SFB.Web.UI.Helpers.Constants
@model SFB.Web.UI.Models.SearchViewModel

<div id="LaCodeNameAccordion" class="accordion-label multiple-choice js-accordion @(Model.GetRadioButtonSelectedClass(SearchTypes.SEARCH_BY_LA_CODE_NAME))" aria-controls="SearchByLaCodeNameFieldset">
    <input id="LaCodeName" type="radio" @(Model.GetRadioButtonCheckedAttr(SearchTypes.SEARCH_BY_LA_CODE_NAME)) aria-label="Search by local authority"/>
    <label for="LaCodeName">Local authority</label>
</div>
<div id="SearchByLaCodeNameFieldset" class="panel panel-border-narrow search-types__optional-section form-group @(Model.GetSearchTypeErrorClass(SearchTypes.SEARCH_BY_LA_CODE_NAME))">
    <label class="search-types__optional-section__label" for="FindSchoolByLaCodeName">
        <span>Enter a local authority name or a three-digit <abbr title="Local authority" aria-label="Local authority">LA</abbr> code</span>
    </label>
    <label class="visually-hidden" for="FindSchoolByLaCodeName_listbox">Select a local authority from the list box</label>
    @if (Model.SearchTypeHasError(SearchTypes.SEARCH_BY_LA_CODE_NAME))
    {
        <span class="error-message">@Model.ErrorMessage</span>
    }
    <div class="multiple-choice" style="float:none">
        <input id="openOnlyLa" name="openOnly" type="checkbox" value="true" checked @(Model.GetOpenOnlyDisabledAttr(SearchTypes.SEARCH_BY_LA_CODE_NAME))>
        <label for="openOnlyLa" class="search-types__optional-section__label">Include open schools only</label>
    </div>
    <div>
        <input id="FindSchoolByLaCodeName"
               class="form-control"
               name="lacodename"
               maxlength="100"
               type="text" />
        <input type="hidden" id="SelectedLocalAuthorityId" name="SelectedLocalAuthorityId" />
        <button type="submit" class="govuk-button search-button" data-module="govuk-button" name="searchtype" value="@SearchTypes.SEARCH_BY_LA_CODE_NAME">Search</button>
    </div>
</div>

