@using SFB.Web.UI.Helpers.Constants
@model SFB.Web.UI.Models.SearchViewModel

<div id="SchoolOrCollegeNameIdAccordion" class="govuk-radios__item js-accordion">
    <input class="govuk-radios__input" id="SchoolOrCollegeNameId" name="option" type="radio"
           @Html.Raw(Model.GetRadioButtonCheckedAttr(SearchTypes.SEARCH_BY_NAME_ID))
           data-aria-controls="SearchByNameIdFieldset" />
    <label class="govuk-label govuk-radios__label" for="SchoolOrCollegeNameId">Name, URN or LAESTAB code</label>
</div>
<div id="SearchByNameIdFieldset" class="govuk-radios__conditional govuk-radios__conditional--hidden">
    <div class="govuk-form-group @(Model.GetSearchTypeErrorClass(SearchTypes.SEARCH_BY_NAME_ID))">
        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item govuk-!-margin-bottom-2">
                <input class="govuk-checkboxes__input" id="openOnlyName" name="openOnly" type="checkbox" value="true" checked @(Model.GetOpenOnlyDisabledAttr(SearchTypes.SEARCH_BY_NAME_ID))>
                <label class="govuk-label govuk-checkboxes__label" for="openOnlyName">Include open schools only</label>
            </div>
        </div>
        <label class="govuk-hint" for="FindByNameId">Enter a school name, <abbr title="Unique reference number" aria-label="Unique reference number">URN</abbr> or <abbr title="Local authority establishment code" aria-label="Local authority establishment number">LAESTAB number</abbr></label>
        <label class="govuk-visually-hidden" for="FindByNameId_listbox">Select a school name from the list box</label>
        @if (Model.SearchTypeHasError(SearchTypes.SEARCH_BY_NAME_ID))
        {
            <span class="govuk-error-message"><span class="govuk-visually-hidden">Error: </span>@Model.ErrorMessage</span>
        }
        <input id="FindByNameId"
               class="govuk-input @(Model.GetInputErrorClass(SearchTypes.SEARCH_BY_NAME_ID))"
               name="nameId"
               type="text"
               maxlength="100"
               data-suggestion-url="@(Model.SchoolSuggestionUrl)" />
        <button type="submit" class="govuk-button search-button" data-module="govuk-button" name="searchtype" value="@SearchTypes.SEARCH_BY_NAME_ID">Search</button>
        <input type="hidden" id="FindByNameIdSuggestionId" name="suggestionUrn" />
    </div>
</div>

