@using SFB.Web.UI.Helpers.Constants
@model SFB.Web.UI.Models.SearchViewModel

<div id="TrustNameAccordion" class="govuk-radios__item js-accordion">
    <input class="govuk-radios__input" id="trustNameId" name="option" type="radio"
           @Html.Raw(Model.GetRadioButtonCheckedAttr(SearchTypes.SEARCH_BY_TRUST_NAME_ID))
           data-aria-controls="SearchByTrustNameFieldset" />
    <label class="govuk-label govuk-radios__label" for="trustNameId">Name or Companies House number</label>
</div>
<div id="SearchByTrustNameFieldset" class="govuk-radios__conditional govuk-radios__conditional--hidden">
    <div class="govuk-form-group @(Model.GetSearchTypeErrorClass(SearchTypes.SEARCH_BY_TRUST_NAME_ID))">
        <div class="govuk-hint" for="FindByTrustName">
            Enter a trust name or Companies House number
        </div>
        <label class="govuk-visually-hidden" for="FindByTrustName_listbox">Select a trust from the list box</label>
        @if (Model.SearchTypeHasError(SearchTypes.SEARCH_BY_TRUST_NAME_ID))
        {
            <span class="govuk-error-message"><span class="govuk-visually-hidden">Error: </span>@Model.ErrorMessage</span>
        }
        <input id="FindByTrustName"
               class="govuk-input @(Model.GetInputErrorClass(SearchTypes.SEARCH_BY_TRUST_NAME_ID))"
               name="trustnameid"
               type="text"
               data-suggestion-url="@(Model.TrustSuggestionUrl)" />
        <input type="hidden" id="FindByTrustNameSuggestionId" name="trustsuggestionUrn" />
        <button type="submit" class="govuk-button search-button" data-module="govuk-button" name="searchtype" value="@SearchTypes.SEARCH_BY_TRUST_NAME_ID">Search</button>
    </div>
</div>

