@using SFB.Web.UI.Helpers.Constants
@model SFB.Web.UI.Models.SearchViewModel

<div id="TrustTownOrCityAccordion" class="accordion-label multiple-choice js-accordion @(Model.GetRadioButtonSelectedClass(SearchTypes.SEARCH_BY_TRUST_LOCATION))" aria-controls="TrustSearchByTownFieldset">
    <input id="TrustTownOrCity" type="radio" @(Model.GetRadioButtonCheckedAttr(SearchTypes.SEARCH_BY_TRUST_LOCATION)) aria-label="Search by Location of schools in academy trust" />
    <label for="TrustTownOrCity">Location of schools in academy trust</label>
</div>
<div id="TrustSearchByTownFieldset" class="panel panel-border-narrow search-types__optional-section form-group @(Model.GetSearchTypeErrorClass(SearchTypes.SEARCH_BY_TRUST_LOCATION))">
    <label class="search-types__optional-section__label" for="FindTrustByTown">
        Enter a postcode, town or street
    </label>
    <label class="visually-hidden" for="FindTrustByTown_listbox">Select a location from the list box</label>
    <div class="location-error-message-placeholder">
        @if (Model.SearchTypeHasError(SearchTypes.SEARCH_BY_TRUST_LOCATION))
        {
            <span class="error-message">@Model.ErrorMessage</span>
        }
    </div>
    <div>
        <input id="FindTrustByTown"
               class="form-control search-input"
               name="locationorpostcode"
               placeholder=""
               maxlength="100"
               type="text" />
        <input type="hidden" id="LocationCoordinatesForTrust" name="LocationCoordinatesForTrust" />
        <button type="submit" class="search-button" name="searchtype" value="@SearchTypes.SEARCH_BY_TRUST_LOCATION">Search</button>
    </div>
</div>