@using SFB.Web.UI.Helpers.Constants
@model SFB.Web.UI.Models.SearchViewModel

<div id="TrustNameAccordion" class="accordion-label multiple-choice js-accordion @(Model.GetRadioButtonSelectedClass(SearchTypes.SEARCH_BY_TRUST_NAME_ID))" aria-controls="SearchByTrustNameFieldset">
    <input id="trustNameId" type="radio" @(Model.GetRadioButtonCheckedAttr(SearchTypes.SEARCH_BY_TRUST_NAME_ID)) aria-label="Search by Academy trust name or Companies House number" />
    <label for="trustNameId">Academy trust name or Companies House number</label>
</div>
<div id="SearchByTrustNameFieldset" class="govuk-inset-text app-govuk-inset-text--narrow search-types__optional-section govuk-form-group @(Model.GetSearchTypeErrorClass(SearchTypes.SEARCH_BY_TRUST_NAME_ID))">
    <label class="search-types__optional-section__label form-label" for="FindByTrustName">
        Enter a trust name or Companies House number
    </label>
    <label class="visually-hidden" for="FindByTrustName_listbox">Select a trust from the list box</label>
    @if (Model.SearchTypeHasError(SearchTypes.SEARCH_BY_TRUST_NAME_ID))
    {
        <span class="govuk-error-message"><span class="govuk-visually-hidden">Error: </span>@Model.ErrorMessage</span>
    }
    <input id="FindByTrustName"
           class="form-control @(Model.GetInputErrorClass(SearchTypes.SEARCH_BY_TRUST_NAME_ID))"
           name="trustnameid"
           type="text"
           maxlength="100"
           data-suggestion-url="@(Model.TrustSuggestionUrl)" />
    <input type="hidden" id="FindByTrustNameSuggestionId" name="trustsuggestionUrn" />
    <button type="submit" class="govuk-button search-button" data-module="govuk-button" name="searchtype" value="@SearchTypes.SEARCH_BY_TRUST_NAME_ID">Search</button>
</div>

