<div id="backLink" class="govuk-breadcrumbs hide-in-print">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="/">
            Home
            </a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="../../school/detail?urn=@ViewBag.HomeSchoolId" aria-label="Back to @ViewBag.HomeSchoolName">
            @ViewBag.HomeSchoolName
            </a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="@System.Configuration.ConfigurationManager.AppSettings["EfficiencyMetricsUrl"]/how-it-works/@ViewBag.HomeSchoolId/@ViewBag.HomeSchoolName">
                Introduction to the efficiency metric
            </a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="@System.Configuration.ConfigurationManager.AppSettings["EfficiencyMetricsUrl"]/metric/@ViewBag.HomeSchoolId">
                Efficiency metric rank
            </a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="@System.Configuration.ConfigurationManager.AppSettings["EfficiencyMetricsUrl"]/comparison-type/@ViewBag.HomeSchoolId/@ViewBag.HomeSchoolName">
                Select comparison type
            </a>
        </li>
    </ol>
</div>