@using SFB.Web.ApplicationCore.Helpers.Enums
@model SFB.Web.ApplicationCore.Models.SelfAssesmentModel

<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary hide-in-print">
    <span class="govuk-details__summary-text govuk-!-font-size-16">
      View characteristics used
    </span>
  </summary>
  <div class="govuk-details__text govuk-!-font-size-16 show-in-print" id="criteriaTables">
    <table class="govuk-table govuk-!-font-size-16" id="criteriaTable" aria-describedby="criteriaText">
      <caption id="criteriaText" class="govuk-table__caption">This benchmark was created using the following criteria.</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Characteristic</th>
          @if (Model.FinanceType == EstablishmentType.Federation.ToString())
          {
            <th scope="col" class="govuk-table__header">Your federation</th>
          }
          else
          {
            <th scope="col" class="govuk-table__header">Your school</th>
          }
          <th scope="col" class="govuk-table__header">Comparison criteria</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        @if (Model.FinanceType == EstablishmentType.Federation.ToString())
        {
          <td class="govuk-table__cell">Phase</td>
        }
        else
        {
          <td class="govuk-table__cell">School phase</td>
        }
        
        <td class="govuk-table__cell">@Model.OverallPhase</td>
        <td class="govuk-table__cell">@Model.OverallPhase</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">London weighting</td>
        <td class="govuk-table__cell" id="lw1">
          @(Model.LondonWeighting.ToLower() == "neither" ?
            "Not London" :
            "London")
        </td>
        <td class="govuk-table__cell" id="lw2">
          @(Model.LondonWeighting.ToLower() == "neither" ?
            "Not London" :
            "London")
        </td>
      </tr>
      @if (Model.SadSizeLookup != null)
      {
        <tr class="govuk-table__row" id="size">
          <td class="govuk-table__cell">Number of pupils</td>
          <td class="govuk-table__cell">@($"{Model.NumberOfPupilsLatestTerm:0.##}")</td>
          <td class="govuk-table__cell">
            @if (Model.SadSizeLookup.NoPupilsMax != null)
            {
              <span>Schools with @($"{Model.SadSizeLookup.NoPupilsMin:0.##}") -
                @($"{Model.SadSizeLookup.NoPupilsMax:0.##}") pupils</span>
            }
            else
            {
              <span>Schools with @($"{Model.SadSizeLookup.NoPupilsMin:0.##}") or more pupils</span>
            }
          </td>
        </tr>
      }
      
      @if (Model.SadFSMLookup != null)
      {
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">FSM</td>
          <td class="govuk-table__cell">@Model.FSMLatestTerm%</td>
          <td class="govuk-table__cell">
            Schools with @Model.SadFSMLookup.FSMMin% - @Model.SadFSMLookup.FSMMax% FSM
          </td>
        </tr>
      }
      </tbody>
    </table>
  </div>
</details>

