@using SFB.Web.ApplicationCore.Helpers.Enums
@using SFB.Web.UI.Helpers.Constants
@using SFB.Web.UI.Helpers.Enums

@model SFB.Web.UI.Models.FederationViewModel
@{
    ViewBag.ErrorPrefix = Model.HasError() ? "Error: " : "";
    ViewBag.Title = Model.Name;
    ViewBag.pageClass = "federation-detail";
}

@section InsideHead{
    <link href="~/node_modules/c3/c3.css" rel="stylesheet" type="text/css">
    <link href="~/public/assets/print/school-print.css" media="print" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="~/node_modules/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="~/node_modules/leaflet.markercluster/dist/MarkerCluster.css" />
    <link rel="stylesheet" href="~/node_modules/leaflet.markercluster/dist/MarkerCluster.Default.css" />
    <link rel="stylesheet" href="~/node_modules/leaflet-fullscreen/dist/leaflet.fullscreen.css" />

    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="~/node_modules/leaflet/dist/leaflet.js"></script>
    <script src='~/node_modules/leaflet-fullscreen/dist/Leaflet.fullscreen.min.js'></script>
    <script src="~/node_modules/leaflet.markercluster/dist/leaflet.markercluster.js"></script>
}

@section BMListBannerContent
{
    <div id="benchmarkBasket"></div>
}


@section BackButtonContent{
    @Html.Partial("Partials/BackToHomeLink")
}

<div class="govuk-grid-row">
    <div class=" govuk-grid-column-full">
        @if (!Model.IsReturnsDNS)
        {
            <div class="blue-banner">
                <h1 class="govuk-heading-xl page-heading">@Model.Name</h1>

                <p class="govuk-body hide-in-print">There are now several ways for you to compare this federation against schools and federations.</p>

                <a href="federation/start-benchmarking?fuid=@Model.Id" role="button" draggable="false" class="govuk-button govuk-button--start app-button--start-blue govuk-!-margin-bottom-0 hide-in-print" data-module="govuk-button">
                    Start a comparison
                    <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
                    </svg>
                </a>

            </div>
        }
        else
        {
            <h1 class="govuk-heading-xl page-heading">@Model.Name</h1>
        }
    </div>
    <div class=" govuk-grid-column-full mt-1 pl-0">
        <div class=" govuk-grid-column-full hide-in-print">
            <div class="govuk-grid-column-one-third no-padding">
                <div class="add-remove">
                    <button @DisplayStyle(!Model.IsInComparisonList) class="pl-0 link-button no-underline govuk-!-font-size-16 govuk-!-font-weight-bold black add-remove-js" onclick="@($"DfE.Views.HistoricalCharts.updateBenchmarkBasket({Request.QueryString["fuid"]},'Add')")">
                        <img class="icon" src="~/public/assets/images/icons/add_to_set.svg" alt=""/>
                        <div class="inline">
                            <span> Add to benchmark set</span>
                        </div>
                    </button>
                    <button @DisplayStyle(Model.IsInComparisonList) class="pl-0 link-button no-underline govuk-!-font-size-16 govuk-!-font-weight-bold black add-remove-js" onclick="@($"DfE.Views.HistoricalCharts.updateBenchmarkBasket({Request.QueryString["fuid"]},'Remove')")">
                        <img class="icon" src="~/public/assets/images/icons/remove_from_set.svg" alt=""/>
                        <div class="inline">
                            <span> Remove from benchmark set</span>
                        </div>
                    </button>
                </div>
            </div>
            <div class="govuk-grid-column-one-third no-padding">
                <div class="download">
                    <button class="link-button no-underline govuk-!-font-size-16 govuk-!-font-weight-bold black sfb_gtm_csv_school" onclick="DfE.Views.FederationDetailsViewModel.downloadData('@Model.UID')" aria-label="Download data for @Model.Name in Excel spreadsheet. Opens in a new window">
                        <img class="icon" alt="Opens in a new window" src="~/public/assets/images/icons/download.svg" />
                        <div id="DownloadLinkTextWrapper" class="inline">
                            <span id="DownloadLinkText"> Download data for this federation<span class="govuk-visually-hidden"> (CSV)</span></span>
                        </div>
                    </button>
                </div>
            </div>
            <div class="govuk-grid-column-one-third no-padding">
                <div class="print">
                    <button class="link-button no-underline govuk-!-font-size-16 govuk-!-font-weight-bold black" onclick="DfE.Views.FederationDetailsViewModel.printPage()" aria-label="Print page for @Model.Name">
                        <img class="icon" alt="" src="~/public/assets/images/icons/print.svg" />
                        Print page
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class=" govuk-grid-column-full mt-2">
        <p class="govuk-body govuk-!-font-size-19">This federation is a combination of <span class="govuk-!-font-weight-bold">@Model.SchoolsInFederation.Count</span> school’s finance and workforce data and can be compared against other schools and federations. You can still compare the individual schools unless they did not submit financial data due to federated budgets.</p>
        <div class="govuk-accordion app-accordion--no-open-all" data-module="govuk-accordion" id="schools-in-federation-accordion">
            <div class="govuk-accordion__section ">
                <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                        <span class="govuk-accordion__section-button" id="accordion-fed-heading">
                            Schools in this federation
                        </span>
                    </h2>
                </div>
                <div id="accordion-fed-content" class="govuk-accordion__section-content" aria-labelledby="accordion-fed-heading">
                    <div class="resultListPanel">
                        <ul class="govuk-list govuk-list--bullet resultListPanel__ul">
                            @foreach (var school in Model.SchoolsInFederation)
                            {
                                <li>
                                    <a class="govuk-link" href="/school/detail?urn=@school.URN">@school.EstablishmentName</a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
        <div class="metadata-school-detail govuk-!-font-size-16">
            <dl class="metadata-school-detail__dl">

                @SchoolDetailField("Local authority:", $"<a class=\"govuk-link\" href=\"/SchoolSearch/Search?nameId=&suggestionUrn=&trustnameid=&trustsuggestionUrn=&locationorpostcode=&LocationCoordinates=&openOnly=true&lacodename={Model.La.ToString()}&SelectedLocalAuthorityId=&searchtype=search-by-la-code-name\" aria-label=\"View schools in {Model.LaName}\">{Model.LaName}</a>")
                @SchoolDetailField("School type:", Model.Type)
                @SchoolDetailField("Overall phase:", Model.OverallPhase)
                @SchoolDetailField("Number of pupils:", Model.TotalPupils.ToString())
                @SchoolDetailField("Federation UID:", Model.UID.ToString())
                @SchoolDetailField("Age range of pupils:", Model.AgeRange)
                @SchoolDetailField("Has sixth form:", Model.Has6Form)
                @SchoolDetailField("Has nursery:", Model.HasNursery)

                @DataSourcesField()

            </dl>
            <div style="display: inline-block" class="mb-1">
                <a class="govuk-link hide-in-print" href="~/Help/DataQueries?urn=@Model.Id&schoolName=@Model.Name">Do you have a query about this federation's data?</a>
            </div>
        </div>
    </div>
    <div class="govuk-grid-column-one-half">
        <details class="govuk-details" data-module="govuk-details" open>
            <summary class="govuk-details__summary map hide-in-print">
                <span class="govuk-details__summary-text govuk-!-font-size-16">Show map</span>
            </summary>
            <div class="map">
                <a href="#post-map-content" class="govuk-link govuk-visually-hidden-focusable hide-in-print">Skip the map</a>
                <div id="SchoolLocationMap" class="mtl school-location-map" title="An Azure map of the school's location" aria-label="An Azure map of the school's location"></div>
            </div>
        </details>
    </div>
    <div id="post-map-content"></div>
</div>

@Html.Partial("Partials/FinancialSummaryFields")

<a class="govuk-link" name="charts"></a>

<div id="tabs" class="govuk-tabs" data-module="govuk-tabs">
    <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected hide-in-print" id="ExpenditureTab">
            <a class="govuk-tabs__tab"
               onclick="DfE.Views.FederationDetailsViewModel.tabChange(@Model.Id,'@TabType.Expenditure')"
               href="#tabPanel">@TabNames.EXPENDITURE</a>
        </li>
        <li class="govuk-tabs__list-item hide-in-print" id="IncomeTab">
            <a class="govuk-tabs__tab"
               onclick="DfE.Views.FederationDetailsViewModel.tabChange(@Model.Id,'@TabType.Income')"
               href="#tabPanel">@TabNames.INCOME</a>
        </li>
        <li class="govuk-tabs__list-item hide-in-print" id="BalanceTab">
            <a class="govuk-tabs__tab"
               onclick="DfE.Views.FederationDetailsViewModel.tabChange(@Model.Id,'@TabType.Balance')"
               href="#tabPanel">@TabNames.BALANCE</a>
        </li>
        <li class="govuk-tabs__list-item hide-in-print" id="WorkforceTab">
            <a class="govuk-tabs__tab"
               onclick="DfE.Views.FederationDetailsViewModel.tabChange(@Model.Id,'@TabType.Workforce')"
               href="#tabPanel">@TabNames.WORKFORCE</a>
        </li>
    </ul>

    <div id="tabPanel" class="govuk-tabs__panel app-tabs__panel--no-border">
        <div class="sticky-div sticky-chart-controls">
            <div id="controls-accordion">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-visually-hidden hide-in-print">Filters</legend>
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full">
                            @Html.Partial("Partials/ChartGroups", Model.ChartGroups)
                            @Html.Partial("Partials/ValueSelect", Model)
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="charts-section">
            <div class="govuk-grid-row">
                <div>
                    <div class=" govuk-grid-column-full govuk-!-font-size-16 chartTable hide-in-print">
                        <button type="button" style="display: @Html.Raw(ViewBag.ChartFormat == ChartFormat.Tables ? "block" : "none")" class="view-charts-tables charts a-button" onclick="DfE.Views.FederationDetailsViewModel.toggleChartsTables('Charts')"><img class="icon icon-chart" src="~/public/assets/images/icons/graph.svg" alt="" /><span> View as charts</span></button>
                        <button type="button" style="display: @Html.Raw(ViewBag.ChartFormat == ChartFormat.Tables ? "none" : "block")" class="view-charts-tables tables a-button" onclick="DfE.Views.FederationDetailsViewModel.toggleChartsTables('Tables')"><img class="icon icon-table" src="~/public/assets/images/icons/table.svg" alt="" /><span> View as tables<span class="govuk-visually-hidden"> - Recommended option for screen readers</span></span></button>
                    </div>
                    <div class=" govuk-grid-column-full govuk-!-font-size-16 hide-in-print">
                        <button type="button" class="back-to-main-chart-group-button" onclick="DfE.Views.HistoricalCharts.resetGrouping()">
                            <span><</span>
                            <span class="govuk-link">All <span class="js-parent-group">expenditure</span> charts</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="historical-charts-list">
                @Html.Partial("Partials/Chart", Model)
            </div>
        </div>
    </div>

</div>

<a href="#pagetop" class="govuk-link page-top hide-in-print">Back to top</a>

<iframe id="download_iframe" style="display:none;"></iframe>

@helper SchoolDetailFieldFormatted(string name, string formatString, params string[] args)
{
    if (args != null)
    {
        if (args.Any(string.IsNullOrEmpty))
        {
            return;
        }

        var formatted = string.Format(formatString, args);
        @SchoolDetailField(name, formatted)
    }
}

@helper SchoolDetailField(string name, string value)
{
    if (!string.IsNullOrEmpty(value))
    {
        var htmlValue = new MvcHtmlString(value);

        <dt class="metadata-school-detail__dt govuk-body-s">@name</dt>
        <dd class="metadata-school-detail__dd govuk-body-s govuk-!-font-weight-bold bold">@htmlValue</dd>
    }
}

@helper DataSourcesField()
{
    <dt class="metadata-school-detail__dt govuk-body-s">Data from other <br>services:</dt>
    <dd class="metadata-school-detail__dd govuk-body-s govuk-!-font-weight-bold bold">
        <a rel="external noopener noreferrer" class="govuk-link sfb_gtm_more_info" target="_blank" href="https://get-information-schools.service.gov.uk/Groups/Group/Details/@Model.UID">Get information about schools<span class="govuk-visually-hidden"> Opens in a new window</span></a>
    </dd>
}

@section ViewScripts {
    <script src="~/node_modules/d3/d3.min.js"></script>
    <script src="~/node_modules/c3/c3.min.js"></script>
    <script src="~/node_modules/lodash/lodash.min.js"></script>

    <script>
        DfE.Views.FederationDetailsViewModel = new FederationDetailsViewModel('@ViewBag.ChartFormat', '@ViewBag.UnitType', '@(System.Configuration.ConfigurationManager.AppSettings["AzureMapsAPIKey"])');
    </script>
}

@helper DisplayStyle(bool display)
{
    if (display)
    {
        @Html.Raw("style=\"display: inline-block\"");
    }
    else
    {
        @Html.Raw("style=\"display: none\"");
    }
}
