@using SFB.Web.UI.Helpers.Constants
@using SFB.Web.UI.Helpers.Enums
@using SFB.Web.Common
@model SFB.Web.UI.Models.TrustViewModel

@{
    ViewBag.Title = "Schools Financial Benchmarking";
    ViewBag.pageClass = "sponsor-detail";
}

@section InsideHead{
    <link href="~/public/assets/print/school-print.css" media="print" rel="stylesheet" type="text/css">
}

@section StickyContent
{
    @Html.Partial("Partials/BenchmarkListBanner")
}

@section BackButtonContent{

    @Html.Partial("Partials/BackToHomeLink")
}

<h1 class="heading-xlarge page-heading">@Model.Name</h1>
<div class="grid-row">
    <div class="column-third">
        <a class="button" href="/TrustComparison?companyNo=@Model.CompanyNo&matName=@Model.Name">Compare with other trusts</a>
    </div>
</div>

<div class="grid-row">
    <div class="column-full">
        <div class="result-list-summary">
            This trust is made up of <span class="bold">@Model.AcademiesList.Count</span> academies that were in scope for financial benchmarking at the time of the last financial submissions. Post 16 academies are included for distribution purposes, but they cannot be benchmarked.
            <a href="/TrustSchools?companyNo=@Model.CompanyNo&matname=@Model.Name">Select schools to compare</a>
        </div>
    </div>
    <div class="column-full resultListPanel">
        @if (Model.AcademiesList.Count > 10)
        {
            <details>
                <summary class="hide-in-print">
                    <span class="summary">View all academies</span>
                </summary>
                <div>
                    <ul class="list two-columns">
                        @foreach (var academy in Model.AcademiesList)
                        {
                            if (academy.HasIncompleteFinancialData)
                            {
                                <li>
                                    <a href="/school/detail?urn=@academy.URN" class="highlight-warning">@academy.EstablishmentName 
                                    <span class="visually-hidden"> has data from a period less than 12 months</span></a>
                                </li>
                            }
                            else
                            {
                                <li>
                                    <a href="/school/detail?urn=@academy.URN">@academy.EstablishmentName</a>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </details>
        }
        else
        {
            <ul class="list list-bullet">
                @foreach (var school in Model.AcademiesList)
                {
                    if (school.HasIncompleteFinancialData)
                    {
                        <li>
                            <a href="/school/detail?urn=@school.URN" class="highlight-warning">
                                @school.EstablishmentName
                            <span class="visually-hidden"> has data from a period less than 12 months</span></a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a href="/school/detail?urn=@school.URN">@school.EstablishmentName</a>
                        </li>
                    }
                }
            </ul>
        }
    </div>
</div>
@if (Model.IsReturnsDNS)
{
    <div class="panel panel-border-wide orange-warning">
        <p>
            This trust has not submitted any data
        </p>
    </div>
}
else
{
    @*<div class="grid-row">
        @if (!Model.IsReturnsComplete)
        {
            <div class="panel panel-border-wide orange-warning">
                <p>
                    This trust's data is from a period less than 12 months
                </p>
            </div>
        }
    </div>*@
    <div class="grid-row">
        @if (Model.AcademiesList.Any(m => m.HasIncompleteFinancialData))
        {
            <div class="panel panel-border-wide orange-warning">
                <p>
                    Some of this trust's schools have data from a period less than 12 months
                </p>
            </div>
        }
    </div>
}

<div class="grid-row">
    <div id="placeholderWarning" class="panel panel-border-wide orange-warning" style="display:@Html.Raw(Model.IsReturnsPlaceholder ? "block" : "none")">
        <p>
            This trust did not submit finance for the most recent year
        </p>
    </div>
</div>


<div class="grid-row download-links hide-in-print">
    <div class="column-full">
        <div class="column-one-third no-padding">
            <div class="download">
                <a class="no-underline bold-xsmall" href="/trust/download?companyNo=@Model.CompanyNo&name=@Model.Name" aria-label="Download data for @Model.Name in Excel spreadsheet. Opens in a new window">
                    <img class="icon" alt="" src="~/public/assets/images/icons/icon-file-download.png"/>
                    Download data for this trust (CSV)
                </a>
            </div>
        </div>
        <div class="column-one-third no-padding">
            <div class="print">
                <a class="no-underline bold-xsmall" onclick="DfE.Views.TrustDetailsViewModel.PrintPage()" aria-label="Print page for @Model.Name">
                    <img class="icon" alt="" src="~/public/assets/images/icons/icon-print.png"/>
                    Print page
                </a>
            </div>
        </div>
    </div>
</div>

@Html.Partial("Partials/FinancialSummaryFields")


<a name="charts"></a>
<nav class="tabs" role="navigation">
    <ol role="tablist">
        <li class="@(ViewBag.Tab == RevenueGroupType.Expenditure ? "active" : "") hide-in-print" role="tab">
            <button class="a-button" onclick='DfE.Views.TrustDetailsViewModel.TabChange("@Model.Code","@Model.CompanyNo","@Model.Name","@RevenueGroupType.Expenditure")'>@RevenueGroupNames.EXPENDITURE</button>
        </li>
        <li class="@(ViewBag.Tab == RevenueGroupType.Income ? "active" : "") hide-in-print" role="tab">
            <button class="a-button" onclick='DfE.Views.TrustDetailsViewModel.TabChange("@Model.Code","@Model.CompanyNo","@Model.Name","@RevenueGroupType.Income")'>@RevenueGroupNames.INCOME</button>
        </li>
        <li class="@(ViewBag.Tab == RevenueGroupType.Balance ? "active" : "") hide-in-print" role="tab">
            <button class="a-button" onclick='DfE.Views.TrustDetailsViewModel.TabChange("@Model.Code","@Model.CompanyNo","@Model.Name","@RevenueGroupType.Balance")'>@RevenueGroupNames.BALANCE</button>
        </li>
    </ol>
</nav>

<div class="charts-section">
    <div class="grid-row">
        <div autocomplete="off">
            @Html.Partial("Partials/ValueSelect")
            @Html.Partial("Partials/ChartGroups", Model.ChartGroups)
            @Html.Partial("Partials/TrustCentralFinancing")

            <div class="column-full font-xsmall chartTable hide-in-print">
                <button type="button" style="display: @Html.Raw(ViewBag.ChartFormat == ChartFormat.Tables ? "block" : "none")" class="view-charts-tables charts a-button" onclick="DfE.Views.TrustDetailsViewModel.ToggleChartsTables('Charts')"><img class="icon" src="~/public/assets/images/icons/icon-chart.png" alt="" /><span> View as charts</span></button>
                <button type="button" style="display: @Html.Raw(ViewBag.ChartFormat == ChartFormat.Tables ? "none" : "block")" class="view-charts-tables tables a-button" onclick="DfE.Views.TrustDetailsViewModel.ToggleChartsTables('Tables')"><img class="icon" src="~/public/assets/images/icons/icon-list.png" alt="" /><span> View as tables</span></button>
            </div>
            <div class="column-full font-xsmall hide-in-print">
                <button type="button" class="back-to-main-chart-group-button" onclick="DfE.Views.HistoricalCharts.ResetGrouping()">
                    <span><</span>
                    <span class="underline">All <span class="js-parent-group">expenditure</span> charts</span>
                </button>
            </div>
        </div>
    </div>
    <div class="historical-charts-list">
        @Html.Partial("Partials/Chart", Model)
    </div>
</div>

<a href="#pagetop" class="page-top hide-in-print">Back to top</a>

@section ViewScripts {
    <script src="~/node_modules/d3/d3.min.js"></script>
    <script src="~/node_modules/c3/c3.min.js"></script>
    <script src="~/node_modules/lodash/lodash.min.js"></script>

    <script>
        DfE.Views.TrustDetailsViewModel = new TrustDetailsViewModel('@ViewBag.ChartFormat');
    </script>
}