@using SFB.Web.UI.Helpers.Constants
@using SFB.Web.UI.Helpers.Enums
@using SFB.Web.ApplicationCore.Helpers.Enums
@using System.Configuration;
@model SFB.Web.UI.Models.TrustViewModel

@{
    ViewBag.Title = Model.Name;
    ViewBag.pageClass = "sponsor-detail";
}

@section InsideHead{
    <link href="~/node_modules/c3/c3.css" rel="stylesheet" type="text/css">
    <link href="~/public/assets/print/school-print.css" media="print" rel="stylesheet" type="text/css">
}

@section BMListBannerContent
{
    @Html.Partial("Partials/BenchmarkListBanner")
}

@section BackButtonContent{

    @Html.Partial("Partials/BackToHomeLink")
}

@if (Model.IsUnderReview)
{
    <div class="govuk-inset-text app-govuk-inset-text--orange mt-1">
        <div class="combined-warnings">
            <div class="govuk-warning-text">
                <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                <strong class="govuk-warning-text__text">
                    <span class="govuk-warning-text__assistive">Warning</span>
                    @ConfigurationManager.AppSettings["UnderReviewMessageForTrusts"]
                </strong>
            </div>
        </div>
    </div>
}

@if (Model.IsReturnsDNS || Model.AcademiesInFinanceList.Any(m => m.HasIncompleteFinancialData) || Model.IsReturnsPlaceholder)
{
    <div class="govuk-inset-text app-govuk-inset-text--orange mt-1">
        <div class="combined-warnings">
            @if (Model.IsReturnsDNS)
            {
                <div class="govuk-warning-text">
                    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                    <strong class="govuk-warning-text__text">
                        <span class="govuk-warning-text__assistive">Warning</span>
                        This trust has not submitted any data
                    </strong>
                </div>
            }
            else
            {
                if (Model.AcademiesInFinanceList.Any(m => m.HasIncompleteFinancialData))
                {
                    <div class="govuk-warning-text">
                        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                        <strong class="govuk-warning-text__text">
                            <span class="govuk-warning-text__assistive">Warning</span>
                            Some of this trust's schools have data from a period less than 12 months
                        </strong>
                    </div>
                }

            }

            @if (Model.IsReturnsPlaceholder)
            {
                <div class="govuk-warning-text">
                    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                    <strong class="govuk-warning-text__text">
                        <span class="govuk-warning-text__assistive">Warning</span>
                        This trust did not submit finance for the most recent year
                    </strong>
                </div>
            }
        </div>
    </div>
}

<div class="blue-banner">
    <h1 class="govuk-heading-xl page-heading">@Model.Name</h1>

    @if (!Model.IsReturnsDNS)
    {
        <p class="govuk-body hide-in-print">There are several ways for you to compare this trust against others.</p>

        <a href="/TrustComparison/SelectType?companyNo=@Model.CompanyNo&matName=@Model.Name" role="button" draggable="false" class="govuk-button govuk-button--start app-button--start-blue govuk-!-margin-bottom-0 hide-in-print" data-module="govuk-button">
            Start a comparison
            <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
            </svg>
        </a>
    }

</div>

<div class="govuk-grid-row download-links hide-in-print">
    <div class=" govuk-grid-column-full pl-0">
        <div class="govuk-grid-column-one-third no-padding">
            <div class="download">
                <button class="no-underline link-button govuk-!-font-size-16 govuk-!-font-weight-bold black" onclick="DfE.Views.TrustDetailsViewModel.downloadData(@Model.CompanyNo,'@Model.Name')" aria-label="Download data for @Model.Name in Excel spreadsheet. Opens in a new window">
                    <img class="icon" alt="" src="~/public/assets/images/icons/download.svg" />
                    <div id="DownloadLinkTextWrapper" class="inline">
                        <span id="DownloadLinkText"> Download data for this trust<span class="govuk-visually-hidden"> (CSV)</span></span>
                    </div>
                </button>
            </div>
        </div>
        <div class="govuk-grid-column-one-third no-padding">
            <div class="print">
                <button class="no-underline link-button govuk-!-font-size-16 govuk-!-font-weight-bold" onclick="DfE.Views.TrustDetailsViewModel.printPage()" aria-label="Print page for @Model.Name">
                    <img class="icon" alt="" src="/public/assets/images/icons/print.svg"><span>Print page</span>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="govuk-grid-row">
    @if (Model.AcademiesInContextList.Count > 0)
    {
        <div class=" govuk-grid-column-full">

            <p class="govuk-body mb-1 mt-1">
                This trust is made up of <span class="govuk-!-font-weight-bold">@Model.AcademiesInContextList.Count</span> of schools.
                At the time of <span class="govuk-!-font-weight-bold">@Model.LatestTerm</span> financial submission there were <span class="govuk-!-font-weight-bold">@Model.AcademiesInFinanceList.Count</span> schools in scope for financial benchmarking.
                Post 16 academies are included for distribution purposes, but they cannot be benchmarked.
                <a class="govuk-link" href="/TrustSchools?uid=@Model.UID&companyNo=@Model.CompanyNo&matname=@Model.Name">Compare schools in this trust</a>
            </p>

            <div class="govuk-accordion govuk-!-margin-bottom-3 app-accordion--no-open-all" data-module="govuk-accordion" id="schools-in-trust-accordion">
                <div class="govuk-accordion__section current">
                    <div class="govuk-accordion__section-header">
                        <h2 class="govuk-accordion__section-heading">
                            <span class="govuk-accordion__section-button" id="CurrentHeader">
                                Schools currently in this trust
                            </span>
                        </h2>
                    </div>
                    <div id="accordion-current-content" class="govuk-accordion__section-content" aria-labelledby="CurrentHeader">
                        <div class="sponsor-detail">
                            @if (Model.AcademiesInContextList.Count > 10)
                            {
                                <div class="resultListPanel">
                                    <ul class="govuk-list two-columns resultListPanel__ul">
                                        @foreach (var academy in Model.AcademiesInContextList)
                                        {
                                            <li>
                                                <a class="govuk-link" href="/school/detail?urn=@academy.URN">@academy.EstablishmentName</a>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            }
                            else
                            {
                                <div class="resultListPanel">
                                    <ul class="govuk-list govuk-list--bullet resultListPanel__ul">
                                        @foreach (var school in Model.AcademiesInContextList)
                                        {
                                            <li>
                                                <a class="govuk-link" href="/school/detail?urn=@school.URN">@school.EstablishmentName</a>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            }
                        </div>
                    </div>
                </div>

                <div class="govuk-accordion__section latest">
                    <div class="govuk-accordion__section-header">
                        <h2 class="govuk-accordion__section-heading">
                            <span class="govuk-accordion__section-button" id="LatestTermHeader">
                                Schools in this trust's @Model.LatestTerm submission
                            </span>
                        </h2>
                    </div>
                    <div id="accordion-latest-content" class="govuk-accordion__section-content" aria-labelledby="LatestTermHeader">
                        <div class="sponsor-detail">
                            @if (Model.AcademiesInFinanceList.Count > 10)
                            {
                                <div class="resultListPanel">
                                    <ul class="govuk-list two-columns resultListPanel__ul">
                                        @foreach (var academy in Model.AcademiesInFinanceList)
                                        {
                                            if (academy.HasIncompleteFinancialData)
                                            {
                                                <li>
                                                    <a href="/school/detail?urn=@academy.URN" class="govuk-link highlight-warning">
                                                        @academy.EstablishmentName
                                                        <span class="govuk-visually-hidden"> has data from a period less than 12 months</span>
                                                    </a>
                                                </li>
                                            }
                                            else
                                            {
                                                <li>
                                                    <a class="govuk-link" href="/school/detail?urn=@academy.URN">@academy.EstablishmentName</a>
                                                </li>
                                            }
                                        }
                                    </ul>
                                </div>
                            }
                            else
                            {
                                <div class="resultListPanel">
                                    <ul class="govuk-list govuk-list--bullet resultListPanel__ul">
                                        @foreach (var school in Model.AcademiesInFinanceList)
                                        {
                                            if (school.HasIncompleteFinancialData)
                                            {
                                                <li>
                                                    <a href="/school/detail?urn=@school.URN" class="govuk-link highlight-warning">
                                                        @school.EstablishmentName
                                                        <span class="govuk-visually-hidden"> has data from a period less than 12 months</span>
                                                    </a>
                                                </li>
                                            }
                                            else
                                            {
                                                <li>
                                                    <a class="govuk-link" href="/school/detail?urn=@school.URN">@school.EstablishmentName</a>
                                                </li>
                                            }
                                        }
                                    </ul>
                                </div>
                            }
                        </div>

                    </div>
                </div>

                <div class="govuk-accordion__section history">
                    <div class="govuk-accordion__section-header">
                        <h2 class="govuk-accordion__section-heading">
                            <span class="govuk-accordion__section-button" id="HistoryTermHeader">
                                Trust history
                            </span>
                        </h2>
                    </div>
                    <div id="accordion-history-content" class="govuk-accordion__section-content" aria-labelledby="HistoryTermHeader">
                        <div class="sponsor-detail">
                            <div class="resultListPanel">
                                <table class="govuk-table history-table">
                                    <tr class="govuk-table__row">
                                        <th scope="col" class="govuk-table__header">School year</th>
                                        <th scope="col" class="govuk-table__header">Date</th>
                                        <th scope="col" class="govuk-table__header">Event</th>
                                        <th scope="col" class="govuk-table__header">Organisation</th>
                                    </tr>
                                    @for (int i = 0; i < Model.TrustHistory?.Events.Count; i++)
                                    {
                                        if (i > 0 && Model.TrustHistory.Events[i].SchoolYear == Model.TrustHistory.Events[i - 1].SchoolYear)
                                        {
                                            <tr class="govuk-table__row">
                                                <td class="govuk-table__cell school-year-column" aria-label="@Model.TrustHistory.Events[i].SchoolYear"></td>
                                                <td class="govuk-table__cell">@Model.TrustHistory.Events[i].Date.ToShortDateString()</td>
                                                <td class="govuk-table__cell">@Model.TrustHistory.Events[i].Event</td>
                                                <td class="govuk-table__cell"><a class="govuk-link" href="/school/detail?urn=@Model.TrustHistory.Events[i].OrganisationUrn">@Model.TrustHistory.Events[i].OrganisationName</a></td>
                                            </tr>
                                        }
                                        else
                                        {
                                            <tr class="govuk-table__row new-row">
                                                <td class="govuk-table__cell school-year-column">@Model.TrustHistory.Events[i].SchoolYear</td>
                                                <td class="govuk-table__cell">@Model.TrustHistory.Events[i].Date.ToShortDateString()</td>
                                                <td class="govuk-table__cell">@Model.TrustHistory.Events[i].Event</td>
                                                <td class="govuk-table__cell"><a class="govuk-link" href="/school/detail?urn=@Model.TrustHistory.Events[i].OrganisationUrn">@Model.TrustHistory.Events[i].OrganisationName</a></td>
                                            </tr>
                                        }

                                    }
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    }

</div>

<div class="govuk-grid-row metadata-school-detail govuk-!-font-size-16 mt-1">
    <div class=" govuk-grid-column-full">
        <dl class="metadata-school-detail__dl">
            <dt class="metadata-school-detail__dt govuk-body-s">Companies House number:</dt>
            <dd class="metadata-school-detail__dd govuk-body-s govuk-!-font-weight-bold bold">
                <a class="govuk-link" rel="external noopener noreferrer" target="_blank" title="Companies house link will open in a new page" href="https://beta.companieshouse.gov.uk/company/@(Model.CompanyNo.ToString("D8"))">@(Model.CompanyNo)</a>
            </dd>
            <dt class="metadata-school-detail__dt govuk-body-s">Data from other services:</dt>
            <dd class="metadata-school-detail__dd govuk-body-s govuk-!-font-weight-bold bold">
                <a class="govuk-link trust-ext-link" rel="external noopener noreferrer" target="_blank" title="Find and compare schools in England link will open in a new page" href="https://www.compare-school-performance.service.gov.uk/multi-academy-trust/@(Model.UID)">Find and compare schools in England</a>
                <span class="trust-ext-link-seperator">|</span>
                <a class="govuk-link trust-ext-link" rel="external noopener noreferrer" target="_blank" title="Get information link will open in a new page" href="https://get-information-schools.service.gov.uk/Groups/Group/Details/@(Model.UID)">Get information about schools</a>
            </dd>
        </dl>
    </div>
    <div class=" govuk-grid-column-full mb-1 mt-1" style="clear: left">
        <a href="~/Help/DataQueries" class="govuk-link hide-in-print">Do you have a query about this trust's data?</a>
    </div>
</div>

@Html.Partial("Partials/FinancialSummaryFields")


<a class="govuk-link" name="charts"></a>

<div id="tabs" class="govuk-tabs custom" data-module="govuk-tabs">
    <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected hide-in-print" id="ExpenditureTab">
            <a class="govuk-tabs__tab"
               onclick='DfE.Views.TrustDetailsViewModel.tabChange("@Model.Code","@Model.CompanyNo","@Model.Name","@TabType.Expenditure")'
               href="#tabPanel">@TabNames.EXPENDITURE</a>
        </li>
        <li class="govuk-tabs__list-item hide-in-print" id="IncomeTab">
            <a class="govuk-tabs__tab"
               onclick='DfE.Views.TrustDetailsViewModel.tabChange("@Model.Code","@Model.CompanyNo","@Model.Name","@TabType.Income")'
               href="#tabPanel">@TabNames.INCOME</a>
        </li>
        <li class="govuk-tabs__list-item hide-in-print" id="BalanceTab">
            <a class="govuk-tabs__tab"
               onclick='DfE.Views.TrustDetailsViewModel.tabChange("@Model.Code","@Model.CompanyNo","@Model.Name","@TabType.Balance")'
               href="#tabPanel">@TabNames.BALANCE</a>
        </li>
    </ul>

    <div id="tabPanel" class="govuk-tabs__panel app-tabs__panel--no-border">
        <div class="sticky-div sticky-chart-controls">
            <div id="controls-accordion">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-visually-hidden hide-in-print">Filters</legend>
                    <div>
                        @Html.Partial("Partials/ChartGroups", Model.ChartGroups)
                        @Html.Partial("Partials/ValueSelect")
                        @Html.Partial("Partials/TrustCentralFinancing")
                    </div>
                </fieldset>
            </div>
        </div>

        <div class="charts-section">
            <div class="govuk-grid-row">
                <div autocomplete="off">
                    <div class=" govuk-grid-column-full govuk-!-font-size-16 chartTable hide-in-print">
                        <button type="button" style="display: @Html.Raw(ViewBag.ChartFormat == ChartFormat.Tables ? "block" : "none")" class="view-charts-tables charts a-button" onclick="DfE.Views.TrustDetailsViewModel.toggleChartsTables('Charts')"><img class="icon icon-chart" src="~/public/assets/images/icons/graph.svg" alt="" /><span> View as charts</span></button>
                        <button type="button" style="display: @Html.Raw(ViewBag.ChartFormat == ChartFormat.Tables ? "none" : "block")" class="view-charts-tables tables a-button" onclick="DfE.Views.TrustDetailsViewModel.toggleChartsTables('Tables')"><img class="icon icon-table" src="~/public/assets/images/icons/table.svg" alt="" /><span> View as tables<span class="govuk-visually-hidden"> - Recommended option for screen readers</span></span></button>
                    </div>
                    <div class=" govuk-grid-column-full govuk-!-font-size-16 hide-in-print">
                        <button type="button" class="back-to-main-chart-group-button" onclick="DfE.Views.HistoricalCharts.ResetGrouping()">
                            <span><</span>
                            <span class="govuk-link">All <span class="js-parent-group">expenditure</span> charts</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="historical-charts-list">
                @Html.Partial("Partials/Chart", Model)
            </div>
        </div>
    </div>

</div>

<a href="#pagetop" class="govuk-link page-top hide-in-print">Back to top</a>

@section ViewScripts {
    <script src="~/node_modules/d3/d3.min.js"></script>
    <script src="~/node_modules/c3/c3.min.js"></script>
    <script src="~/node_modules/lodash/lodash.min.js"></script>

    <script>
                DfE.Views.TrustDetailsViewModel = new TrustDetailsViewModel('@ViewBag.ChartFormat');
    </script>
}

<iframe id="download_iframe" style="display:none;" title="download"></iframe>