@using SFB.Web.UI.Helpers.Constants
@using SFB.Web.UI.Helpers.Enums
@using SFB.Web.ApplicationCore.Helpers.Enums
@model SFB.Web.UI.Models.TrustViewModel

@{
    ViewBag.Title = "Schools Financial Benchmarking";
    ViewBag.pageClass = "sponsor-detail";
}

@section InsideHead{
    <link href="~/public/assets/print/school-print.css" media="print" rel="stylesheet" type="text/css">
}

@section BMListBannerContent
{
    @Html.Partial("Partials/BenchmarkListBanner")
}

@section BackButtonContent{

    @Html.Partial("Partials/BackToHomeLink")
}

@if (Model.IsReturnsDNS || Model.AcademiesList.Any(m => m.HasIncompleteFinancialData) || Model.IsReturnsPlaceholder)
{
    <div class="panel panel-border-wide orange-warning mt-1">
        <div class="shared-icon-wrapper hide-in-print">
            <i class="icon icon-important shared-icon">
                <span class="visually-hidden">Warning</span>
            </i>
        </div>
        <div class="combined-warnings">
            @if (Model.IsReturnsDNS)
            {
                <p>
                    This trust has not submitted any data
                </p>
            }
            else
            {
                if (Model.AcademiesList.Any(m => m.HasIncompleteFinancialData))
                {
                    <p>
                        Some of this trust's schools have data from a period less than 12 months
                    </p>
                }

            }

            @if (Model.IsReturnsPlaceholder)
            {
                <p>
                    This trust did not submit finance for the most recent year
                </p>
            }
        </div>
    </div>
}

<h1 class="heading-xlarge page-heading">@Model.Name</h1>
<div class="grid-row">
    @if (!Model.IsReturnsDNS)
    {
        <div class="column-third">
            <a class="button" href="/TrustComparison?companyNo=@Model.CompanyNo&matName=@Model.Name">Compare with other trusts</a>
        </div>
    }
    <div class="column-full mt-2">
        Companies House number:
        <a class="ml-05" rel="external noopener noreferrer" target="_blank" title="Companies house link will open in a new page" href="https://beta.companieshouse.gov.uk/company/@(Model.CompanyNo.ToString("D8"))">@(Model.CompanyNo)</a>
    </div>
</div>

<div class="grid-row">
    <div class="column-full">
        <div class="result-list-summary">
            This trust is made up of <span class="bold">@Model.AcademiesList.Count</span> academies that were in scope for financial benchmarking at the time of the last financial submissions. Post 16 academies are included for distribution purposes, but they cannot be benchmarked.
            <a href="/TrustSchools?companyNo=@Model.CompanyNo&matname=@Model.Name">Select schools to compare</a>
        </div>
    </div>
    <div class="column-full">
        @if (Model.AcademiesList.Count > 10)
        {
            <details class="resultListPanel">
                <summary class="hide-in-print">
                    <span class="summary">View all academies</span>
                </summary>
                <div>
                    <ul class="list two-columns resultListPanel__ul">
                        @foreach (var academy in Model.AcademiesList)
                        {
                            if (academy.HasIncompleteFinancialData)
                            {
                                <li>
                                    <a href="/school/detail?urn=@academy.URN" class="highlight-warning">
                                        @academy.EstablishmentName
                                        <span class="visually-hidden"> has data from a period less than 12 months</span>
                                    </a>
                                </li>
                            }
                            else
                            {
                                <li>
                                    <a href="/school/detail?urn=@academy.URN">@academy.EstablishmentName</a>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </details>
        }
        else
        {
            <div class="resultListPanel">
                <ul class="list list-bullet resultListPanel__ul">
                    @foreach (var school in Model.AcademiesList)
                    {
                        if (school.HasIncompleteFinancialData)
                        {
                            <li>
                                <a href="/school/detail?urn=@school.URN" class="highlight-warning">
                                    @school.EstablishmentName
                                    <span class="visually-hidden"> has data from a period less than 12 months</span>
                                </a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a href="/school/detail?urn=@school.URN">@school.EstablishmentName</a>
                            </li>
                        }
                    }
                </ul>
            </div>
        }
    </div>
    <div class="column-full mb-1 mt-1">
        <a href="~/Help/DataQueries">Do you have a query about this trust's data?</a>
    </div>
</div>

<div class="grid-row download-links hide-in-print">
    <div class="column-full">
        <div class="column-one-third no-padding">
            <div class="download">
                <a class="no-underline bold-xsmall" href="/trust/download?companyNo=@Model.CompanyNo&name=@Model.Name" aria-label="Download data for @Model.Name in Excel spreadsheet. Opens in a new window">
                    <img class="icon" alt="" src="~/public/assets/images/icons/icon-file-download.png" />
                    Download data for this trust
                </a>
            </div>
        </div>
        <div class="column-one-third no-padding">
            <div class="print">
                <button class="no-underline link-button bold-xsmall" onclick="DfE.Views.TrustDetailsViewModel.PrintPage()" aria-label="Print page for @Model.Name">
                    <img class="icon" alt="" src="/public/assets/images/icons/icon-print.png"><span>Print page</span>
                </button>
            </div>
        </div>
    </div>
</div>

@Html.Partial("Partials/FinancialSummaryFields")


<a name="charts"></a>
<nav id="tabs" class="tabs" role="navigation">
    <ol role="tablist">
        <li class="@(ViewBag.Tab == TabType.Expenditure ? "active" : "") hide-in-print" role="tab">
            <button class="a-button" onclick='DfE.Views.TrustDetailsViewModel.TabChange("@Model.Code","@Model.CompanyNo","@Model.Name","@TabType.Expenditure")'>@TabNames.EXPENDITURE</button>
        </li>
        <li class="@(ViewBag.Tab == TabType.Income ? "active" : "") hide-in-print" role="tab">
            <button class="a-button" onclick='DfE.Views.TrustDetailsViewModel.TabChange("@Model.Code","@Model.CompanyNo","@Model.Name","@TabType.Income")'>@TabNames.INCOME</button>
        </li>
        <li class="@(ViewBag.Tab == TabType.Balance ? "active" : "") hide-in-print" role="tab">
            <button class="a-button" onclick='DfE.Views.TrustDetailsViewModel.TabChange("@Model.Code","@Model.CompanyNo","@Model.Name","@TabType.Balance")'>@TabNames.BALANCE</button>
        </li>
    </ol>
</nav>

<div class="sticky-div sticky-chart-controls">
    <div id="controls-accordion" class="accordion mobile-only-accordion">
        <div class="accordion-section">
            <fieldset role="group">
                <legend class="visually-hidden">Filters</legend>
                <div class="accordion-section-header">
                    <h2 class="heading-medium">Filters</h2>
                </div>
                <div class="accordion-section-body">
                    @Html.Partial("Partials/ChartGroups", Model.ChartGroups)
                    @Html.Partial("Partials/ValueSelect")
                    @Html.Partial("Partials/TrustCentralFinancing")
                </div>
            </fieldset>
        </div>
    </div>
</div>

<div class="charts-section">
    <div class="grid-row">
        <div autocomplete="off">
            <div class="column-full font-xsmall chartTable hide-in-print">
                <button type="button" style="display: @Html.Raw(ViewBag.ChartFormat == ChartFormat.Tables ? "block" : "none")" class="view-charts-tables charts a-button" onclick="DfE.Views.TrustDetailsViewModel.ToggleChartsTables('Charts')"><img class="icon" src="~/public/assets/images/icons/icon-chart.png" alt="" /><span> View as charts</span></button>
                <button type="button" style="display: @Html.Raw(ViewBag.ChartFormat == ChartFormat.Tables ? "none" : "block")" class="view-charts-tables tables a-button" onclick="DfE.Views.TrustDetailsViewModel.ToggleChartsTables('Tables')"><img class="icon" src="~/public/assets/images/icons/icon-list.png" alt="" /><span> View as tables</span></button>
            </div>
            <div class="column-full font-xsmall hide-in-print">
                <button type="button" class="back-to-main-chart-group-button" onclick="DfE.Views.HistoricalCharts.ResetGrouping()">
                    <span><</span>
                    <span class="underline">All <span class="js-parent-group">expenditure</span> charts</span>
                </button>
            </div>
        </div>
    </div>
    <div class="historical-charts-list">
        @Html.Partial("Partials/Chart", Model)
    </div>
</div>

<a href="#pagetop" class="page-top hide-in-print">Back to top</a>

@section ViewScripts {
    <script src="~/node_modules/d3/d3.min.js"></script>
    <script src="~/node_modules/c3/c3.min.js"></script>
    <script src="~/node_modules/lodash/lodash.min.js"></script>

    <script>
        DfE.Views.TrustDetailsViewModel = new TrustDetailsViewModel('@ViewBag.ChartFormat');
    </script>
}