@using SFB.Web.UI.Helpers.Constants
@using SFB.Web.UI.Models
@model SFB.Web.UI.Models.SchoolListViewModel

<div id="result-list">
    <div aria-live="assertive" id="js-search-results-info">
        <div class="result-info">
            <p class="summary" aria-live="assertive">
                <span class="bold result-count">@(Model.Pagination.Total)</span> schools in <a href="/Trust?matNo=@ViewBag.MatNo&name=@ViewBag.MatName">@ViewBag.MatName</a>
            </p>
        </div>
    </div>
</div>

@if (Model.ModelList.Count > 0)
{
    @Html.Partial("Partials/Pagination", Model.Pagination)

    <ul>
        @foreach (var school in Model.ModelList)
        {
            <li class="document">
                <div class="grid-row">
                    <div class="column-half">
                        <a href="/school/detail?urn=@school.Id" class="bold-small">
                            @school.Name
                        @if (school.Status == "Closed")
                        {
                            <span> (Closed)</span>
                        }
                        </a>
                        <div class="addtocompare add-remove-mobile">
                            @AddRemoveButton(school, "mobile")
                        </div>
                        <ul class="metadata">
                            <li>@school.Address</li>
                            <li>@school.OverallPhase<span> (@school.TotalPupils pupils)</span></li>
                            <li>@school.Type</li>
                            @if (!string.IsNullOrEmpty(school.OfstedRatingText))
                            {
                                <li>Ofsted rating: <span class="rating rating-@school.OfstedRating"><span class="rating-text">@school.OfstedRating</span></span> @school.OfstedRatingText</li>
                            }
                        </ul>
                    </div>
                    <div class="column-half addtocompare add-remove-desktop">
                        @AddRemoveButton(school, "desktop")
                    </div>
                </div>
            </li>
        }
    </ul>

        @Html.Partial("Partials/Pagination", Model.Pagination)
}
else
{
    <p class="bold-small" style="margin-top: 22px;">Please try:</p>
        <p class="indent">
            • <a href="/">searching again</a> using different spelling or words
        </p>
        <p class="indent">
            • removing your filters
        </p>
}

@helper AddRemoveButton(SchoolViewModel school, string device)
{
    <div id="@school.Id@device" data-urn="@school.Id">
        <a @DisplayStyle(Model.SchoolComparisonList.BenchmarkSchools.Any(s => s.Urn == school.Id)) class='add-remove button removefrom' data-urn="@school.Id" href="javascript:DfE.Views.SchoolsResultsViewModel.UpdateBenchmarkBasket(@school.Id,'removefromcompare')" aria-label="Remove @school.Status @school.Name in @device">Remove</a>
        <a @DisplayStyle(Model.SchoolComparisonList.BenchmarkSchools.All(s => s.Urn != school.Id)) class='add-remove button addto js-modal' data-urn="@school.Id" href="javascript:DfE.Views.SchoolsResultsViewModel.UpdateBenchmarkBasket(@school.Id,'addtocompare')" aria-label="Add @school.Status @school.Name in @device">Add</a>
    </div>
}

@helper DisplayStyle(bool display)
{
if (display)
{
        @Html.Raw("style=\"display: inline-block\"");
    }
    else
    {
        @Html.Raw("style=\"display: none\"");
    }
}


