@model SFB.Web.UI.Models.BenchmarkCriteriaMultipleChoiceVM

@{
    var activated = Model.Options.Any(o => o.Selected);
}

<div class="govuk-checkboxes question" data-module="govuk-checkboxes">
    <div class="govuk-checkboxes__item question">
        <input class="govuk-checkboxes__input" id="checkbox-@Model.ElementName" type="checkbox" @Html.Raw(activated ? "checked" : "") data-aria-controls="mcc">
        <label class="govuk-label govuk-checkboxes__label" id="label-@Model.ElementName" for="checkbox-@Model.ElementName">@Model.Question <span class="visuallyhidden">The value for @Model.HomeSchoolName is @Model.HomeSchoolValue</span></label>
    </div>
    <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="mcc">
        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
                <div class="govuk-hint">
                    @if (string.IsNullOrEmpty(Model.HomeSchoolValue))
                    {
                        if (!@Model.HomeSchoolName.IsEmpty())
                        {
                            <span>No value was supplied for @Model.HomeSchoolName</span>
                        }
                    }
                    else
                    {
                        <span>The value for @Model.HomeSchoolName is <span class="govuk-!-font-size-19 govuk-!-font-weight-bold">@Model.HomeSchoolValue</span></span>
                    }
                </div>

                <span class="govuk-error-message"></span>

                <legend class="govuk-visually-hidden">@Model.Question</legend>

                <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                    @foreach (var option in Model.Options)
                    {
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input criteria-checkbox" type="checkbox" name="AdvancedCriteria.@Model.ElementName" id="@Model.ElementName.@option.Name" value="@option.Value"
                                   required @Html.Raw(activated ? "" : "disabled") @Html.Raw(option.Selected ? "checked" : "") data-msg-required="Choose an option to continue the comparison" />
                            <label class="govuk-label govuk-checkboxes__label" for="@Model.ElementName.@option.Name">@option.Name</label>
                        </div>
                    }
                </div>
            </fieldset>
        </div>
    </div>
</div>


