@model SFB.Web.UI.Models.BenchmarkCriteriaMultipleChoiceVM

@{
    var activated = Model.Options.Any(o => o.Selected);
}
<div class="subOption">
    <div>
        <div>
            <span class="error-message"></span>
        </div>
        <div class="column-full">
            <div class="form-group">
                <div class="column-full">
                    <fieldset role="group" aria-label="@Model.Question">
                        <legend class="visually-hidden">@Model.Question</legend>
                        @foreach (var option in Model.Options)
                        {
                            <div class="multiple-choice subQuestion">
                                <input type="checkbox" name="AdvancedCriteria.@Model.ElementName" id="@Model.ElementName.@option.Name" value="@option.Value" class="criteria-checkbox"
                                       required @Html.Raw(activated ? "" : "disabled") @Html.Raw(option.Selected ? "checked" : "") data-msg-required="Please deselect characteristic or check an option." />
                                <label for="@Model.ElementName.@option.Name">@option.Name</label>
                            </div>
                        }
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</div>

