@model SFB.Web.UI.Models.BenchmarkCriteriaRangeVM

@{
    var activated = Model.MinValue.HasValue || Model.MaxValue.HasValue;
}

<div class="question">
    <div class="multiple-choice question">
        <input id="checkbox-@Model.MinElementName" type="checkbox" @Html.Raw(activated ? "checked": "")>
        <label for="checkbox-@Model.MinElementName">@Model.Question <span class="visuallyhidden">Please enter your preferred range in the boxes below. The value for @Model.HomeSchoolName is @Model.HomeSchoolValue</span></label>
    </div>
    <div class="panel panel-border-narrow" style="display: @Html.Raw(activated ? "block": "none")">
        <div class="column-full">
            <div class="benchmark-school-value">
                @{
                    double homeSchoolValue;
                    if (Double.TryParse(Model.HomeSchoolValue, out homeSchoolValue))
                    {
                        <span>Please enter your preferred range in the boxes below. The value for @Model.HomeSchoolName is <span class="bold-small">@homeSchoolValue%</span></span>
                    }
                    else
                    {
                        <span>No value was supplied for @Model.HomeSchoolName</span>
                    }
                }
            </div>
        </div>
        <div>
            <span class="error-message"></span>
        </div>
        <div class="column-one-third">
            <div class="form-group">
                <div class="column-half">
                    <label class="form-label" for="@Model.MinElementName">From</label>
                    <input value="@Model.MinValue" type="number" name="AdvancedCriteria.@Model.MinElementName" id="@Model.MinElementName" class="form-control criteria-input" 
                        min="0" max="100" required @Html.Raw(activated ? "": "disabled") data-msg-required="Please fill in both boxes if you want this characteristic to be included in the search.">
                </div>
                <div class="column-half">
                    <label class="form-label" for="@Model.MaxElementName">To</label>
                    <input value="@Model.MaxValue" type="number" name="AdvancedCriteria.@Model.MaxElementName" id="@Model.MaxElementName" class="form-control criteria-input" 
                        min="0" max="100" required @Html.Raw(activated ? "": "disabled") data-msg-required="Please fill in both boxes if you want this characteristic to be included in the search.">
                </div>
            </div>
        </div>
    </div>
</div>