@model SFB.Web.UI.Models.BenchmarkCriteriaRangeVM

@{
    var activated = Model.MinValue.HasValue || Model.MaxValue.HasValue;
}

<div class="govuk-checkboxes question" data-module="govuk-checkboxes">
    <div class="govuk-checkboxes__item question">
        <input class="govuk-checkboxes__input"  id="checkbox-@Model.MinElementName" type="checkbox" @Html.Raw(activated ? "checked" : "") data-aria-controls="rc_@Model.ElementName">
        <label class="govuk-label govuk-checkboxes__label" for="checkbox-@Model.MinElementName">@Model.Question <span class="visuallyhidden">Enter your preferred range in the boxes below. The value for @Model.HomeSchoolName is @Model.HomeSchoolValue</span></label>
    </div>
    <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="rc_@Model.ElementName">
        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
                <div class="govuk-hint">
                    @if (string.IsNullOrEmpty(Model.HomeSchoolValue))
                    {
                        if (!@Model.HomeSchoolName.IsEmpty())
                        {
                            <span>No value was supplied for @Model.HomeSchoolName</span>
                        }
                    }
                    else
                    {
                        <span>Enter your preferred range in the boxes below. The value for @Model.HomeSchoolName is </span>

                        decimal homeValueDecimal;
                        if (!string.IsNullOrEmpty(Model.Format) && decimal.TryParse(Model.HomeSchoolValue, out homeValueDecimal))
                        {
                            <span class="govuk-!-font-size-19 govuk-!-font-weight-bold">@homeValueDecimal.ToString(Model.Format)</span>
                        }
                        else
                        {
                            <span class="govuk-!-font-size-19 govuk-!-font-weight-bold">@Model.HomeSchoolValue</span>
                        }
                    }
                </div>

                <span class="govuk-error-message"></span>

                <legend class="govuk-visually-hidden">@Model.Question</legend>

                <div class="column-half">
                    <label class="govuk-label" for="@Model.MinElementName">From</label>
                    <input value="@Model.MinValue" type="text" pattern="[0-9]*" inputmode="numeric" name="AdvancedCriteria.@Model.MinElementName" id="@Model.MinElementName" 
                           class="govuk-input form-control criteria-input min-js"
                           min="@Model.MinLimit.GetValueOrDefault()" max="@Model.MaxLimit.GetValueOrDefault()" @Html.Raw(activated ? "" : "disabled")
                           data-msg-minLowerThanMax="'From' value can not be greater than the 'To' value"
                           data-msg-minOrMaxRequired="Fill in at least one of the boxes if you want this characteristic to be included in the search."
                           aria-label="Minimum value for @Model.Question">
                </div>
                <div class="column-half">
                    <label class="govuk-label" for="@Model.MaxElementName">To</label>
                    <input value="@Model.MaxValue" type="text" pattern="[0-9]*" inputmode="numeric" name="AdvancedCriteria.@Model.MaxElementName" id="@Model.MaxElementName" 
                           class="govuk-input form-control criteria-input max-js"
                           min="@Model.MinLimit.GetValueOrDefault()" max="@Model.MaxLimit.GetValueOrDefault()" @Html.Raw(activated ? "" : "disabled")
                           data-msg-maxGreaterThanMin="'To' value can not be lower than the 'From' value"
                           data-msg-minOrMaxRequired="Fill in at least one of the boxes if you want this characteristic to be included in the search."
                           aria-label="Maximum value for @Model.Question">
                </div>
            </fieldset>
        </div>
    </div>
</div>

