@using Newtonsoft.Json
@using SFB.Web.ApplicationCore.Helpers.Enums
@using SFB.Web.UI.Helpers
@model SFB.Web.UI.Models.SelfAssessmentDashboardViewModel
@{
    ViewBag.Title = string.Concat("Self-assessment dashboard for ", @Model.DashboardData.Name);
    ViewBag.HasMigratedJs = true;
}

@section BackButtonContent
{
    @Html.Partial("Partials/Breadcrumbs")
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-!-padding-top-4">
        <h1 class="govuk-heading-xl">
            Self-assessment dashboard
        </h1>
    </div>
    <div class="govuk-grid-column-full">
        <p class="govuk-body-s sfb-highlight-container">
            Assessing
            <strong class="sfb-highlight">
                @Html.ActionLink(
                    @Model.DashboardData.Name,
                    "Detail",
                    "School",
                    new { urn = Model.DashboardData.Urn },
                    new { @class ="govuk-link" })
            </strong>
            
            using
            <span class="govuk-!-font-weight-bold">@Model.DashboardData.LatestTerm</span>
            finance data.
            @if (Model.DashboardData.FinanceType == EstablishmentType.Academies.ToString())
            {
                <text>This data includes the academy's share of <strong>MAT central finance</strong>.</text>
            }
        </p>
    </div>
    <div class="govuk-grid-column-full">
        @if (!Model.DashboardData.IsReturnsComplete)
        {
            <div class="govuk-warning-text" id="partialWarning">
                <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                <strong class="govuk-warning-text__text">
                    <span class="govuk-warning-text__assistive">Warning</span>
                    <span id="partialWarning__text">
                        This school doesn't have a complete set of financial data for this period. 
                        You should edit the values with more up to date information.
                    </span>
                </strong>
            </div>
        }
        @Html.Partial("Partials/Characteristics")
    </div>
</div>

<div id="sad-app"></div>



@section ViewScripts
{
    <script>
        var baseName = '@(string.Concat("SelfAssessmentDashboard/", Model.DashboardData.Urn))';
        var initialData = @Html.Raw(JsonConvert.SerializeObject(Model.DashboardData));
        var modalMap = @Html.Raw(JsonConvert.SerializeObject(Model.ModalMappings));
    </script>
    <script src="@Html.Raw(Html.GetWebpackScriptUrl("SadEntry.*.js"))"></script>

}
