@using SFB.Web.Common
@using SFB.Web.UI.Helpers.Constants
@using SFB.Web.UI.Helpers.Enums
@model SFB.Web.UI.Models.SchoolViewModel
@{
    ViewBag.Title = "Schools Financial Benchmarking";
    ViewBag.pageClass = "school-detail";
}

@section InsideHead{
    <link href="~/public/assets/print/school-print.css" media="print" rel="stylesheet" type="text/css">
}

@section StickyContent
{
    <div id="benchmarkBasket"></div>
}

@section HomeButtonContent{
    @Html.Partial("Partials/BackToHomeLink")
}

<h1 class="heading-xlarge page-heading">@Model.Name</h1>

@if (Model.IsReturnsComplete)
{
    <div class="grid-row hide-in-print returns-complete" id="benchmarkControlsPlaceHolder"></div>
}
else
{
    <div class="grid-row hide-in-print returns-incomplete" id="benchmarkControlsPlaceHolder"></div>
}

<div class="grid-row">
    <div class="column-half">
        <div class="metadata-school-detail font-xsmall">
            <dl>
                @SchoolDetailField("Address:",$"<a rel=\"external noopener noreferrer\" target=\"_blank\" href=\"https://www.google.co.uk/maps?q={Model.Name},{Model.Address}\">{Model.Address}<span class=\"visually-hidden\">GoogleMaps link opens in a new window</span></a>")
                @SchoolDetailField("Telephone number:", $"<a href=\"tel: 0{Model.PhoneNumber}\" aria-label=\"Call telephone number 0{Model.PhoneNumber}\">0{Model.PhoneNumber}</a>")
                @SchoolDetailField("School type:", Model.Type)
                @if (Model.OverallPhase != Model.Phase)
                {
                    @SchoolDetailField("School overall phase:", Model.OverallPhase)
                }
                @SchoolDetailField("School phase:", Model.Phase)
                @SchoolDetailField("Number of pupils:", Model.TotalPupils.ToString())
                <dt class="names"><abbr title="Unique reference number" aria-label="Unique reference number">URN</abbr>:</dt><dd class="values bold">@Model.Id</dd>
                @SchoolDetailFieldFormatted("Ofsted rating:",
                                "<span class=\"rating rating-{0}\"> {0} </span><span class=\"rating-text\"> {1} </span>" +
                                "<span class=\"ofsted-divider\" aria-hidden=\"true\">| </span>" +
                                "<a target=\"_blank\" rel=\"external noopener noreferrer\" class=\"font16-ext-link\" href=\"https://reports.ofsted.gov.uk/inspection-reports/find-inspection-report/provider/ELS/{2}\">Ofsted report <span class=\"visually-hidden\">Opens in a new window</span></a>" +
                                "<br><span class=\"font-xxsmall not-bold\">Inspected {3}</span>",
                                Model.OfstedRating, Model.OfstedRatingText, Model.Id, Model.OfstedInspectionDate.ToLongDateString())
                <dt class="names"><abbr title="Local authority establishment code" aria-label="Local authority establishment code">LAESTAB</abbr>:</dt><dd class="values bold">@Model.LaEstab</dd>
                @SchoolDetailField("Age range of pupils:", Model.AgeRange)
                @SchoolDetailField("Headteacher's name:", Model.HeadTeachFullName)
                @SchoolDetailField("Has sixth form:", Model.IsPost16)
                @SchoolDetailField("Has nursery:", Model.HasNursery)
                @SchoolDetailFieldFormatted("School website:", "<a rel=\"external noopener noreferrer\" class=\"font16-ext-link\" target=\"_blank\" href=\"{0}\">{0} <span class=\"visually-hidden\">Opens in a new window</span></a>", Model.SchoolWebSite)
                @SchoolDetailField("Date of opening:", Model.OpenDate)
                @if (!Model.HistoricalSchoolDataModels.Last().IsSAT)
                {
                    @SchoolDetailFieldFormatted("Belongs to:", "<a href=\"/trust?matno={0}&name={1}\">{1}</a>", Model.HistoricalSchoolDataModels.Last().MatNo, Model.TrustName)
                }
                @DataSourcesField()

</dl>
            <input type="hidden" id="la" value="@Model.La"/>
            <input type="hidden" id="estab" value="@Model.Estab"/>
        </div>
    </div>
    <div class="column-half">
        <details open>
            <summary class="map hide-in-print">
                <span class="summary font-xsmall">Show map</span>
            </summary>
            <div class="panel panel-border-narrow map">
                <a href="#post-map-content" class="skip-map">Skip the map</a>
                <div id="SchoolLocationMap" class="mtl" title="A google map of the school's location" aria-label="A google map of the school's location"></div>
            </div>
        </details>
    </div>
    <div id="post-map-content" class="column-full hide-in-print">
        <div class="column-one-third no-padding">
            <div class="download">
                <a class="no-underline bold-xsmall" href="/school/download?urn=@Model.Id" aria-label="Download data for @Model.Name in Excel spreadsheet. Opens in a new window">
                    <img class="icon" alt="Opens in a new window" src="~/public/assets/images/icons/icon-file-download.png"/>
                    Download data for this school (CSV)
                </a>
            </div>
        </div>
        <div class="column-one-third no-padding">
            <div class="print">
                <a class="no-underline bold-xsmall" href="javascript:PrintPage()" aria-label="Print page for @Model.Name">
                    <img class="icon" alt="" src="~/public/assets/images/icons/icon-print.png"/> 
                    Print page
                </a>
            </div>
        </div>
    </div>
</div>

@if (!Model.IsReturnsComplete)
{
    <div class="panel panel-border-wide orange-warning">
        <p>
            This school doesn't have a complete set of financial data for this period
        </p>
    </div>
}

@if (!Model.WorkforceDataPresent)
{
    <div class="panel panel-border-wide orange-warning">
        <p>
            This school doesn't have a complete set of workforce data for this period
        </p>
    </div>
}

@if (Model.HasNoTeacherData)
{
    <div class="panel panel-border-wide orange-warning">
        <p>
            We can’t show charts with per teacher values because they weren't supplied within these finance returns
        </p>
    </div>
}

@if (Model.HasNoPupilData)
{
    <div class="panel panel-border-wide orange-warning">
        <p>
            We can’t show charts with per pupil values because they weren't supplied within these finance returns
        </p>
    </div>
}

@Html.Partial("Partials/FinancialSummaryFields")

<a name="charts"></a>
<nav class="tabs" role="navigation">
    <ol role="tablist">
        <li class="@(ViewBag.Tab == RevenueGroupType.Expenditure ? "active" : "") hide-in-print" role="tab">
            <a href="javascript:TabChange(@Model.GetString("URN"),'@RevenueGroupType.Expenditure')">@RevenueGroupNames.EXPENDITURE</a>
        </li>
        <li class="@(ViewBag.Tab == RevenueGroupType.Income ? "active" : "") hide-in-print" role="tab">
            <a href="javascript:TabChange(@Model.GetString("URN"),'@RevenueGroupType.Income')">@RevenueGroupNames.INCOME</a>
        </li>
        <li class="@(ViewBag.Tab == RevenueGroupType.Balance ? "active" : "") hide-in-print" role="tab">
            <a href="javascript:TabChange(@Model.GetString("URN"),'@RevenueGroupType.Balance')">@RevenueGroupNames.BALANCE</a>
        </li>
        <li class="@(ViewBag.Tab == RevenueGroupType.Workforce ? "active" : "") hide-in-print" role="tab">
            <a href="javascript:TabChange(@Model.GetString("URN"),'@RevenueGroupType.Workforce')">@RevenueGroupNames.WORKFORCE</a>
        </li>
    </ol>
</nav>
<div class="chartsSection">
    <div class="grid-row">
        <div>
            @Html.Partial("Partials/Terms", Model)
            @Html.Partial("Partials/ValueSelect", Model)
            @Html.Partial("Partials/ChartGroups", Model.ChartGroups)
            @if (Model.FinancialType == SchoolFinancialType.Academies && !Model.HistoricalSchoolDataModels.Last().IsSAT)
            {
                Html.RenderPartial("Partials/CentralFinancing");
            }
        </div>
    </div>
    <div id="historicalChartsList" class="grid-row">
        @Html.Partial("Partials/Chart", Model)
    </div>
</div>

<a href="#pagetop" class="page-top hide-in-print">Back to top</a>


@helper SchoolDetailFieldFormatted(string name, string formatString, params string[] args)
{
    if (args != null)
    {
        if (args.Any(string.IsNullOrEmpty))
        {
            return;
        }

        var formatted = string.Format(formatString, args);
        @SchoolDetailField(name, formatted)
    }
}

@helper SchoolDetailField(string name, string value)
{
    if (!string.IsNullOrEmpty(value))
    {
        var htmlValue = new MvcHtmlString(value);

        <dt class="names">@name</dt>
        <dd class="values bold">@htmlValue</dd>
    }
}

@helper DataSourcesField()
{
    <dt class="names">Data from other <br>services:</dt>
    <dd class="values bold">
        <a rel="external noopener noreferrer" class="font16-ext-link" target="_blank" href="https://www.compare-school-performance.service.gov.uk/school/@Model.Id">Compare performance<span class="visuallyhidden"> Opens in a new window</span></a>
        <span class="seperator" aria-hidden="true">&nbsp; | &nbsp;</span>
        <a rel="external noopener noreferrer" class="font16-ext-link" target="_blank" href="https://get-information-schools.service.gov.uk/Establishments/Establishment/Details/@Model.Id">Get more information<span class="visuallyhidden"> Opens in a new window</span></a>
    </dd>
}

@section ViewScripts {
    <script src="~/node_modules/d3/d3.min.js"></script>
    <script src="~/node_modules/c3/c3.min.js"></script>
    <script src="~/node_modules/lodash/lodash.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=@(System.Configuration.ConfigurationManager.AppSettings["GoogleAPIKey"])"></script>

    <script>

        $.get("/school/GetBenchmarkBasket",
            function(data) {
                $("#benchmarkBasket").replaceWith(data);
            });

        if ($("#benchmarkControlsPlaceHolder").length > 0) {
            $.get("/school/GetBenchmarkControls?urn=" + @Model.Id,
                function(data) {
                    $("#benchmarkControlsPlaceHolder").html(data);
                    GOVUK.Modal.Load();
                });
        }

        DfE.Views.HistoricalCharts.GenerateCharts('@ViewBag.UnitType');

        new Accordion(document.getElementById('historical-charts-accordion'));

        var school = {
            id: "@(Model.Id)",
            lat: "@(Model.Lat)",
            lng: "@(Model.Lng)",
            hasMap: @(Model.HasCoordinates ? "true" : "false")
        };

        var options = {
            elementId: "SchoolLocationMap",
            hasMap: school.hasMap,
            primaryMarker: {
                geometry: {
                    location: {
                        lat: school.lat,
                        lng: school.lng
                    }
                }
            },
            scrollWheel: false
        };

        setTimeout(function() {
                if ($(window).width() <= 640) {
                    $('details').removeAttr('open');
                }

                if (!this.mapLoaded) {
                    this.map = new GOVUK.LocationMap(options);
                    this.mapLoaded = true;
                }

                var tab = DfE.Util.QueryString.get('tab');
                if (tab) {
                    $("a:contains('" + tab + "')").focus();
                }
            },
            500);


        function TabChange(urn, tab) {
            var queryString = "?urn=" +
                urn +
                "&tab=" +
                tab;

            if (DfE.Util.QueryString.get('tab') !== "Workforce") {
               queryString += "&unit=" + $("select#ShowValue option:selected")[0].value;
            }

            if ($("select#Financing option:selected").length > 0) {
                queryString += "&financing=" + $("select#Financing option:selected")[0].value;
            }

            window.location = queryString;
        }

        function PrintPage() {
            $('details').attr('open', 'true');
            var detailses = document.getElementsByTagName("details"),
                details,
                i = -1;
            while (details = detailses[++i]) {
                //DOM API
                details["open"] = true;
            }

            window.print();
        }

    </script>
}