@using SFB.Web.ApplicationCore.Helpers.Enums
@using SFB.Web.UI.Models
@model SchoolCharacteristicsViewModel

<div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header app-accordion__section-header--no-border-top">
        <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-general-heading">
                General characteristics <span class="govuk-!-font-weight-regular govuk-!-font-size-19 break-in-mobile"><span>(</span><span role="status"><span class="selection-counter">0</span><span class="visually-hidden"> general characteristics</span> selected</span><span></span>)</span>
            </span>
        </h2>
    </div>

    <div id="accordion-general-content" class="govuk-accordion__section-content" aria-labelledby="accordion-general-heading">

        @Html.Partial("Partials/Criteria/RangeCriteria", Model.NumberOfPupilsCriteriaRangeVm)

        @Html.Partial("Partials/Criteria/PhaseCriteria", Model.SchoolPhaseMultipleChoiceVM)

        @switch ((EstablishmentType)ViewBag.EstType)
        {
            case EstablishmentType.Maintained:
                @Html.Partial("Partials/Criteria/MultiplechoiceCriteria", Model.TypeOfEstabMaintainedMultipleChoiceVM)
                break;
            case EstablishmentType.Academies:
                @Html.Partial("Partials/Criteria/MultiplechoiceCriteria", Model.TypeOfEstabAcademiesMultipleChoiceVM)
                break;
            case EstablishmentType.All:
                @Html.Partial("Partials/Criteria/MultiplechoiceCriteria", Model.TypeOfEstabAllMultipleChoiceVM)
                break;
        }

        @Html.Partial("Partials/Criteria/PercentageCriteria", Model.PercEligibleSchoolMealsRangeVm)

        @Html.Partial("Partials/Criteria/PercentageCriteria", Model.PercPupilsSenRegisterRangeVm)

        @Html.Partial("Partials/Criteria/PercentageCriteria", Model.PercPupilsWithSenRangeVm)

        @Html.Partial("Partials/Criteria/PercentageCriteria", Model.PercPupilsWithEalRangeVm)

        @Html.Partial("Partials/Criteria/MultiplechoiceCriteria", Model.UrbanRuralMultipleChoiceVM)

        @Html.Partial("Partials/Criteria/MultiplechoiceCriteria", Model.LondonWeightingMultipleChoiceVM)

        @Html.Partial("Partials/Criteria/MultiplechoiceCriteria", Model.GovernmentOfficeMultipleChoiceVM)

        @Html.Partial("Partials/Criteria/RadioboxCriteria", Model.PfiMultipleChoiceVM)

        @Html.Partial("Partials/Criteria/RangeCriteria", Model.NumberIn6FormRangeVm)

        @Html.Partial("Partials/Criteria/MultiplechoiceCriteria", Model.GenderMultipleChoiceVM)

        @Html.Partial("Partials/Criteria/RangeCriteria", Model.LowAgeRangeVm)

        @Html.Partial("Partials/Criteria/RangeCriteria", Model.HighAgeRangeVm)

        @Html.Partial("Partials/Criteria/PercentageCriteria", Model.PercBoardersRangeVm)

        @Html.Partial("Partials/Criteria/MultiplechoiceCriteria", Model.AdmissionMultipleChoiceVM)

    </div>
</div>
