@using SFB.Web.ApplicationCore.Helpers.Enums
@using SFB.Web.UI.Models
@model SchoolCharacteristicsViewModel

<div class="accordion-section general">
        <h2>
            <a class="accordion-section-header" href="javascript:void(0)">
                <span id="GeneralHeader" class="heading-medium ">General characteristics <span class="font-small break-in-mobile"><span aria-hidden="true">(</span><span class="selection-counter">0</span> selected<span aria-hidden="true">)</span></span></span>
            </a>
        </h2>

        <div class="accordion-section-body">

        @Html.Partial("Partials/Criteria/RangeCriteria", Model.NumberOfPupilsCriteriaRangeVm)

        @Html.Partial("Partials/Criteria/PhaseCriteria", Model.SchoolPhaseMultipleChoiceVM)

        @switch ((EstablishmentType)ViewBag.EstType)
        {
            case EstablishmentType.Maintained:
                @Html.Partial("Partials/Criteria/MultiplechoiceCriteria", Model.TypeOfEstabMaintainedMultipleChoiceVM)
                break;
            case EstablishmentType.Academies:
                @Html.Partial("Partials/Criteria/MultiplechoiceCriteria", Model.TypeOfEstabAcademiesMultipleChoiceVM)
                break;
            case EstablishmentType.All:
                @Html.Partial("Partials/Criteria/MultiplechoiceCriteria", Model.TypeOfEstabAllMultipleChoiceVM)
                break;
        }

        @Html.Partial("Partials/Criteria/PercentageCriteria", Model.PercEligibleSchoolMealsRangeVm)

        @Html.Partial("Partials/Criteria/PercentageCriteria", Model.PercPupilsSenRegisterRangeVm)

        @Html.Partial("Partials/Criteria/PercentageCriteria", Model.PercPupilsWithSenRangeVm)
            
        @Html.Partial("Partials/Criteria/PercentageCriteria", Model.PercPupilsWithEalRangeVm)

        @Html.Partial("Partials/Criteria/MultiplechoiceCriteria", Model.UrbanRuralMultipleChoiceVM)

        @Html.Partial("Partials/Criteria/MultiplechoiceCriteria", Model.LondonWeightingMultipleChoiceVM)           

        @Html.Partial("Partials/Criteria/MultiplechoiceCriteria", Model.GovernmentOfficeMultipleChoiceVM)          
            
        @Html.Partial("Partials/Criteria/RadioboxCriteria", Model.PfiMultipleChoiceVM)

        @Html.Partial("Partials/Criteria/RangeCriteria",Model.NumberIn6FormRangeVm)

        @Html.Partial("Partials/Criteria/MultiplechoiceCriteria", Model.GenderMultipleChoiceVM)                       

        @Html.Partial("Partials/Criteria/RangeCriteria", Model.LowAgeRangeVm)

        @Html.Partial("Partials/Criteria/RangeCriteria", Model.HighAgeRangeVm)

        @Html.Partial("Partials/Criteria/PercentageCriteria", Model.PercBoardersRangeVm)

        @Html.Partial("Partials/Criteria/MultiplechoiceCriteria", Model.AdmissionMultipleChoiceVM)

        </div>
</div>
