@using System.Configuration
@using SFB.Web.UI.Models
@model SchoolCharacteristicsViewModel

<div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
        <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="PerformanceHeader">
                Performance characteristics <span class="govuk-!-font-weight-regular govuk-!-font-size-19 break-in-mobile"><span>(</span><span role="status"><span class="selection-counter">0</span><span class="govuk-visually-hidden"> performance characteristics</span> selected</span><span>)</span></span>
            </span>
        </h2>
    </div>
    <div id="accordion-performance-content" class="govuk-accordion__section-content" aria-labelledby="PerformanceHeader">
        <p class="govuk-body">
            To compare schools across more performance characteristics visit the <a rel="external noopener noreferrer" class="govuk-link" target="_blank" href="@ConfigurationManager.AppSettings["SptApiUrl"]">Find school and college performance data in England<span class="govuk-visually-hidden"> Opens in a new window</span></a> site.
        </p>

        @Html.Partial("Partials/Criteria/PercentageCriteria", Model.Ks2ActualRangeVm)

        @Html.Partial("Partials/Criteria/RangeCriteria", Model.Ks2ProgressRangeVM)

        @Html.Partial("Partials/Criteria/RangeCriteria", Model.AverageAtt8RangeVM)

        @Html.Partial("Partials/Criteria/RangeCriteria", Model.Progress8MeasureRangeVM)

        @Html.Partial("Partials/Criteria/MultiplechoiceCriteria", Model.OfstedRatingMultipleChoiceVM)
    </div>
</div>