@using SFB.Web.ApplicationCore.Helpers.Constants
@using SFB.Web.UI.Models
@model SchoolCharacteristicsViewModel

<div class="accordion-section">
    <fieldset role="group" aria-labelledby="PerformanceHeader">
        <legend class="visually-hidden">Performance characteristics</legend>

        <div class="accordion-section-header">
            <h2 id="PerformanceHeader" class="heading-medium">Performance characteristics <span class="font-small break-in-mobile"><span aria-hidden="true">(</span><span class="selection-counter">0</span> selected<span aria-hidden="true">)</span></span></h2>
        </div>

        <div class="accordion-section-body">
            <p>
                To compare schools across more performance characteristics visit the <a rel="external noopener noreferrer" class="font19-ext-link" target="_blank" href="https://www.gov.uk/school-performance-tables">school performance tables<span class="visuallyhidden"> Opens in a new window</span></a> site.
            </p>

            @Html.Partial("Partials/Criteria/PercentageCriteria", Model.Ks2ActualRangeVm)

            @Html.Partial("Partials/Criteria/RangeCriteria", Model.Ks2ProgressRangeVM)

            @Html.Partial("Partials/Criteria/RangeCriteria", Model.AverageAtt8RangeVM)

            @Html.Partial("Partials/Criteria/RangeCriteria", Model.Progress8MeasureRangeVM)

            @Html.Partial("Partials/Criteria/MultiplechoiceCriteria", Model.OfstedRatingMultipleChoiceVM)
        </div>
    </fieldset>
</div>