@using SFB.Web.ApplicationCore.Helpers.Constants
@using SFB.Web.UI.Models
@model SchoolCharacteristicsViewModel

<div class="accordion-section">

        <h2>
            <a class="accordion-section-header" href="javascript:void(0)">
                <span id="PerformanceHeader" class="heading-medium">Performance characteristics <span class="font-small break-in-mobile"><span>(</span><span role="status"><span class="selection-counter">0</span><span class="visually-hidden"> performance characteristics</span> selected</span><span>)</span></span></span>
            </a>
        </h2>

        <div class="accordion-section-body">
            <p>
                To compare schools across more performance characteristics visit the <a rel="external noopener noreferrer" class="font19-ext-link" target="_blank" href="https://www.gov.uk/school-performance-tables">find and compare schools in England<span class="visuallyhidden"> Opens in a new window</span></a> site.
            </p>

            @Html.Partial("Partials/Criteria/PercentageCriteria", Model.Ks2ActualRangeVm)

            @Html.Partial("Partials/Criteria/RangeCriteria", Model.Ks2ProgressRangeVM)

            @Html.Partial("Partials/Criteria/RangeCriteria", Model.AverageAtt8RangeVM)

            @Html.Partial("Partials/Criteria/RangeCriteria", Model.Progress8MeasureRangeVM)

            @Html.Partial("Partials/Criteria/MultiplechoiceCriteria", Model.OfstedRatingMultipleChoiceVM)
        </div>
</div>