@using SFB.Web.UI.Models

@model SchoolCharacteristicsViewModel

<div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
        <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="SenHeader">
                <abbr title="Special Education Needs" aria-label="Special Education Needs">SEN</abbr> characteristics <span class="govuk-!-font-size-19 break-in-mobile"><span>(</span><span role="status"><span class="selection-counter">0</span><span class="visually-hidden"> SEN characteristics</span> selected</span><span>)</span></span>
            </span>
        </h2>
    </div>
    <div id="accordion-sen-content" class="govuk-accordion__section-content" aria-labelledby="SenHeader">
        <p>
            The values here show the percentage of pupils in your default school who have these characteristics as a primary need.
        </p>

        @Html.Partial("Partials/Criteria/PercentageCriteria", Model.SpecLearningDifRangeVM)

        @Html.Partial("Partials/Criteria/PercentageCriteria", Model.ModerateLearningDifRangeVM)

        @Html.Partial("Partials/Criteria/PercentageCriteria", Model.SevereLearningDifRangeVM)

        @Html.Partial("Partials/Criteria/PercentageCriteria", Model.ProfLearningDifRangeVM)

        @Html.Partial("Partials/Criteria/PercentageCriteria", Model.SocialHealthRangeVM)

        @Html.Partial("Partials/Criteria/PercentageCriteria", Model.SpeechNeedsRangeVM)

        @Html.Partial("Partials/Criteria/PercentageCriteria", Model.HearingImpairmentRangeVM)

        @Html.Partial("Partials/Criteria/PercentageCriteria", Model.VisualImpairmentRangeVM)

        @Html.Partial("Partials/Criteria/PercentageCriteria", Model.MultiSensoryImpairmentRangeVM)

        @Html.Partial("Partials/Criteria/PercentageCriteria", Model.PhysicalDisabilityRangeVM)

        @Html.Partial("Partials/Criteria/PercentageCriteria", Model.AutisticDisorderRangeVM)

        @Html.Partial("Partials/Criteria/PercentageCriteria", Model.OtherLearningDifRangeVM)
    </div>
</div>

