@using SFB.Web.ApplicationCore.Helpers.Constants
@using SFB.Web.UI.Models

@model SchoolCharacteristicsViewModel

<div class="accordion-section">
    <fieldset role="group" aria-labelledby="SenHeader">
        <legend class="visually-hidden"><abbr title="Special Education Needs" aria-label="">SEN</abbr>SEN characteristics</legend>

        <div class="accordion-section-header">
            <h2 id="SenHeader" class="heading-medium"><abbr title="Special Education Needs" aria-label="Special Education Needs">SEN</abbr> characteristics <span class="font-small break-in-mobile"><span aria-hidden="true">(</span><span class="selection-counter">0</span> selected<span aria-hidden="true">)</span></span></h2>
        </div>

        <div class="accordion-section-body">

            <p>
                The values here show the percentage of pupils in your default school who have these characteristics as a primary need.
            </p>

            @Html.Partial("Partials/Criteria/PercentageCriteria", Model.SpecLearningDifRangeVM)

            @Html.Partial("Partials/Criteria/PercentageCriteria", Model.ModerateLearningDifRangeVM)

            @Html.Partial("Partials/Criteria/PercentageCriteria", Model.SevereLearningDifRangeVM)

            @Html.Partial("Partials/Criteria/PercentageCriteria", Model.ProfLearningDifRangeVM)

            @Html.Partial("Partials/Criteria/PercentageCriteria", Model.SocialHealthRangeVM)

            @Html.Partial("Partials/Criteria/PercentageCriteria", Model.SpeechNeedsRangeVM)

            @Html.Partial("Partials/Criteria/PercentageCriteria", Model.HearingImpairmentRangeVM)

            @Html.Partial("Partials/Criteria/PercentageCriteria", Model.VisualImpairmentRangeVM)

            @Html.Partial("Partials/Criteria/PercentageCriteria", Model.MultiSensoryImpairmentRangeVM)

            @Html.Partial("Partials/Criteria/PercentageCriteria", Model.PhysicalDisabilityRangeVM)

            @Html.Partial("Partials/Criteria/PercentageCriteria", Model.AutisticDisorderRangeVM)

            @Html.Partial("Partials/Criteria/PercentageCriteria", Model.OtherLearningDifRangeVM)

        </div>
    </fieldset>
</div>