@using SFB.Web.Common
@using SFB.Web.UI.Models

@model SchoolCharacteristicsViewModel

<div class="accordion-section">
    <fieldset role="group" aria-labelledby="SenHeader">
        <legend class="hidden"><abbr title="Special Education Needs" aria-label="">SEN</abbr>SEN characteristics</legend>

        <div class="accordion-section-header">
            <h2 id="SenHeader" class="heading-medium"><abbr title="Special Education Needs" aria-label="Special Education Needs">SEN</abbr> characteristics <span class="font-small"><span aria-hidden="true">(</span><span class="selection-counter">0</span> selected<span aria-hidden="true">)</span></span></h2>
        </div>

        <div class="accordion-section-body">

            <p>
                The values here show the percentage of pupils in your default school who have these characteristics as a primary need.
            </p>

            @Html.Partial("Partials/Criteria/PercentageCriteria",
                new BenchmarkCriteriaRangeVM(
                    question: SchoolCharacteristicsQuestions.SPECIFIC_LEARNING_DIFFICULTY,
                    homeSchoolValue: Model[SchoolCharacteristicsQuestions.SPECIFIC_LEARNING_DIFFICULTY],
                    homeSchoolName: Model.BenchmarkSchool.Name,
                    elementName: "SpecLearnDiff",
                    minValue: Model.BenchmarkCriteria.MinSpecLearnDiff,
                    maxValue: Model.BenchmarkCriteria.MaxSpecLearnDiff
                    ))

            @Html.Partial("Partials/Criteria/PercentageCriteria",
                new BenchmarkCriteriaRangeVM(
                    question: SchoolCharacteristicsQuestions.MODERATE_LEARNING_DIFFICULTY,
                    homeSchoolValue: Model[SchoolCharacteristicsQuestions.MODERATE_LEARNING_DIFFICULTY],
                    homeSchoolName: Model.BenchmarkSchool.Name,
                    elementName: "ModLearnDiff",
                    minValue: Model.BenchmarkCriteria.MinModLearnDiff,
                    maxValue: Model.BenchmarkCriteria.MaxModLearnDiff
                    ))

            @Html.Partial("Partials/Criteria/PercentageCriteria",
                new BenchmarkCriteriaRangeVM(
                    question: SchoolCharacteristicsQuestions.SEVERE_LEARNING_DIFFICULTY,
                    homeSchoolValue: Model[SchoolCharacteristicsQuestions.SEVERE_LEARNING_DIFFICULTY],
                    homeSchoolName: Model.BenchmarkSchool.Name,
                    elementName: "SevLearnDiff",
                    minValue: Model.BenchmarkCriteria.MinSevLearnDiff,
                    maxValue: Model.BenchmarkCriteria.MaxSevLearnDiff
                    ))

            @Html.Partial("Partials/Criteria/PercentageCriteria",
                new BenchmarkCriteriaRangeVM(
                    question: SchoolCharacteristicsQuestions.PROF_LEARNING_DIFFICULTY,
                    homeSchoolValue: Model[SchoolCharacteristicsQuestions.PROF_LEARNING_DIFFICULTY],
                    homeSchoolName: Model.BenchmarkSchool.Name,
                    elementName: "ProfLearnDiff",
                    minValue: Model.BenchmarkCriteria.MinProfLearnDiff,
                    maxValue: Model.BenchmarkCriteria.MaxProfLearnDiff
                    ))

            @Html.Partial("Partials/Criteria/PercentageCriteria",
                new BenchmarkCriteriaRangeVM(
                    question: SchoolCharacteristicsQuestions.SOCIAL_HEALTH,
                    homeSchoolValue: Model[SchoolCharacteristicsQuestions.SOCIAL_HEALTH],
                    homeSchoolName: Model.BenchmarkSchool.Name,
                    elementName: "SocialHealth",
                    minValue: Model.BenchmarkCriteria.MinSocialHealth,
                    maxValue: Model.BenchmarkCriteria.MaxSocialHealth
                    ))

            @Html.Partial("Partials/Criteria/PercentageCriteria",
                new BenchmarkCriteriaRangeVM(
                    question: SchoolCharacteristicsQuestions.SPEECH_NEEDS,
                    homeSchoolValue: Model[SchoolCharacteristicsQuestions.SPEECH_NEEDS],
                    homeSchoolName: Model.BenchmarkSchool.Name,
                    elementName: "SpeechNeeds",
                    minValue: Model.BenchmarkCriteria.MinSpeechNeeds,
                    maxValue: Model.BenchmarkCriteria.MaxSpeechNeeds
                    ))

            @Html.Partial("Partials/Criteria/PercentageCriteria",
                new BenchmarkCriteriaRangeVM(
                    question: SchoolCharacteristicsQuestions.HEARING_IMPAIRMENT,
                    homeSchoolValue: Model[SchoolCharacteristicsQuestions.HEARING_IMPAIRMENT],
                    homeSchoolName: Model.BenchmarkSchool.Name,
                    elementName: "HearingImpairment",
                    minValue: Model.BenchmarkCriteria.MinHearingImpairment,
                    maxValue: Model.BenchmarkCriteria.MaxHearingImpairment
                    ))

            @Html.Partial("Partials/Criteria/PercentageCriteria",
                new BenchmarkCriteriaRangeVM(
                    question: SchoolCharacteristicsQuestions.VISUAL_IMPAIRMENT,
                    homeSchoolValue: Model[SchoolCharacteristicsQuestions.VISUAL_IMPAIRMENT],
                    homeSchoolName: Model.BenchmarkSchool.Name,
                    elementName: "VisualImpairment",
                    minValue: Model.BenchmarkCriteria.MinVisualImpairment,
                    maxValue: Model.BenchmarkCriteria.MaxVisualImpairment
                    ))

            @Html.Partial("Partials/Criteria/PercentageCriteria",
                new BenchmarkCriteriaRangeVM(
                    question: SchoolCharacteristicsQuestions.MULTI_SENSORY_IMPAIRMENT,
                    homeSchoolValue: Model[SchoolCharacteristicsQuestions.MULTI_SENSORY_IMPAIRMENT],
                    homeSchoolName: Model.BenchmarkSchool.Name,
                    elementName: "MSImpairment",
                    minValue: Model.BenchmarkCriteria.MinMSImpairment,
                    maxValue: Model.BenchmarkCriteria.MaxMSImpairment
                    ))

            @Html.Partial("Partials/Criteria/PercentageCriteria",
                new BenchmarkCriteriaRangeVM(
                    question: SchoolCharacteristicsQuestions.PHYSICAL_DISABILITY,
                    homeSchoolValue: Model[SchoolCharacteristicsQuestions.PHYSICAL_DISABILITY],
                    homeSchoolName: Model.BenchmarkSchool.Name,
                    elementName: "PhysicalDisability",
                    minValue: Model.BenchmarkCriteria.MinPhysicalDisability,
                    maxValue: Model.BenchmarkCriteria.MaxPhysicalDisability
                    ))

            @Html.Partial("Partials/Criteria/PercentageCriteria",
                new BenchmarkCriteriaRangeVM(
                    question: SchoolCharacteristicsQuestions.AUTISTIC_DISORDER,
                    homeSchoolValue: Model[SchoolCharacteristicsQuestions.AUTISTIC_DISORDER],
                    homeSchoolName: Model.BenchmarkSchool.Name,
                    elementName: "AutisticDisorder",
                    minValue: Model.BenchmarkCriteria.MinAutisticDisorder,
                    maxValue: Model.BenchmarkCriteria.MaxAutisticDisorder
                    ))

            @Html.Partial("Partials/Criteria/PercentageCriteria",
                new BenchmarkCriteriaRangeVM(
                    question: SchoolCharacteristicsQuestions.OTHER_LEARNING_DIFF,
                    homeSchoolValue: Model[SchoolCharacteristicsQuestions.OTHER_LEARNING_DIFF],
                    homeSchoolName: Model.BenchmarkSchool.Name,
                    elementName: "OtherLearningDiff",
                    minValue: Model.BenchmarkCriteria.MinOtherLearningDiff,
                    maxValue: Model.BenchmarkCriteria.MaxOtherLearningDiff
                    ))

        </div>
    </fieldset>
</div>