@using SFB.Web.UI.Models
@model SchoolCharacteristicsViewModel

<div class="accordion-section">
        <h2>
            <a class="accordion-section-header" href="javascript:void(0)">
                <span id="WFHeader" class="heading-medium">Workforce characteristics <span class="font-small break-in-mobile"><span aria-hidden="true">(</span><span class="selection-counter">0</span> selected<span aria-hidden="true">)</span></span></span>
            </a>
        </h2>

        <div class="accordion-section-body">

            @Html.Partial("Partials/Criteria/RangeCriteria", Model.SchoolWorkforceRangeVM)

            @Html.Partial("Partials/Criteria/RangeCriteria", Model.NumberOfTeachersFTERangeVM)

            @Html.Partial("Partials/Criteria/PercentageCriteria", Model.PercQualifiedTeachersRangeVM)

            @Html.Partial("Partials/Criteria/RangeCriteria", Model.SeniorLeadershipFTERangeVM)

            @Html.Partial("Partials/Criteria/RangeCriteria", Model.FulltimeTaRangeVM)

            @Html.Partial("Partials/Criteria/RangeCriteria", Model.FulltimeOtherRangeVM)

            @Html.Partial("Partials/Criteria/RangeCriteria", Model.FulltimeAuxRangeVM)
        </div>
</div>