@using SFB.Web.Common
@using SFB.Web.UI.Models
@model SchoolCharacteristicsViewModel

<div class="accordion-section">
    <fieldset role="group">
        <legend class="hidden">Workforce characteristics</legend>

        <div class="accordion-section-header">
            <h2 id="WFHeader" class="heading-medium">Workforce characteristics <span class="font-small"><span aria-hidden="true">(</span><span class="selection-counter">0</span> selected<span aria-hidden="true">)</span></span></h2>
        </div>

        <div class="accordion-section-body">

            @Html.Partial("Partials/RangeCriteria",
                new BenchmarkCriteriaRangeVM(
                    question: SchoolCharacteristicsQuestions.SCHOOL_WORKFORCE_FTE,
                    homeSchoolValue: Model[SchoolCharacteristicsQuestions.SCHOOL_WORKFORCE_FTE],
                    homeSchoolName: Model.BenchmarkSchool.Name,
                    elementName: "TotalSchoolWorkforceFullTimeEquivalent",
                    minValue: Model.BenchmarkCriteria.MinTotalSchoolWorkforceFullTimeEquivalent,
                    maxValue: Model.BenchmarkCriteria.MaxTotalSchoolWorkforceFullTimeEquivalent
                    ))

            @Html.Partial("Partials/RangeCriteria",
                new BenchmarkCriteriaRangeVM(
                    question: SchoolCharacteristicsQuestions.NUMBER_OF_TEACHERS_FTE,
                    homeSchoolValue: Model[SchoolCharacteristicsQuestions.NUMBER_OF_TEACHERS_FTE],
                    homeSchoolName: Model.BenchmarkSchool.Name,
                    elementName: "TotalNumberOfTeachersFullTimeEquivalent",
                    minValue: Model.BenchmarkCriteria.MinTotalNumberOfTeachersFullTimeEquivalent,
                    maxValue: Model.BenchmarkCriteria.MaxTotalNumberOfTeachersFullTimeEquivalent
                    ))

            @Html.Partial("Partials/PercentageCriteria",
                new BenchmarkCriteriaRangeVM(
                    question: SchoolCharacteristicsQuestions.PERCENTAGE_QUALIFIED_TEACHERS,
                    homeSchoolValue: Model[SchoolCharacteristicsQuestions.PERCENTAGE_QUALIFIED_TEACHERS],
                    homeSchoolName: Model.BenchmarkSchool.Name,
                    elementName: "TeachersWithQualifiedTeacherStatus",
                    minValue: Model.BenchmarkCriteria.MinTeachersWithQualifiedTeacherStatus,
                    maxValue: Model.BenchmarkCriteria.MaxTeachersWithQualifiedTeacherStatus
                    ))

            @Html.Partial("Partials/RangeCriteria",
                new BenchmarkCriteriaRangeVM(
                    question: SchoolCharacteristicsQuestions.SENIOR_LEADERSHIP_FTE,
                    homeSchoolValue: Model[SchoolCharacteristicsQuestions.SENIOR_LEADERSHIP_FTE],
                    homeSchoolName: Model.BenchmarkSchool.Name,
                    elementName: "TotalNumberOfTeachersInTheLeadershipGroupFullTimeEquivalent",
                    minValue: Model.BenchmarkCriteria.MinTotalNumberOfTeachersInTheLeadershipGroupFullTimeEquivalent,
                    maxValue: Model.BenchmarkCriteria.MaxTotalNumberOfTeachersInTheLeadershipGroupFullTimeEquivalent
                    ))

            @Html.Partial("Partials/RangeCriteria",
                new BenchmarkCriteriaRangeVM(
                    question: SchoolCharacteristicsQuestions.FULL_TIME_TA,
                    homeSchoolValue: Model[SchoolCharacteristicsQuestions.FULL_TIME_TA],
                    homeSchoolName: Model.BenchmarkSchool.Name,
                    elementName: "TotalNumberOfTeachingAssistantsFullTimeEquivalent",
                    minValue: Model.BenchmarkCriteria.MinTotalNumberOfTeachingAssistantsFullTimeEquivalent,
                    maxValue: Model.BenchmarkCriteria.MaxTotalNumberOfTeachingAssistantsFullTimeEquivalent
                    ))

            @Html.Partial("Partials/RangeCriteria",
                new BenchmarkCriteriaRangeVM(
                    question: SchoolCharacteristicsQuestions.FULL_TIME_OTHER,
                    homeSchoolValue: Model[SchoolCharacteristicsQuestions.FULL_TIME_OTHER],
                    homeSchoolName: Model.BenchmarkSchool.Name,
                    elementName: "FullTimeOther",
                    minValue: Model.BenchmarkCriteria.MinFullTimeOther,
                    maxValue: Model.BenchmarkCriteria.MaxFullTimeOther
                    ))

            @Html.Partial("Partials/PercentageCriteria",
                new BenchmarkCriteriaRangeVM(
                    question: SchoolCharacteristicsQuestions.FULL_TIME_ADMIN,
                    homeSchoolValue: Model[SchoolCharacteristicsQuestions.FULL_TIME_ADMIN],
                    homeSchoolName: Model.BenchmarkSchool.Name,
                    elementName: "FullTimeAdmin",
                    minValue: Model.BenchmarkCriteria.MinFullTimeAdmin,
                    maxValue: Model.BenchmarkCriteria.MaxFullTimeAdmin
                    ))
        </div>
    </fieldset>
</div>