@using SFB.Web.UI.Models
@model SchoolCharacteristicsViewModel

<div class="accordion-section">
    <fieldset role="group" aria-labelledby="WFHeader">
        <legend class="visually-hidden">Workforce characteristics</legend>

        <div class="accordion-section-header">
            <h2 id="WFHeader" class="heading-medium">Workforce characteristics <span class="font-small break-in-mobile"><span aria-hidden="true">(</span><span class="selection-counter">0</span> selected<span aria-hidden="true">)</span></span></h2>
        </div>

        <div class="accordion-section-body">

            @Html.Partial("Partials/Criteria/RangeCriteria", Model.SchoolWorkforceRangeVM)

            @Html.Partial("Partials/Criteria/RangeCriteria", Model.NumberOfTeachersFTERangeVM)

            @Html.Partial("Partials/Criteria/PercentageCriteria", Model.PercQualifiedTeachersRangeVM)

            @Html.Partial("Partials/Criteria/RangeCriteria", Model.SeniorLeadershipFTERangeVM)

            @Html.Partial("Partials/Criteria/RangeCriteria", Model.FulltimeTaRangeVM)

            @Html.Partial("Partials/Criteria/RangeCriteria", Model.FulltimeOtherRangeVM)

            @Html.Partial("Partials/Criteria/RangeCriteria", Model.FulltimeAuxRangeVM)
        </div>
    </fieldset>
</div>