@using System.Configuration
@model SFB.Web.UI.Models.TrustViewModel

<div class="govuk-accordion govuk-!-margin-bottom-3 app-accordion--no-open-all" data-module="govuk-accordion" id="schools-in-trust-accordion">
    <div class="govuk-accordion__section current ">
        <div class="govuk-accordion__section-header sfb-accordion-hide-top-border">
            <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="CurrentHeader">
                    Schools currently in this trust
                </span>
            </h2>
        </div>
        <div id="accordion-current-content" class="govuk-accordion__section-content" aria-labelledby="CurrentHeader">
            <div class="sponsor-detail">
                @if (Model.AcademiesInContextList.Count > 10)
                {
                    <div class="resultListPanel">
                        <ul class="govuk-list two-columns resultListPanel__ul">
                            @foreach (var academy in Model.AcademiesInContextList)
                            {
                                <li>
                                    <a class="govuk-link" href="/school?urn=@academy.URN">@academy.EstablishmentName</a>
                                </li>
                            }
                        </ul>
                    </div>
                }
                else
                {
                    <div class="resultListPanel">
                        <ul class="govuk-list govuk-list--bullet resultListPanel__ul">
                            @foreach (var school in Model.AcademiesInContextList)
                            {
                                <li>
                                    <a class="govuk-link" href="/school?urn=@school.URN">@school.EstablishmentName</a>
                                </li>
                            }
                        </ul>
                    </div>
                }
            </div>
            <p class="govuk-body">
                <a class="govuk-link" href="/TrustSchools?uid=@Model.UID&companyNo=@Model.CompanyNo&matname=@Model.Name">Compare schools in this trust</a>
            </p>
        </div>
    </div>

    <div class="govuk-accordion__section latest">
        <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="LatestTermHeader">
                    Schools in this trust's @Model.LatestTerm submission
                </span>
            </h2>
        </div>
        <div id="accordion-latest-content" class="govuk-accordion__section-content" aria-labelledby="LatestTermHeader">
            <div class="sponsor-detail">
                @if (Model.AcademiesInFinanceList.Count > 10)
                {
                    <div class="resultListPanel">
                        <ul class="govuk-list two-columns resultListPanel__ul">
                            @foreach (var academy in Model.AcademiesInFinanceList)
                            {
                                if (academy.HasIncompleteFinancialData)
                                {
                                    <li>
                                        <a href="/school?urn=@academy.URN" class="govuk-link highlight-warning">
                                            @academy.EstablishmentName
                                            <span class="govuk-visually-hidden"> has data from a period less than 12 months</span>
                                        </a>
                                    </li>
                                }
                                else
                                {
                                    <li>
                                        <a class="govuk-link" href="/school?urn=@academy.URN">@academy.EstablishmentName</a>
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                }
                else
                {
                    <div class="resultListPanel">
                        <ul class="govuk-list govuk-list--bullet resultListPanel__ul">
                            @foreach (var school in Model.AcademiesInFinanceList)
                            {
                                if (school.HasIncompleteFinancialData)
                                {
                                    <li>
                                        <a href="/school?urn=@school.URN" class="govuk-link highlight-warning">
                                            @school.EstablishmentName
                                            <span class="govuk-visually-hidden"> has data from a period less than 12 months</span>
                                        </a>
                                    </li>
                                }
                                else
                                {
                                    <li>
                                        <a class="govuk-link" href="/school?urn=@school.URN">@school.EstablishmentName</a>
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                }
            </div>

        </div>
    </div>

    <div class="govuk-accordion__section history">
        <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="HistoryTermHeader">
                    Trust history
                </span>
            </h2>
        </div>
        <div id="accordion-history-content" class="govuk-accordion__section-content" aria-labelledby="HistoryTermHeader">
            <div class="sponsor-detail">
                <div class="resultListPanel">
                    <table class="govuk-table history-table">
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header">School year</th>
                            <th scope="col" class="govuk-table__header">Date</th>
                            <th scope="col" class="govuk-table__header">Event</th>
                            <th scope="col" class="govuk-table__header">Organisation</th>
                        </tr>
                        @for (int i = 0; i < Model.TrustHistory?.Events.Count; i++)
                        {
                            if (i > 0 && Model.TrustHistory.Events[i].SchoolYear == Model.TrustHistory.Events[i - 1].SchoolYear)
                            {
                                <tr class="govuk-table__row">
                                    <td class="govuk-table__cell school-year-column" aria-label="@Model.TrustHistory.Events[i].SchoolYear"></td>
                                    <td class="govuk-table__cell">@Model.TrustHistory.Events[i].Date.ToShortDateString()</td>
                                    <td class="govuk-table__cell">@Model.TrustHistory.Events[i].Event</td>
                                    <td class="govuk-table__cell"><a class="govuk-link" href="/school?urn=@Model.TrustHistory.Events[i].OrganisationUrn">@Model.TrustHistory.Events[i].OrganisationName</a></td>
                                </tr>
                            }
                            else
                            {
                                <tr class="govuk-table__row new-row">
                                    <td class="govuk-table__cell school-year-column">@Model.TrustHistory.Events[i].SchoolYear</td>
                                    <td class="govuk-table__cell">@Model.TrustHistory.Events[i].Date.ToShortDateString()</td>
                                    <td class="govuk-table__cell">@Model.TrustHistory.Events[i].Event</td>
                                    <td class="govuk-table__cell"><a class="govuk-link" href="/school?urn=@Model.TrustHistory.Events[i].OrganisationUrn">@Model.TrustHistory.Events[i].OrganisationName</a></td>
                                </tr>
                            }

                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div style="padding-bottom: 60px">
    <dl class="metadata-school-detail__dl">
        <dt class="metadata-school-detail__dt govuk-body">Companies House number:</dt>
        <dd class="metadata-school-detail__dd govuk-body">
            <a class="govuk-link" rel="external noopener noreferrer" target="_blank" title="Companies house link will open in a new page" href="https://beta.companieshouse.gov.uk/company/@(Model.CompanyNo.ToString("D8"))">@(Model.CompanyNo)</a>
        </dd>
    </dl>
    <hr class="govuk-section-break govuk-section-break--visible" style="clear: left">
    @if (Model.HasCscpUrl || Model.HasGiasUrl)
    {
        <dl class="metadata-school-detail__dl">
            <dt class="metadata-school-detail__dt govuk-body">View this trust's data on other services:</dt>
            <dd class="metadata-school-detail__dd govuk-body">
                @if (Model.HasCscpUrl)
                {
                    <a class="govuk-link trust-ext-link cscp-ext-link" rel="external noopener noreferrer" target="_blank" title="Find and compare schools in England link will open in a new page"
                       href="@ConfigurationManager.AppSettings["SptApiUrl"]/multi-academy-trust/@(Model.UID)">Find and compare schools in England</a>
                    <br/>
                }
                @if (Model.HasGiasUrl)
                {
                    <a class="govuk-link trust-ext-link gias-ext-link" rel="external noopener noreferrer" target="_blank" title="Get information link will open in a new page"
                       href="@ConfigurationManager.AppSettings["GiasApiUrl"]/Groups/Group/Details/@(Model.UID)">Get information about schools</a>
                }
            </dd>
        </dl>
    }
</div>

<details class="govuk-details" style="clear: left" data-module="govuk-details" id="mapDetails" open>
    <summary class="govuk-details__summary map hide-in-print">
        <span class="summary govuk-!-font-size-16">Show map</span>
    </summary>
    <div class="govuk-details__text map govuk-!-margin-top-4">
        <a href="#post-map-content" class="govuk-link govuk-visually-hidden-focusable hide-in-print">Skip the map</a>
        <div id="SchoolLocationMap" class="mtl school-location-map" title="An Azure map of the school's location" aria-label="An Azure map of the school's location"></div>
    </div>
</details>

<div id="post-map-content"></div>

<input type="hidden" id="uid" value="@Model.UID" />
