@model List<SFB.Web.UI.Models.ChartViewModel>

@if (Model.Count > 1)
{
    <div class="govuk-grid-column-one-third chart-filter govuk-!-padding-left-0">
        <div class="govuk-form-group">
            <label class="govuk-label" for="ChartGroup">Show grouping</label>
            <select name="ChartGroup" id="ChartGroup" class="govuk-select" onchange="DfE.Views.TrustDetailsViewModel.rebuildCharts()">
                @foreach (var item in Model)
                {
                    if (ViewBag.ChartGroup == item.ChartGroup)
                    {
                        <option value="@item.ChartGroup" selected="selected">@item.ChartGroupName</option>
                    }
                    else
                    {
                        <option value="@item.ChartGroup">@item.ChartGroupName</option>
                    }
                }
            </select>
        </div>
    </div>
}
else
{
    <input type="hidden" name="ChartGroup" id="ChartGroup" value="@Model[0].ChartGroup">
}