@using SFB.Web.Common
@using SFB.Web.UI.Helpers.Constants


<div class="form-group">
    <label class="form-label" for="Financing">Central financing</label>
    <select name="Financing" id="Financing" class="form-control" onchange="DfE.Views.HistoricalCharts.RebuildCharts('trust')">
        <option value="@MatFinancingType.TrustAndAcademies" @IsFinancingSelected(MatFinancingType.TrustAndAcademies)>@MATFinancing.TRUST_ACADEMIES</option>
        <option value="@MatFinancingType.TrustOnly" @IsFinancingSelected(MatFinancingType.TrustOnly)>@MATFinancing.TRUST_ONLY</option>
    </select>
</div>

@helper IsFinancingSelected(MatFinancingType option)
{
if (option == Enum.Parse(typeof(MatFinancingType), ViewBag.Financing.ToString()))
{
        <text>selected</text>
}
}