@using SFB.Web.ApplicationCore.Helpers;

@model SFB.Web.UI.Models.SchoolCharacteristicsViewModel

@{
    ViewBag.ErrorPrefix = Model.HasError() ? "Error: " : "";
    ViewBag.Title = "Choose comparison school characteristics";
    ViewBag.pageClass = "advanced-school-characteristics";
}

@section BackButtonContent{
    @{

        if (String.IsNullOrEmpty(Model.ComparisonList.HomeSchoolUrn))
        {
            <a class="govuk-back-link hide-in-print" href="ChooseRegion?EstType=All&excludePartial=true&Urn=&ComparisonType=Advanced">Back</a>
        }
        else
        {
            <a class="govuk-back-link hide-in-print" href="ChooseRegion?Urn=@ViewBag.URN&EstType=@ViewBag.EstType&ComparisonType=@ViewBag.ComparisonType">Back</a>
        }
    }
}

<div class="steps">
    <span class="govuk-caption-xl">Detailed comparison 3 of 3</span>
</div>

<h1 class="govuk-heading-xl page-heading">
    Choose comparison school characteristics
</h1>

@if (!string.IsNullOrEmpty(Model.ComparisonList.HomeSchoolName))
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <span class="govuk-body-s govuk-!-font-size-16">Comparing to</span>
            <div class="highlight">
                <a href="/school/detail?urn=@Model.ComparisonList.HomeSchoolUrn"><span class="govuk-!-font-size-16 govuk-!-font-weight-bold">@Model.ComparisonList.HomeSchoolName</span></a>
            </div>
        </div>
    </div>
}

<section class="section">
    <div class="criteria-section">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-three-quarters">
                <p class="govuk-body">
                    Create a benchmark group of <span class="govuk-!-font-size-19 govuk-!-font-weight-bold">1-30</span> schools with a recommended size of <span class="govuk-!-font-size-19 govuk-!-font-weight-bold">15</span>.
                </p>
            </div>
        </div>

        <div class="sticky-div">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-three-quarters">
                    <div class="school-match-info">
                        <span id="spinnerPlaceHolder" class="govuk-!-font-size-16" role="alert">
                            <img style="vertical-align:bottom; height: 25px" src="../public/assets/images/spinner.gif" alt="Loading" />
                            <span class="govuk-body-s" style="margin-left: 10px; color: black">Searching</span>
                        </span>
                        <span id="schoolCount" aria-live="assertive" role="alert" style="display: none" class="govuk-body-s govuk-!-font-size-16">
                            <span id="countPart" class="govuk-!-font-size-19 govuk-!-font-weight-bold">0</span>
                            <span id="rest"> schools matching <span class="govuk-!-font-size-16 govuk-!-font-weight-bold">'@ViewBag.EstTypeDescription'</span> in <span class="govuk-!-font-size-16 govuk-!-font-weight-bold">'@ViewBag.AreaTypeDescription'</span> (max. 30)</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        @if (Model.HasError())
        {
            <div class="govuk-error-summary" role="alert" aria-labelledby="govuk-error-summary__title-example-1" tabindex="-1">

                <h2 class="govuk-error-summary__title" id="govuk-error-summary__title-example-1">
                    There is a problem
                </h2>
                @Html.ValidationSummary()
            </div>
        }
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-three-quarters">
                <form action="OverwriteStrategy" method="post" id="criteriaForm" autocomplete="off">
                    @Html.AntiForgeryToken()
                    <div class="criteria-questions">
                        <div id="characteristics-accordion" class="govuk-accordion app-accordion--no-open-all" data-module="govuk-accordion">
                            @Html.Partial("Partials/GeneralCharacteristics")
                            @Html.Partial("Partials/SenCharacteristics")
                            @Html.Partial("Partials/PerformanceCharacteristics")
                            @Html.Partial("Partials/WorkforceCharacteristics")
                        </div>
                    </div>

                    <div class="govuk-button-group">
                        <button class="govuk-button submit-criteria-js submit" data-module="govuk-button">
                            Continue to benchmarking charts
                        </button>

                        <a class="govuk-link js-clear-criteria" href="#">Clear all characteristics</a>
                    </div>

                    <input type="hidden" name="Urn" value="@ViewBag.URN">
                    <input type="hidden" name="SchoolName" value="@Model.ComparisonList.HomeSchoolName">
                    <input type="hidden" name="ComparisonType" value="@ViewBag.ComparisonType">
                    <input type="hidden" name="EstType" value="@ViewBag.EstType">
                    <input type="hidden" name="AreaType" value="@ViewBag.AreaType">
                    <input type="hidden" name="LaCode" value="@ViewBag.LaCode">
                    <input type="hidden" name="ExcludePartial" value="@ViewBag.ExcludePartial">
                    <input type="hidden" name="BasketCount" value="0">
                </form>
            </div>
        </div>
    </div>

</section>

@section ViewScripts {
    <script src="/node_modules/jquery-validation/dist/jquery.validate.min.js"></script>
    <script>
        DfE.Views.AdvancedCharacteristicsViewModel = new AdvancedCharacteristicsViewModel();
    </script>
}
