@model SFB.Web.UI.Models.SchoolCharacteristicsViewModel

@{
    ViewBag.Title = "Schools Financial Benchmarking";
    ViewBag.pageClass = "advanced-school-characteristics";
}

@section StickyContent
{
    <div id="liveCountBar" class="sticky-div" role="region" aria-label="School results live counter">
        <div class="grid-row">
            <div class="column-full">
                <div class="sticky-div__comparison-list-info-panel" id="comparisonListInfoPanelResults">
                    <span id="schoolCount" class="bold-small" aria-live="assertive">0 schools found</span>
                    <a class="sticky-div__comparison-list-info-panel__clear-criteria js-clear-criteria" href="#">Clear all characteristics</a>
                    <div class="view-benchmark-charts-wrapper">
                        <button type="submit" class="button view-benchmark-charts submit">View benchmark charts</button>
                    </div>
                </div>
                <div class="sticky-div__comparison-list-info-panel" id="comparisonListInfoPanelResultsEmpty" style="display: none">
                    <span role="alert" aria-live="assertive" class="font-small">No schools found, select some more characteristics</span>
                </div>
            </div>
        </div>
    </div>
}

@section BackButtonContent{
    @{
        ViewBag.HomeSchoolId = Model.ComparisonList.HomeSchoolUrn;
        ViewBag.HomeSchoolName = Model.ComparisonList.HomeSchoolName;
    }
    @Html.Partial("Partials/BreadCrumbs/BackToSelectCompareTypeLink")
}

<h1 class="heading-xlarge page-heading">Detailed comparison</h1>

@if (!string.IsNullOrEmpty(Model.ComparisonList.HomeSchoolName))
{
    <div class="grid-row">
        <div class="column-full">
            <span class="font-xsmall">Comparing to</span>
            <div class="highlight">
                <span class="bold-small">@Model.ComparisonList.HomeSchoolName</span>
            </div>
        </div>
    </div>
}

<div class="steps">
    <span>Step 3 of 3</span>
</div>

<section class="section" aria-labelledby="mainQuestion">
    <div class="criteria-section">
        <div class="grid-row">
            <fieldset class="column-three-quarters">
                <legend class="bold-small" id="mainQuestion">Which characteristics would you like to use for your comparison?</legend>
                <p>
                    A meaningful benchmark group has around 15 schools, and the largest group we can display charts for is 30.
                    Keep this range in mind when selecting characteristics. If there are too many matches, revise the values entered for your characteristics.
                </p>
            </fieldset>
        </div>

        @if (Model.HasError())
        {
            <div class="error-summary" role="alert" aria-labelledby="error-summary-heading-example-1" tabindex="-1">

                <h1 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">
                    There are errors on this page that require attention.
                </h1>
                @Html.ValidationSummary()
            </div>
        }
        <div class="grid-row">
            <div class="column-three-quarters">
                <form action="OverwriteStrategy" method="post" id="criteriaForm" autocomplete="off">
                    <div class="criteria-questions">
                        <div id="characteristics-accordion" class="accordion">
                            @Html.Partial("Partials/GeneralCharacteristics")
                            @Html.Partial("Partials/SenCharacteristics")
                            @Html.Partial("Partials/PerformanceCharacteristics")
                            @Html.Partial("Partials/WorkforceCharacteristics")
                        </div>
                    </div>

                    <div class="grid-row">
                        <div class="button-set column-full font-xsmall">
                            <div class="grid-row">
                                <div class="column-one-third">
                                    <button class="button submit" disabled="disabled">View benchmarking charts</button>
                                </div>
                                <div class="column-one-third link">
                                    <a href="#" class="clear-criteria js-clear-criteria">Clear all characteristics</a>
                                </div>
                                <div class="column-one-third link">
                                    <a href="ChooseRegion?Urn=@ViewBag.URN&EstType=@ViewBag.EstType&ComparisonType=@ViewBag.ComparisonType">Back</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <input type="hidden" name="Urn" value="@ViewBag.URN">
                    <input type="hidden" name="SchoolName" value="@Model.ComparisonList.HomeSchoolName">
                    <input type="hidden" name="ComparisonType" value="@ViewBag.ComparisonType">
                    <input type="hidden" name="EstType" value="@ViewBag.EstType">
                    <input type="hidden" name="AreaType" value="@ViewBag.AreaType">
                    <input type="hidden" name="LaCode" value="@ViewBag.LaCode">

                </form>
            </div>
        </div>
    </div>
    
</section>

    @section ViewScripts {
        <script src="/node_modules/jquery-validation/dist/jquery.validate.min.js"></script>
        <script>
            DfE.Views.AdvancedCharacteristicsViewModel = new AdvancedCharacteristicsViewModel();
        </script>
    }
