@using SFB.Web.ApplicationCore.Helpers;

@model SFB.Web.UI.Models.SchoolCharacteristicsViewModel

@{
    ViewBag.Title = "Schools Financial Benchmarking";
    ViewBag.pageClass = "advanced-school-characteristics";
}

@section BackButtonContent{
    @{

        if (String.IsNullOrEmpty(Model.ComparisonList.HomeSchoolUrn))
        {
            Html.RenderPartial("Partials/BackToHomeLink");
        }
        else
        {
            ViewBag.HomeSchoolId = Model.ComparisonList.HomeSchoolUrn;
            ViewBag.HomeSchoolName = Model.ComparisonList.HomeSchoolName;
            Html.RenderPartial("Partials/BreadCrumbs/BackToSelectCompareTypeLink");
        }
    }
}

<div class="steps">
    <span class="govuk-caption-xl">Step 3 of 3</span>
</div>

<h1 class="govuk-heading-xl">Detailed comparison</h1>

@if (!string.IsNullOrEmpty(Model.ComparisonList.HomeSchoolName))
{
    <div class="grid-row">
        <div class="column-full">
            <span class="font-xsmall">Comparing to</span>
            <div class="highlight">
                <span class="bold-small">@Model.ComparisonList.HomeSchoolName</span>
            </div>
        </div>
    </div>
}

<section class="section" aria-labelledby="mainQuestion">
    <div class="criteria-section">
        <div class="grid-row">
            <div class="column-three-quarters">
                <h2 class="bold-small" id="mainQuestion">Which characteristics would you like to use for your comparison?</h2>
                <p>
                    Please create a benchmark group of <span class="bold-small">1-30</span> schools with a recommended size of <span class="bold-small">15</span>.
                </p>
            </div>
        </div>

        <div class="sticky-div">
            <div class="grid-row">
                <div class="column-three-quarters">
                    <div class="school-match-info">
                        <span id="spinnerPlaceHolder" class="font-xsmall" role="alert">
                            <img style="vertical-align:bottom; height: 25px" src="../public/assets/images/spinner.gif" alt="Loading" />
                            <span style="margin-left: 10px; color: black">Searching</span>
                        </span>
                        <span id="schoolCount" aria-live="assertive" style="display: none" class="font-xsmall">
                            <span id="countPart" class="bold-small">0</span>
                            <span id="rest"> schools matching <span class="bold-xsmall">'@ViewBag.EstTypeDescription'</span> in <span class="bold-xsmall">'@ViewBag.AreaTypeDescription'</span> (max. 30)</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        @if (Model.HasError())
        {
            <div class="error-summary" role="alert" aria-labelledby="error-summary-heading-example-1" tabindex="-1">

                <h1 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">
                    There are errors on this page that require attention.
                </h1>
                @Html.ValidationSummary()
            </div>
        }
        <div class="grid-row">
            <div class="column-three-quarters">
                <form action="OverwriteStrategy" method="post" id="criteriaForm" autocomplete="off">
                    @Html.AntiForgeryToken()
                    <div class="criteria-questions">
                        <div id="characteristics-accordion" class="accordion">
                            @Html.Partial("Partials/GeneralCharacteristics")
                            @Html.Partial("Partials/SenCharacteristics")
                            @Html.Partial("Partials/PerformanceCharacteristics")
                            @Html.Partial("Partials/WorkforceCharacteristics")
                        </div>
                    </div>

                    <div class="grid-row">
                        <div class="button-set column-full">
                            <div class="criteria-controls">
                                <button class="button submit-criteria-js submit mr-2">Continue to benchmarking charts</button>
                            </div>
                            <div class="criteria-controls-wrapper">
                                <div class="criteria-controls">
                                    <a href="#" class="clear-criteria js-clear-criteria">Clear all characteristics</a>
                                </div>
                                <div class="criteria-controls ml-2">
                                    <a href="ChooseRegion?Urn=@ViewBag.URN&EstType=@ViewBag.EstType&ComparisonType=@ViewBag.ComparisonType">Back</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <input type="hidden" name="Urn" value="@ViewBag.URN">
                    <input type="hidden" name="SchoolName" value="@Model.ComparisonList.HomeSchoolName">
                    <input type="hidden" name="ComparisonType" value="@ViewBag.ComparisonType">
                    <input type="hidden" name="EstType" value="@ViewBag.EstType">
                    <input type="hidden" name="AreaType" value="@ViewBag.AreaType">
                    <input type="hidden" name="LaCode" value="@ViewBag.LaCode">
                    <input type="hidden" name="ExcludePartial" value="@ViewBag.ExcludePartial">
                    <input type="hidden" name="BasketCount" value="0">
                </form>
            </div>
        </div>
    </div>
    
</section>

@section ViewScripts {
    <script src="/node_modules/jquery-validation/dist/jquery.validate.min.js"></script>
    <script>
        DfE.Views.AdvancedCharacteristicsViewModel = new AdvancedCharacteristicsViewModel();
    </script>
}
