@using SFB.Web.ApplicationCore.Helpers.Constants

@model SFB.Web.UI.Models.BestInClassCharacteristicsViewModel
@{
    ViewBag.ErrorPrefix = Model.HasError() ? "Error: " : "";
    ViewBag.Title = "Edit characteristics";
    ViewBag.pageClass = "bic-characteristics";
}

@section BackButtonContent{
    @{
        ViewBag.HomeSchoolId = Model.BenchmarkSchool.Id.ToString();
        ViewBag.HomeSchoolName = Model.BenchmarkSchool.Name;
    }
    @Html.Partial("Partials/BreadCrumbs/BackToSelectCompareTypeLink")
}

@FormErrorSummary()

<h1 class="heading-xlarge page-heading">
    Edit characteristics
</h1>

@if (!string.IsNullOrEmpty(Model.BenchmarkSchool.Name))
{
    <div class="grid-row">
        <div class="column-full">
            <span class="font-small">Comparing to</span>
            <div class="highlight">
                <a href="/school/detail?urn=@Model.BenchmarkSchool.Id"><span class="bold-xsmall">@Model.BenchmarkSchool.Name</span></a>
            </div>
        </div>
    </div>
}

<p class="mt-2">This comparison generates a group of statistically similar schools using the following characteristics and progress data.</p>

<div class="govuk-inset-text" style="margin-bottom:40px">
    <p class="bold-small">Included as standard:</p>
    <ul class="list list-bullet">
        <li><span class="bold-small">Establishment type: </span>@Model.BicCriteria.EstablishmentType</li>
        <li><span class="bold-small">School phase: </span>@Model.BicCriteria.OverallPhase</li>
        <li><span class="bold-small">London Weighting: </span>@string.Join(",", Model.BicCriteria.LondonWeighting)</li>
    </ul>
</div>

<form action="/BenchmarkCharts/GenerateFromBicCriteria" method="post" id="criteriaForm" novalidate>
    @Html.AntiForgeryToken()
    <div>
        <div class="govuk-form-group @FormGroupErrorClass("bicCriteria.NoPupilsMin") @FormGroupErrorClass("bicCriteria.NoPupilsMax")">
            <div class="column-full no-padding">
                <label class="govuk-label govuk-!-font-weight-bold">Number of pupils</label>
                <div class="benchmark-school-value">
                    <span>Enter your preferred range in the boxes below. The value for @Model.BenchmarkSchool.Name is </span>
                    <span class="bold-small">@Model.BenchmarkSchool.LatestYearFinancialData.PupilCount pupils</span>
                </div>
            </div>
            <div class="column-half no-padding">
                <div class="govuk-form-group no-padding">
                    @InputErrorMessage("bicCriteria.NoPupilsMin")
                    @InputErrorMessage("bicCriteria.NoPupilsMax")
                    <div class="column-half no-padding">
                        <label class="govuk-label" for="bicCriteria.NoPupilsMin">From</label>
                        <input type="text" pattern="[0-9]*" inputmode="numeric" name="bicCriteria.NoPupilsMin" id="bicCriteria.NoPupilsMin"
                               class="form-control criteria-input @FormControlErrorClass("bicCriteria.NoPupilsMin")"
                               step=".01" min="0" max="100000" value="@(Model.BicCriteria.NoPupilsMin?.ToString("F2"))"
                               aria-label="Minimum value for number of pupils">
                    </div>
                    <div class="column-half no-padding">
                        <label class="govuk-label" for="bicCriteria.NoPupilsMax">To</label>
                        <input type="text" pattern="[0-9]*" inputmode="numeric" name="bicCriteria.NoPupilsMax" id="bicCriteria.NoPupilsMax"
                               class="form-control criteria-input @FormControlErrorClass("bicCriteria.NoPupilsMax")"
                               step=".01" min="0" max="100000"
                               value="@(Model.BicCriteria.NoPupilsMax?.ToString("F2"))"
                               aria-label="Maximum value for number of pupils">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <div class="govuk-form-group @FormGroupErrorClass("bicCriteria.PercentageFSMMin") @FormGroupErrorClass("bicCriteria.PercentageFSMMax")">
            <div class="column-full no-padding">
                <label class="govuk-label govuk-!-font-weight-bold">Eligibility for free school meals (% of pupils)</label>
                <div class="benchmark-school-value">
                    <span>Enter your preferred range in the boxes below. The value for @Model.BenchmarkSchool.Name is </span>
                    <span class="bold-small">@(Model.BenchmarkSchool.LatestYearFinancialData.PercentageOfEligibleFreeSchoolMeals.GetValueOrDefault().ToString("F2"))%</span>
                </div>
            </div>
            <div class="column-half no-padding">
                <div class="govuk-form-group no-padding">
                    @InputErrorMessage("bicCriteria.PercentageFSMMin")
                    @InputErrorMessage("bicCriteria.PercentageFSMMax")
                    <div class="column-half no-padding">
                        <label class="form-label" for="bicCriteria.PercentageFSMMin">From</label>
                        <input type="text" pattern="[0-9]*" inputmode="numeric" name="bicCriteria.PercentageFSMMin" id="bicCriteria.PercentageFSMMin"
                               class="form-control criteria-input @FormControlErrorClass("bicCriteria.PercentageFSMMin")"
                               step=".01" min="0" max="100"
                               value="@(Model.BicCriteria.PercentageFSMMin?.ToString("F2"))"
                               aria-label="Minimum value for Eligibility for free school meals (% of pupils)">
                    </div>
                    <div class="column-half no-padding">
                        <label class="govuk-label" for="bicCriteria.PercentageFSMMax">To</label>
                        <input type="text" pattern="[0-9]*" inputmode="numeric" name="bicCriteria.PercentageFSMMax" id="bicCriteria.PercentageFSMMax"
                               class="form-control criteria-input @FormControlErrorClass("bicCriteria.PercentageFSMMax")"
                               step=".01" min="0" max="100"
                               value="@(Model.BicCriteria.PercentageFSMMax?.ToString("F2"))"
                               aria-label="Maximum value for Eligibility for free school meals (% of pupils)">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <div class="govuk-form-group">
            <div class="column-full no-padding">
                <label class="govuk-label govuk-!-font-weight-bold">Pupils with <abbr title="Special Education Needs" aria-label="">SEN</abbr> who have statements or <abbr title="Education, health and care" aria-label="">EHC</abbr> plans (% of pupils)</label>
            </div>
            <div class="column-full no-padding govuk-!-margin-top-2">
                <div class="govuk-form-group no-padding">
                    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">
                            <input data-aria-controls="sen_range" class="govuk-checkboxes__input" id="sen" name="BicCriteria.SENEnabled" type="checkbox" value="true" onchange="javascript: $('#sen_range').toggle();"
                                   @Html.Raw(Model.BicCriteria.SENEnabled ? "checked" : "none")>
                            <label class="govuk-label govuk-checkboxes__label" for="sen">Include schools with a similar <abbr title="Education, health and care" aria-label="">EHC</abbr> plan value</label>
                        </div>
                    </div>
                    <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="sen_range" style="display: @Html.Raw(Model.BicCriteria.SENEnabled ? "block" : "none")">
                        <div class="benchmark-school-value">
                            <span>Enter your preferred range in the boxes below. The value for @Model.BenchmarkSchool.Name is </span>
                            <span class="bold-small">@(Model.BenchmarkSchool.LatestYearFinancialData.PercentageOfPupilsWithSen.GetValueOrDefault().ToString("F2"))%</span>
                        </div>
                        <div class="govuk-form-group no-padding @FormGroupErrorClass("bicCriteria.PercentageSENMin") @FormGroupErrorClass("bicCriteria.PercentageSENMax")">
                            @InputErrorMessage("bicCriteria.PercentageSENMin")
                            @InputErrorMessage("bicCriteria.PercentageSENMax")
                            <div class="column-half no-padding">
                                <label class="govuk-label" for="bicCriteria.PercentageSENMin">From</label>
                                <input type="text" pattern="[0-9]*" inputmode="numeric" name="bicCriteria.PercentageSENMin" id="bicCriteria.PercentageSENMin"
                                       class="form-control criteria-input @FormControlErrorClass("bicCriteria.PercentageSENMin")"
                                       step=".01" min="0" max="100" value="@(Model.BicCriteria.PercentageSENMin?.ToString("F2"))"
                                       aria-label="Minimum value for Pupils with SEN who have statements or EHC plans (% of pupils)">
                            </div>
                            <div class="column-half no-padding">
                                <label class="govuk-label" for="bicCriteria.PercentageSENMax">To</label>
                                <input type="text" pattern="[0-9]*" inputmode="numeric" name="bicCriteria.PercentageSENMax" id="bicCriteria.PercentageSENMax"
                                       class="form-control criteria-input @FormControlErrorClass("bicCriteria.PercentageSENMax")"
                                       step=".01" min="0" max="100" value="@(Model.BicCriteria.PercentageSENMax?.ToString("F2"))"
                                       aria-label="Maximum value for Pupils with SEN who have statements or EHC plans (% of pupils)">
                            </div>
                        </div>
                    </div>
                </div>
            </div>            
        </div>
    </div>


    <div>
        <div class="govuk-form-group @FormGroupErrorClass("bicCriteria.PerPupilExpMin") @FormGroupErrorClass("bicCriteria.PerPupilExpMax")">
            <div class="column-full no-padding">
                <label class="govuk-label govuk-!-font-weight-bold">
                    Total expenditure in £ per pupil
                </label>
                <div class="benchmark-school-value">
                    <span>Enter your preferred range in the boxes below. The value for @Model.BenchmarkSchool.Name is </span>
                    <span class="bold-small">@(Model.BenchmarkSchool.LatestYearFinancialData.PerPupilTotalExpenditure.GetValueOrDefault().ToString("C"))</span>
                </div>
            </div>
            <div class="column-half no-padding">
                <div class="govuk-form-group no-padding">
                    @InputErrorMessage("bicCriteria.PerPupilExpMin")
                    @InputErrorMessage("bicCriteria.PerPupilExpMax")
                    <div class="column-half no-padding">
                        <label class="govuk-label" for="bicCriteria.PerPupilExpMin">From</label>
                        <input type="text" pattern="[0-9]*" inputmode="numeric" name="bicCriteria.PerPupilExpMin" id="bicCriteria.PerPupilExpMin"
                               class="form-control criteria-input @FormControlErrorClass("bicCriteria.PerPupilExpMin")"
                               step=".01" min="0" value="@(Model.BicCriteria.PerPupilExpMin?.ToString("F2"))"
                               aria-label="Minimum value for Total expenditure in £ per pupil">
                    </div>
                    <div class="column-half no-padding">
                        <label class="govuk-label" for="bicCriteria.PerPupilExpMax">To</label>
                        <input type="text" pattern="[0-9]*" inputmode="numeric" name="BicCriteria.PerPupilExpMax" id="bicCriteria.PerPupilExpMax"
                               class="form-control criteria-input @FormControlErrorClass("bicCriteria.PerPupilExpMax")"
                               step=".01" min="0" value="@(Model.BicCriteria.PerPupilExpMax?.ToString("F2"))"
                               aria-label="Maximum value for Total expenditure in £ per pupil">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <div class="govuk-form-group">
            <div class="column-full no-padding">
                <label class="bold-small">Urban/Rural schools</label>
                <div class="benchmark-school-value">
                    <span>The value for @Model.BenchmarkSchool.Name is </span>
                    <span class="bold-small">@(Model.BicCriteria.UrbanRural)</span>
                </div>
            </div>
            <div class="column-full no-padding">
                <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="ur" name="BicCriteria.UREnabled" type="checkbox" value="true"
                               @Html.Raw(Model.BicCriteria.UREnabled ? "checked" : "") />
                        <label class="govuk-label govuk-checkboxes__label" for="ur">Include schools with this value</label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="govuk-form-group">
        <div class="govuk-button-group">
            <button type="submit" class="govuk-button" data-module="govuk-button">Update comparison</button>
            <a class="govuk-link" href="~/BenchmarkCriteria/ComparisonStrategy?urn=@Model.BenchmarkSchool.Id">Cancel</a>
        </div>
    </div>

    <input type="hidden" name="Urn" value="@Model.BenchmarkSchool.Id">
    <input type="hidden" name="BicCriteria.EstablishmentType" value="@Model.BicCriteria.EstablishmentType">
    <input type="hidden" name="BicCriteria.OverallPhase" value="@Model.BicCriteria.OverallPhase">
    <input type="hidden" name="BicCriteria.UrbanRural" value="@Model.BicCriteria.UrbanRural">
    <input type="hidden" name="BicCriteria.Ks2ProgressScoreMin" value="@Model.BicCriteria.Ks2ProgressScoreMin">
    <input type="hidden" name="BicCriteria.Ks2ProgressScoreMax" value="@Model.BicCriteria.Ks2ProgressScoreMax">
    <input type="hidden" name="BicCriteria.Ks4ProgressScoreMin" value="@Model.BicCriteria.Ks4ProgressScoreMin">
    <input type="hidden" name="BicCriteria.Ks4ProgressScoreMax" value="@Model.BicCriteria.Ks4ProgressScoreMax">
    <input type="hidden" name="BicCriteria.RRPerIncomeMin" value="@Model.BicCriteria.RRPerIncomeMin">
    @if (Model.BicCriteria.LondonWeighting != null)
    {
        for (int i = 0; i < Model.BicCriteria.LondonWeighting.Length; i++)
        {
            @Html.HiddenFor(model => Model.BicCriteria.LondonWeighting[i])
        }
    }

</form>


@section ViewScripts{

    <script>
        GOVUK.Modal.Load();
    </script>
}

@helper FormErrorSummary()
{
    var msDictionary = ViewBag.ModelState as ModelStateDictionary;

    if (msDictionary != null && !msDictionary.IsValid)
    {
        <div class="govuk-error-summary" role="alert" aria-labelledby="ErrorSummaryHeading">
            <h2 id="ErrorSummaryHeading" class="govuk-error-summary__title">
                There is a problem
            </h2>
            <div class="govuk-error-summary__body">
                <ul class="govuk-list govuk-error-summary__list">
                    @foreach (KeyValuePair<string, ModelState> ms in msDictionary)
                    {
                        if (ms.Value.Errors.Count > 0)
                        {
                            <li>
                                <a href="#@ms.Key">@ms.Value.Errors.First().ErrorMessage</a>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
    }
}

@helper FormGroupErrorClass(string inputId)
{
    var msDictionary = ViewBag.ModelState as ModelStateDictionary;
    var ms = msDictionary[inputId];
    if (ms?.Errors.Count > 0)
    {
        @("govuk-form-group--error")
    }
}


@helper FormControlErrorClass(string inputId)
{
    var msDictionary = ViewBag.ModelState as ModelStateDictionary;
    var ms = msDictionary[inputId];
    if (ms?.Errors.Count > 0)
    {
        @("govuk-input--error")
    }
}

@helper InputErrorMessage(string inputId)
{
    var msDictionary = ViewBag.ModelState as ModelStateDictionary;
    var ms = msDictionary[inputId];
    if (ms?.Errors.Count > 0)
    {
        <span class="govuk-error-message">
            <span class="govuk-visually-hidden">Error: </span>
            @ms.Errors.First().ErrorMessage
        </span>
    }
}