@using SFB.Web.ApplicationCore.Helpers.Constants

@model SFB.Web.UI.Models.BestInClassCharacteristicsViewModel
@{
    ViewBag.Title = "Schools Financial Benchmarking";
    ViewBag.pageClass = "bic-characteristics";
}

@section BackButtonContent{
    @{
        ViewBag.HomeSchoolId = Model.BenchmarkSchool.Id.ToString();
        ViewBag.HomeSchoolName = Model.BenchmarkSchool.Name;
    }
    @Html.Partial("Partials/BreadCrumbs/BackToSelectCompareTypeLink")
}

<h1 class="heading-xlarge page-heading">
    Edit characteristics
</h1>

@if (!string.IsNullOrEmpty(Model.BenchmarkSchool.Name))
{
    <div class="grid-row">
        <div class="column-full">
            <span class="font-small">Comparing to</span>
            <div class="highlight">
                <span class="bold-small">@Model.BenchmarkSchool.Name</span>
            </div>
        </div>
    </div>
}

<p class="mt-2">This comparison generates a group of statistically similar schools using the following characteristics and progress data.</p>

<div class="panel panel-border-wide" style="margin-bottom:40px">
    <p class="bold-small">Included as standard:</p>
    <ul class="list list-bullet">
        <li><span class="bold-small">Establishment type: </span>@Model.BicCriteria.EstablishmentType</li>
        <li><span class="bold-small">School phase: </span>@Model.BicCriteria.OverallPhase</li>
        <li><span class="bold-small">London Weighting: </span>@string.Join(",", Model.BicCriteria.LondonWeighting)</li>
    </ul>
</div>

<form action="/BenchmarkCharts/GenerateFromBicCriteria" method="post" id="criteriaForm">
    @Html.AntiForgeryToken()
    <div>
        <div class="form-group">
            <div class="column-full no-padding">
                <div class="bold-small">Number of pupils</div>
                <div class="benchmark-school-value">
                    <span>Enter your preferred range in the boxes below. The value for @Model.BenchmarkSchool.Name is </span>
                    <span class="bold-small">@Model.BenchmarkSchool.LatestYearFinancialData.PupilCount pupils</span>
                </div>
            </div>
            <div class="column-half no-padding">
                <div class="form-group no-padding">
                    <div class="column-half no-padding">
                        <label class="form-label" for="NoPupilsMin">From</label>
                        <input type="number" name="BicCriteria.NoPupilsMin" id="NoPupilsMin" class="form-control criteria-input" required="" step=".01" min="0" max="100000" value="@Model.BicCriteria.NoPupilsMin.ToString("F2")">
                    </div>
                    <div class="column-half no-padding">
                        <label class="form-label" for="NoPupilsMax">To</label>
                        <input type="number" name="BicCriteria.NoPupilsMax" id="NoPupilsMax" class="form-control criteria-input" required="" step=".01" min="0" max="100000" value="@Model.BicCriteria.NoPupilsMax.ToString("F2")">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <div class="form-group">
            <div class="column-full no-padding">
                <div class="bold-small">Eligibility for free school meals (% of pupils)</div>
                <div class="benchmark-school-value">
                    <span>Enter your preferred range in the boxes below. The value for @Model.BenchmarkSchool.Name is </span>
                    <span class="bold-small">@(Model.BenchmarkSchool.LatestYearFinancialData.PercentageOfEligibleFreeSchoolMeals.GetValueOrDefault().ToString("F2"))%</span>
                </div>
            </div>
            <div class="column-half no-padding">
                <div class="form-group no-padding">
                    <div class="column-half no-padding">
                        <label class="form-label" for="MinPerFSM">From</label>
                        <input type="number" name="BicCriteria.PercentageFSMMin" id="MinPerFSM" class="form-control criteria-input" required="" step=".01" min="0" max="100" value="@Model.BicCriteria.PercentageFSMMin.ToString("F2")">
                    </div>
                    <div class="column-half no-padding">
                        <label class="form-label" for="MaxPerFSM">To</label>
                        <input type="number" name="BicCriteria.PercentageFSMMax" id="MaxPerFSM" class="form-control criteria-input" required="" step=".01" min="0" max="100" value="@Model.BicCriteria.PercentageFSMMax.ToString("F2")">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <div class="form-group">
            <div class="column-full no-padding">
                <div class="bold-small">Pupils with <abbr title="Special Education Needs" aria-label="">SEN</abbr> who have statements or <abbr title="Education, health and care" aria-label="">EHC</abbr> plans (% of pupils)</div>
            </div>
            <div class="column-full no-padding">
                <div class="form-group no-padding">
                    <div class="multiple-choice">
                        <input id="sen" name="BicCriteria.SENEnabled" type="checkbox" value="true" onchange="javascript: $('#sen_range').toggle();"
                               @Html.Raw(Model.BicCriteria.SENEnabled ? "checked" : "none")>
                        <label for="sen">Include schools with a similar <abbr title="Education, health and care" aria-label="">EHC</abbr> plan value</label>
                    </div>
                </div>
            </div>
            <div class="panel panel-border-wide" id="sen_range" style="display: @Html.Raw(Model.BicCriteria.SENEnabled ? "block" : "none")">
                <div class="benchmark-school-value">
                    <span>Enter your preferred range in the boxes below. The value for @Model.BenchmarkSchool.Name is </span>
                    <span class="bold-small">@(Model.BenchmarkSchool.LatestYearFinancialData.PercentageOfPupilsWithSen.GetValueOrDefault().ToString("F2"))%</span>
                </div>
                <div class="form-group no-padding">
                    <div class="column-half no-padding">
                        <label class="form-label" for="MinPerSEN">From</label>
                        <input type="number" name="BicCriteria.PercentageSENMin" id="MinPerSEN" class="form-control criteria-input" required="" step=".01" min="0" max="100" value="@Model.BicCriteria.PercentageSENMin.ToString("F2")">
                    </div>
                    <div class="column-half no-padding">
                        <label class="form-label" for="MaxPerSEN">To</label>
                        <input type="number" name="BicCriteria.PercentageSENMax" id="MaxPerSEN" class="form-control criteria-input" required="" step=".01" min="0" max="100" value="@Model.BicCriteria.PercentageSENMax.ToString("F2")">
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div>
        <div class="form-group">
            <div class="column-full no-padding">
                <div class="bold-small">
                    Total expenditure in £ per pupil
                </div>
                <div class="benchmark-school-value">
                    <span>Enter your preferred range in the boxes below. The value for @Model.BenchmarkSchool.Name is </span>
                    <span class="bold-small">@(Model.BenchmarkSchool.LatestYearFinancialData.PerPupilTotalExpenditure.GetValueOrDefault().ToString("C"))</span>
                </div>
            </div>
            <div class="column-half no-padding">
                <div class="form-group no-padding">
                    <div class="column-half no-padding">
                        <label class="form-label" for="MinPerSEN">From</label>
                        <input type="number" name="BicCriteria.PerPupilExpMin" id="PerPupilExpMin" class="form-control criteria-input" required="" step=".01" min="0" value="@Model.BicCriteria.PerPupilExpMin.ToString("F2")">
                    </div>
                    <div class="column-half no-padding">
                        <label class="form-label" for="MaxPerSEN">To</label>
                        <input type="number" name="BicCriteria.PerPupilExpMax" id="PerPupilExpMax" class="form-control criteria-input" required="" step=".01" min="0" value="@Model.BicCriteria.PerPupilExpMax.ToString("F2")">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <div class="form-group">
            <div class="column-full no-padding">
                <div class="bold-small">Urban/Rural schools</div>
                <div class="benchmark-school-value">
                    <span>The value for @Model.BenchmarkSchool.Name is </span>
                    <span class="bold-small">@(Model.BicCriteria.UrbanRural)</span>
                </div>
            </div>
            <div class="column-full no-padding">
                <div class="multiple-choice">
                    <input id="ur" name="BicCriteria.UREnabled" type="checkbox" value="true"
                           @Html.Raw(Model.BicCriteria.UREnabled ? "checked" : "") />
                    <label for="ur">Include schools with this value</label>
                </div>
            </div>
        </div>
    </div>

    <div class="grid-row mt-2">
        <div class="column-half">
            <div class="column-two-thirds next-button">
                <button type="submit" class="button">Update comparison</button>
            </div>
            <div class="column-one-third back-button">
                <a href="~/BenchmarkCriteria/ComparisonStrategy?urn=@Model.BenchmarkSchool.Id">Cancel</a>
            </div>
        </div>
    </div>

    <input type="hidden" name="Urn" value="@Model.BenchmarkSchool.Id">
    <input type="hidden" name="BicCriteria.EstablishmentType" value="@Model.BicCriteria.EstablishmentType">
    <input type="hidden" name="BicCriteria.OverallPhase" value="@Model.BicCriteria.OverallPhase">
    <input type="hidden" name="BicCriteria.UrbanRural" value="@Model.BicCriteria.UrbanRural">
    <input type="hidden" name="BicCriteria.Ks2ProgressScoreMin" value="@Model.BicCriteria.Ks2ProgressScoreMin">
    <input type="hidden" name="BicCriteria.Ks2ProgressScoreMax" value="@Model.BicCriteria.Ks2ProgressScoreMax">
    <input type="hidden" name="BicCriteria.Ks4ProgressScoreMin" value="@Model.BicCriteria.Ks4ProgressScoreMin">
    <input type="hidden" name="BicCriteria.Ks4ProgressScoreMax" value="@Model.BicCriteria.Ks4ProgressScoreMax">
    <input type="hidden" name="BicCriteria.RRPerIncomeMin" value="@Model.BicCriteria.RRPerIncomeMin">
    @if (Model.BicCriteria.LondonWeighting != null)
    {
        for (int i = 0; i < Model.BicCriteria.LondonWeighting.Length; i++)
        {
            @Html.HiddenFor(model => Model.BicCriteria.LondonWeighting[i])
        }
    }

</form>


@section ViewScripts{

    <script>
        GOVUK.Modal.Load();
    </script>
}
