@using SFB.Web.ApplicationCore.Helpers.Enums
@using SFB.Web.UI.Helpers

@model SFB.Web.UI.Models.SchoolViewModel
@{
    ViewBag.ErrorPrefix = Model.HasError() ? "Error: " : "";
    ViewBag.Title = "Where should comparison schools come from?";
    ViewBag.pageClass = "comparison-step-two";
    ViewBag.HasMigratedJs = true;
}

@section BackButtonContent{
    @{
        if (Model is SFB.Web.UI.Models.SchoolViewModelWithNoDefaultSchool)
        {
            <a class="govuk-back-link hide-in-print" href="StepOne?comparisonType=Advanced">Back</a>
        }
        else
        {
            <a class="govuk-back-link hide-in-print" href="SelectSchoolType?urn=@ViewBag.URN&comparisonType=@ViewBag.ComparisonType">Back</a>
        }
    }
}

@if (Model.HasError())
{
    <div class="govuk-error-summary" role="alert" aria-labelledby="ErrorSummaryHeading">
        <h2 id="ErrorSummaryHeading" class="govuk-error-summary__title">
            There is a problem
        </h2>
        <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
                <li>
                    <a class="govuk-link" href="#legend">@Model.ErrorMessage</a>
                </li>
            </ul>
        </div>
    </div>
}

<div class="steps">
    <span class="govuk-caption-xl">Detailed comparison 2 of 3</span>
</div>


<h1 class="govuk-heading-xl page-heading">Where should comparison schools come from?</h1>


@if (!(Model is SFB.Web.UI.Models.SchoolViewModelWithNoDefaultSchool))
{
    <div class="govuk-grid-row">
        <div class=" govuk-grid-column-full">
            <span class="govuk-body-s govuk-!-font-size-16">Comparing to</span>
            <div class="highlight">
                <a href="/school?urn=@Model.ComparisonList.HomeSchoolUrn"><span class="govuk-!-font-size-16 govuk-!-font-weight-bold">@Model.ComparisonList.HomeSchoolName</span></a>
            </div>
        </div>
    </div>
}

<section class="section" id="options">
    <div id="SearchTypesAccordion" class="search-types" aria-live="polite">
        <form action="/BenchmarkCriteria/AdvancedCharacteristics" method="get" autocomplete="off">
            <div class="govuk-form-group @Html.Raw(Model.HasError() && Model.ErrorMessage == "Select area type" ? "govuk-form-group--error" : "")">
                <fieldset class="govuk-fieldset">

                    <legend id="legend" class="govuk-visually-hidden">
                        <span>Where should comparison schools come from?</span>
                    </legend>

                    @if (Model.ErrorMessage == "Select area type")
                    {
                        <span class="govuk-error-message"><span class="govuk-visually-hidden">Error: </span>@Model.ErrorMessage</span>
                    }
                    
                <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                    <div id="AllAccordionContainer" class="govuk-radios__item">
                        <input class="govuk-radios__input" id="All" type="radio" name="areaType" 
                               value="All" @Html.Raw(ViewBag.AreaType == ComparisonArea.All ? "checked" : "") />
                        <label class="govuk-label govuk-radios__label" id="AllAccordion" for="All">All of England</label>
                    </div>

                    <div id="LaAccordionContainer" class="govuk-radios__item">
                        <input class="govuk-radios__input" id="LaCodeRadio" type="radio" name="areaType" 
                               value="LACodeName" @Html.Raw(ViewBag.AreaType == ComparisonArea.LaCodeName ? "checked" : "") 
                               data-aria-controls="SearchByLaCodeFieldset"/>
                        <label class="govuk-label govuk-radios__label" id="LaCodeAccordion" for="LaCodeRadio">
                            Local authority
                        </label>
                    </div>
                    <div id="SearchByLaCodeFieldset" class="govuk-radios__conditional govuk-radios__conditional--hidden">
                        <div class="govuk-form-group @Html.Raw(Model.HasError() && Model.ErrorMessage != "Select area type" ? "govuk-form-group--error" : "")">
                            <label for="FindSchoolByLaCode" class="govuk-label">
                                Enter a local authority name or a three-digit LA code
                            </label>
                            @if (ViewBag.AreaType == ComparisonArea.LaCodeName)
                            {
                                <span class="govuk-error-message"><span class="govuk-visually-hidden">Error: </span>@Model.ErrorMessage</span>
                            }
                            <input id="FindSchoolByLaCode"
                                   class="govuk-input  @Html.Raw(Model.HasError() && Model.ErrorMessage != "Select area type" ? "govuk-input--error" : "")"
                                   name="lacodename"
                                   type="text" />
                            <input type="hidden" id="SelectedLocalAuthorityId" name="SelectedLocalAuthorityId" />
                        </div>
                    </div>
                </div>
                </fieldset>

            </div>
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-half">
                    <div class="govuk-grid-column-one-third next-button">
                        <button type="submit" class="govuk-button" data-module="govuk-button">Continue</button>
                    </div>
                </div>
            </div>

            <input type="hidden" id="Urn" name="Urn" value="@ViewBag.URN">
            <input type="hidden" id="ComparisonType" name="ComparisonType" value="@ViewBag.ComparisonType">
            <input type="hidden" id="EstType" name="EstType" value="@ViewBag.EstType">
            <input type="hidden" id="ExcludePartial" name="ExcludePartial" value="@ViewBag.ExcludePartial">
        </form>
    </div>
</section>

@section ViewScripts {
    <script>var localAuthorities = @Html.Raw(ViewBag.Authorities);</script>
    <script src="@Html.Raw(Html.GetWebpackScriptUrl("chooseRegion.*.js"))"></script>
}