@using SFB.Web.UI.Helpers.Constants;
@using SFB.Web.ApplicationCore.Helpers.Constants;
@using SFB.Web.UI.Helpers.Enums

@model SFB.Web.UI.Models.SchoolViewModel

@{
    ViewBag.ErrorPrefix = Model.HasError() ? "Error: " : "";
    ViewBag.Title = "Which benchmark comparison would you like to do?";
    ViewBag.pageClass = "comparison-strategy";
}

@section BackButtonContent{
    <a class="govuk-back-link hide-in-print" href="/school/start-benchmarking?urn=@Model.Id">Back</a>
}

@if (Model.HasError())
{
    <div class="error-summary" role="alert" aria-labelledby="ErrorSummaryHeading">
        <h1 id="ErrorSummaryHeading" class="heading-medium error-summary-heading">
            There is a problem
        </h1>
        <ul class="error-summary-list">
            <li><a href="#csLegend">@Model.ErrorMessage</a></li>
        </ul>
    </div>
}

<h1 class="heading-xlarge page-heading">Which benchmark comparison would you like to do?</h1>

@if (!string.IsNullOrEmpty(Model.ComparisonList.HomeSchoolName))
{
    <div class="grid-row">
        <div class="column-full">
            <span class="font-xsmall">Comparing to</span>
            <div class="highlight">
                <a href="/school/detail?urn=@Model.ComparisonList.HomeSchoolUrn"><span class="bold-xsmall">@Model.ComparisonList.HomeSchoolName</span></a>
            </div>
        </div>
    </div>
}

<section class="section" aria-label="Select comparison type">
    <form action="/BenchmarkCriteria/StepOne">
        <div class="form-group @Html.Raw(Model.HasError() ? "form-group-error" : "")">
            <fieldset>
                <legend id="csLegend">
                    <span class="visually-hidden">Select comparison type</span>
                    <span class="error-message">
                        @Model.ErrorMessage
                    </span>
                </legend>

                @if (Model.OverallPhase == "Special")
                {
                    <div class="multiple-choice">
                        <input id="radio-5" type="radio" name="comparisonType" value="@ComparisonType.Specials">
                        <label class="selection-button-radio" for="radio-5">
                            Quick comparison for special schools
                        </label>
                        <span class="help-icon tb inline-block hide-in-print">
                            <span class="icon dark-blue">
                                <a href="#" class="js-modal" role="button" data-modal-title="Quick comparison" data-modal-text="@HelpTooltipText.SpecialsComparisonExplanation" data-modal-close-text="Close" data-modal-close-title="Close" data-help-text-key="" id="label_modal_1">
                                    <span class="visuallyhidden">Open more info text for Quick comparison for special schools - opens a popup</span>
                                </a>
                            </span>
                        </span>
                    </div>
                }
                else
                {
                    <div class="multiple-choice">
                        <input id="radio-1" type="radio" name="comparisonType" value="@ComparisonType.Basic">
                        <label class="selection-button-radio" for="radio-1">
                            Quick comparison using pre-selected characteristics (number of pupils, school phase, urban/rural)
                        </label>
                        <span class="help-icon tb inline-block hide-in-print">
                            <span class="icon dark-blue">
                                <a href="#" class="js-modal" role="button" data-modal-title="Quick comparison" data-modal-text="@HelpTooltipText.QuickComparisonExplanation" data-modal-close-text="Close" data-modal-close-title="Close" data-help-text-key="" id="label_modal_2">
                                    <span class="visuallyhidden">Open more info text for quick comparison - opens a popup</span>
                                </a>
                            </span>
                        </span>
                    </div>
                }

                <div class="multiple-choice">
                    <input id="radio-2" type="radio" name="comparisonType" value="@ComparisonType.Advanced">
                    <label class="selection-button-radio" for="radio-2">
                        Detailed comparison using characteristics you choose
                    </label>
                                            <span class="help-icon tb inline-block hide-in-print">
                            <span class="icon dark-blue">
                                <a href="#" class="js-modal" role="button" data-modal-title="Detailed comparison" data-modal-text="@HelpTooltipText.DetailedComparisonExplanation" data-modal-close-text="Close" data-modal-close-title="Close" data-help-text-key="" id="label_modal_2">
                                    <span class="visuallyhidden">Open more info text for detailed comparison - opens a popup</span>
                                </a>
                            </span>
                        </span>
                </div>

                <div class="multiple-choice">
                    <input id="radio-4" type="radio" name="comparisonType" value="@ComparisonType.Manual">
                    <label class="selection-button-radio" for="radio-4">
                        Manual comparison by name or location
                    </label>
                    <span class="help-icon tb inline-block hide-in-print">
                        <span class="icon dark-blue">
                            <a href="#" class="js-modal" role="button" data-modal-title="Manual comparison" data-modal-text="@HelpTooltipText.ManualComparisonExplanation" data-modal-close-text="Close" data-modal-close-title="Close" data-help-text-key="" id="label_modal_2">
                                <span class="visuallyhidden">Open more info text for manual comparison - opens a popup</span>
                            </a>
                        </span>
                    </span>
                </div>

                @*@if (CriteriaSearchConfig.BIC_ALLOWED_PHASES.Contains(Model.Phase) && Model.ProgressScore != null)
                {
                    <p style="clear:left; padding: 0.8em 0 0 0">or</p>
                    <div class="multiple-choice">
                        <input id="radio-3" type="radio" name="comparisonType" value="@ComparisonType.BestInClass">
                        <label class="selection-button-radio" for="radio-3">
                            Schools with the highest progress but similar characteristics (number of pupils, expenditure, <abbr title="Free school meals" aria-label="Free school meals">FSM</abbr>)
                        </label>
                        <span class="help-icon tb inline-block hide-in-print">
                            <span class="icon dark-blue">
                                <a href="#" class="js-modal" role="button" data-modal-title="High progress school comparison" data-modal-text="@HelpTooltipText.BicComparisonHelp" data-modal-close-text="Close" data-modal-close-title="Close" data-help-text-key="" id="label_modal_3">
                                    <span class="visuallyhidden">Open more info text for High progress school comparison - opens a popup</span>
                                </a>
                            </span>
                        </span>
                    </div>
                }*@
            </fieldset>
        </div>
        <div class="grid-row">
            <div class="column-half">
                <div class="column-one-third next-button">
                    <button type="submit" class="govuk-button" data-module="govuk-button">Continue</button>
                </div>
            </div>
        </div>
        <input type="hidden" name="Urn" value="@ViewBag.URN">
    </form>
</section>

@section ViewScripts {
    <script>
        GOVUK.Modal.Load();
    </script>
}