@model SFB.Web.UI.Models.BenchmarkCriteriaVM

@{
    ViewBag.Title = "Replace current basket";
    ViewBag.pageClass = "overwrite-strategy";
}

@section BackButtonContent{
    @{
        if (ViewBag.HomeSchoolId != null)
        {
            ViewBag.HomeSchoolId = ViewBag.URN;
            Html.RenderPartial("Partials/BreadCrumbs/BackToSelectCompareTypeLink");
        }
        else
        {
            Html.RenderPartial("Partials/BackToHomeLink");
        }
    }
}

<h1 class="heading-xlarge page-heading">Replace current basket</h1>

<p>
    You already have <span class="bold">@Model.ComparisonListCount</span> schools in your benchmarking basket. By proceeding you will replace your current basket. If you wish to add to your basket go back and reduce your basket size.
</p>

<form action="/BenchmarkCharts/GenerateFromAdvancedCriteria" method="post">
    @Html.AntiForgeryToken()

    <input type="hidden" name="overwriteStrategy" value="overwrite">

    <div class="grid-row">
        <div class="column-half">
            <div class="column-two-thirds next-button">
                <button type="submit" class="button">Replace current basket</button>
            </div>
            <div class="column-one-third back-button">
                <input type="submit" class="link-button" formaction="/BenchmarkCriteria/AdvancedCharacteristics" value="Back">
            </div>
        </div>
    </div>

    <div id="criteria">

        @Html.Partial("Partials/AdvancedCriteriaHiddenFields", Model.AdvancedCriteria)

        <input type="hidden" name="Urn" value="@ViewBag.URN">
        <input type="hidden" name="ComparisonType" value="@ViewBag.ComparisonType">
        <input type="hidden" name="EstType" value="@ViewBag.EstType">
        <input type="hidden" name="AreaType" value="@ViewBag.AreaType">
        <input type="hidden" name="LaCode" value="@ViewBag.LaCode">
        <input type="hidden" name="ExcludePartial" value="@ViewBag.ExcludePartial">

    </div>
</form>
