@using SFB.Web.UI.Helpers.Enums
@using SFB.Web.UI.Models
@model SFB.Web.UI.Models.EstablishmentViewModelBase
@{
    ViewBag.ErrorPrefix = Model.HasError() ? "Error: " : "";
    ViewBag.Title = "Which school type do you wish to compare with?";
    ViewBag.pageClass = "comparison-step-one";
}

@section BackButtonContent{
    @{
        if (Model is SchoolViewModelWithNoDefaultSchool)
        {
            <a class="govuk-back-link hide-in-print" href="/">Back</a>
        }
        else if (Model is FederationViewModel)
        {
            <a class="govuk-back-link hide-in-print" href="/federation/start-benchmarking?fuid=@Model.Id">Back</a>
        }
        else
        {
            <a class="govuk-back-link hide-in-print" href="../../BenchmarkCriteria/ComparisonStrategy?urn=@Model.Id">Back</a>
        }
    }
}

@if (Model.HasError())
{
    <div class="govuk-error-summary" role="alert" aria-labelledby="ErrorSummaryHeading">
        <h2 id="ErrorSummaryHeading" class="govuk-error-summary__title">
            There is a problem
        </h2>
        <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
                <li>
                    <a href="#sstLegend">@Model.ErrorMessage</a>
                </li>
            </ul>
        </div>
    </div>
}

<div class="steps">
    @if (ViewBag.ComparisonType == ComparisonType.Advanced)
    {
        <span class="govuk-caption-xl">Detailed comparison 1 of 3</span>
    }
    else
    {
        <span class="govuk-caption-xl">Quick comparison 1 of 2</span>
    }
</div>

<h1 class="govuk-heading-xl page-heading">Which school type do you wish to compare with?</h1>

@if (!(Model is SFB.Web.UI.Models.SchoolViewModelWithNoDefaultSchool))
{
    <div class="grid-row">
        <div class="column-full">
            <span class="govuk-!-font-size-16">Comparing to</span>
            <div class="highlight">
                <a href="/school/detail?urn=@Model.Id"><span class="govuk-!-font-size-16 govuk-!-font-weight-bold">@Model.Name</span></a>
            </div>
        </div>
    </div>
}

<section class="section">
    <div id="SchoolTypesAccordion" class="search-types" aria-live="polite">
        @if (ViewBag.ComparisonType == ComparisonType.Advanced)
        {
            Html.BeginForm("ChooseRegion", "BenchmarkCriteria", FormMethod.Get);
        }
        else
        {
            Html.BeginForm("SimpleCharacteristics", "BenchmarkCriteria", FormMethod.Get);
        }
        <div class="govuk-form-group @Html.Raw(Model.HasError() ? "govuk-form-group--error" : "")">
            <fieldset class="govuk-fieldset">
                <legend id="sstLegend" class="govuk-visually-hidden">
                    <span>Which schools would you like to include?</span>
                </legend>
                <span class="govuk-error-message"><span class="govuk-visually-hidden">Error: </span>@Model.ErrorMessage</span>
                
                <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                    @if (ViewBag.ComparisonType == ComparisonType.Advanced)
                    {
                        <div id="MaintainedContainer" class="govuk-radios__item js-accordion">
                            <input class="govuk-radios__input" id="Maintained" type="radio" name="EstType" value="Maintained" data-aria-controls="MaintainedFieldset">
                            <label class="govuk-label govuk-radios__label" for="Maintained">Maintained schools</label>
                        </div>

                        <div id="MaintainedFieldset" class="govuk-radios__conditional govuk-radios__conditional--hidden">
                            <div class="govuk-form-group">
                                <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                                    <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="excludePartialMaintained" name="excludePartial" type="checkbox" value="true" checked disabled />
                                        <label class="govuk-label govuk-checkboxes__label" for="excludePartialMaintained">
                                            Exclude maintained schools that don't have a complete set of financial data
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="AcademiesContainer" class="govuk-radios__item js-accordion">
                            <input class="govuk-radios__input" id="Academies" type="radio" name="EstType" value="Academies" data-aria-controls="AcademiesFieldset">
                            <label class="govuk-label govuk-radios__label" for="Academies">Academies</label>
                        </div>

                        <div id="AcademiesFieldset" class="govuk-radios__conditional govuk-radios__conditional--hidden">
                            <div class="govuk-form-group">
                                <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                                    <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="excludePartialAcademies" name="excludePartial" type="checkbox" value="true" checked disabled />
                                        <label class="govuk-label govuk-checkboxes__label" for="excludePartialAcademies">
                                            Exclude academies that don't have a complete set of financial data
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="AllContainer" class="govuk-radios__item js-accordion">
                            <input class="govuk-radios__input"  id="All" type="radio" name="EstType" value="All" data-aria-controls="AllFieldset">
                            <label class="govuk-label govuk-radios__label" for="All">All schools</label>
                        </div>

                        <div id="AllFieldset" class="govuk-radios__conditional govuk-radios__conditional--hidden">
                            <div class="govuk-form-group">
                                <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                                    <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="excludePartialAll" name="excludePartial" type="checkbox" value="true" checked disabled />
                                        <label class="govuk-label govuk-checkboxes__label" for="excludePartialAll">
                                            Exclude schools that don't have a complete set of financial data
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        if (ViewBag.ComparisonType == ComparisonType.FederationBasic)
                        {
                            <div id="MaintainedContainer" class="govuk-radios__item">
                                <input class="govuk-radios__input" id="Maintained" type="radio" name="EstType" value="Maintained">
                                <label class="govuk-label govuk-radios__label" for="Maintained">Maintained schools and federations</label>
                            </div>
                        }
                        else
                        {
                            <div id="MaintainedContainer" class="govuk-radios__item">
                                <input class="govuk-radios__input" id="Maintained" type="radio" name="EstType" value="Maintained">
                                <label class="govuk-label govuk-radios__label" for="Maintained">Maintained schools</label>
                            </div>
                        }

                        <div id="AcademiesContainer" class="govuk-radios__item">
                            <input class="govuk-radios__input" id="Academies" type="radio" name="EstType" value="Academies">
                            <label class="govuk-label govuk-radios__label" for="Academies">Academies</label>
                        </div>

                        <div id="AllContainer" class="govuk-radios__item">
                            <input class="govuk-radios__input" id="All" type="radio" name="EstType" value="All">
                            <label class="govuk-label govuk-radios__label" for="All">All schools</label>
                        </div>
                    }
                </div>

            </fieldset>
        </div>
        <div class="grid-row">
            <div class="column-half">
                <div class="column-one-third next-button">
                    <button type="submit" class="govuk-button" data-module="govuk-button">Continue</button>
                </div>
            </div>
        </div>

        <input type="hidden" name="Urn" value="@ViewBag.URN">
        <input type="hidden" name="Fuid" value="@ViewBag.fuid">
        <input type="hidden" name="ComparisonType" value="@ViewBag.ComparisonType">
        </form>
    </div>
</section>

@section ViewScripts {

    @if (ViewBag.ComparisonType == ComparisonType.Advanced)
    {
        <script>
            $().ready(function () {
                var inputs = $("#SchoolTypesAccordion .js-accordion");
                inputs.click(function (event) {
                    $("input:checkbox[name='excludePartial']").prop('disabled', true);
                    $(event.currentTarget).next().find("input:checkbox[name='excludePartial']").prop('disabled', false);
                });
            });
        </script>
    }


}