@model SFB.Web.UI.Models.SimpleCharacteristicsViewModel
@{
    ViewBag.Title = "Schools Financial Benchmarking";
    ViewBag.pageClass = "simple-characteristics";
}

@section BackButtonContent{
    @{
        ViewBag.HomeSchoolId = Model.BenchmarkSchool.Id.ToString();
        ViewBag.HomeSchoolName = Model.BenchmarkSchool.Name;
    }
    @Html.Partial("Partials/BreadCrumbs/BackToSelectCompareTypeLink")
}

<h1 class="heading-xlarge page-heading">Quick comparison</h1>

@if (!string.IsNullOrEmpty(Model.BenchmarkSchool.Name))
{
    <div class="grid-row">
        <div class="column-full">
            <span class="font-xsmall">Comparing to</span>
            <div class="highlight">
                <span class="bold-small">@Model.BenchmarkSchool.Name</span>
            </div>
        </div>
    </div>
}

<div class="steps">
    <span>Step 3 of 3</span>
</div>

<section class="section">
    <p class="bold-small">Choose characteristics</p>
    <p>This type of comparison generates a group of statistically similar schools using commonly chosen characteristics.</p>
    <div class="panel panel-border-wide" style="margin-bottom:40px">
        <p class="bold-small">Included as standard:</p>
        <ul class="list list-bullet">
            <li>number of pupils</li>
            <li>school phase</li>
            <li>urban/rural schools</li>
        </ul>
    </div>

    <p class="bold-small">To customise, choose from the characteristics below</p>
    <p>Suggested characteristics:</p>

    <form action="/BenchmarkCharts/GenerateFromSimpleCriteria" method="post" id="criteriaForm">
        <div class="form-group">
            <div class="multiple-choice">
                <input id="fsm" name="SimpleCriteria.IncludeFsm" type="checkbox" value="true"
                       @Html.Raw(Model.SimpleCriteria.IncludeFsm.HasValue && !Model.SimpleCriteria.IncludeFsm.Value ? "" : "checked")>
                <label for="fsm">Pupils eligible for free school meals</label>
            </div>
            <div class="multiple-choice">
                <input id="sen" name="SimpleCriteria.IncludeSen" type="checkbox" value="true"
                       @Html.Raw(Model.SimpleCriteria.IncludeSen.HasValue && !Model.SimpleCriteria.IncludeSen.Value ? "" : "checked")>
                <label for="sen">Pupils with special educational needs who have statements or education and health care plans</label>
            </div>
            <div class="multiple-choice">
                <input id="eal" name="SimpleCriteria.IncludeEal" type="checkbox" value="true"
                       @Html.Raw(Model.SimpleCriteria.IncludeEal.HasValue && !Model.SimpleCriteria.IncludeEal.Value ? "" : "checked")>
                <label for="eal">Pupils with English as an additional language</label>
            </div>
            <div class="location-char">
                <span>Location characteristic (will produce fewer results if selected):</span>
                <span class="help-icon hide-in-print">
                    <span class="icon dark-blue">
                        <a href="#" class="js-modal" data-modal-title="Within the local authority" data-modal-text="Choosing this characteristic will produce comparisons with schools that have fewer similarities with your default school." data-modal-close-text="Close" data-modal-close-title="Close" data-help-text-key="">
                            <span class="visuallyhidden">Open more info text for Location characteristic opens a popup</span>
                        </a>
                    </span>
                </span>
            </div>
            <div class="multiple-choice">
                <input id="la" name="SimpleCriteria.IncludeLa" type="checkbox" value="true"
                       @Html.Raw(Model.SimpleCriteria.IncludeLa.HasValue && Model.SimpleCriteria.IncludeLa.Value ? "checked" : "")>
                <label for="la">Within the local authority</label>
            </div>
        </div>

        <div class="grid-row">
            <div class="column-two-thirds">
                <div class="column-two-thirds next-button">
                    <button type="submit" class="button">Continue to benchmarking charts</button>
                </div>
                <div class="column-one-third back-button">
                    <a href="SelectSchoolType?urn=@ViewBag.URN&comparisontype=@ViewBag.ComparisonType&basketsize=@ViewBag.BasketSize">Back</a>
                </div>
            </div>
        </div>

        <input type="hidden" name="Urn" value="@ViewBag.URN">
        <input type="hidden" name="ComparisonType" value="@ViewBag.ComparisonType">
        <input type="hidden" name="BasketSize" value="@ViewBag.BasketSize">
        <input type="hidden" name="EstType" value="@ViewBag.EstType">

    </form>
</section>

@section ViewScripts{

    <script>
        GOVUK.Modal.Load();
    </script>
}