@using Microsoft.Ajax.Utilities
@using SFB.Web.UI.Helpers.Enums
@using SFB.Web.UI.Models
@model ChartViewModel


    <table class="govuk-table tablesorter data-table-js chart-table">
        <caption class="govuk-visually-hidden">@Model.Name</caption>
        <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th class="govuk-table__header school-column" scope="col">
                Year
            </th>
            <th scope="col" class="govuk-table__header">
                <span aria-label="@ViewHelpers.GetAmountHeaderAriaLabel(Model.HistoricalData.First().Unit)">@ViewHelpers.GetAmountLabel(Model.HistoricalData.First().Unit)</span>
            </th>
        </tr>
        </thead>
        <tbody class="govuk-table__body">
        @foreach (var schoolHistoricalData in Model.HistoricalData)
        {
            <tr class="govuk-table__row">
                <td class="govuk-table__cell school-column">@schoolHistoricalData.Year</td>
                <td class="govuk-table__cell">
                    @if (schoolHistoricalData.Amount.HasValue)
                    {
                        switch ((UnitType) Enum.Parse(typeof(UnitType), schoolHistoricalData.Unit))
                        {
                            case UnitType.PercentageOfTotalExpenditure:
                            case UnitType.PercentageOfTotalIncome:
                            case UnitType.FTERatioToTotalFTE:
                                @schoolHistoricalData.Amount.GetValueOrDefault().ToString("F1")<text>%</text>
                                break;
                            case UnitType.HeadcountPerFTE:
                            case UnitType.AbsoluteCount:
                            case UnitType.NoOfPupilsPerMeasure:
                                @schoolHistoricalData.Amount.GetValueOrDefault()
                                break;
                            default:
                                @schoolHistoricalData.Amount.GetValueOrDefault().ToString("C0")
                                break;
                        }
                    }
                    else
                    {
                        <text>No data</text>
                    }
                </td>
            </tr>
        }
        </tbody>
    </table>
