@using SFB.Web.Common
@using SFB.Web.Domain.Helpers
@using SFB.Web.UI.Helpers.Enums
@using SFB.Web.UI.Models
@model EstablishmentViewModelBase

<div id="historical-charts-accordion" class="accordion">
    @for (var index = 0; index < Model.HistoricalCharts.Count; index++)
    {
        var historicalChart = Model.HistoricalCharts[index];
        historicalChart.Id = index.ToString();
        ViewBag.FinancialYear = Model.EstablishmentType == EstablishmentType.Academies ? historicalChart.LastYear : historicalChart.LastYear.Replace('/', '-');

        <div class="chartContainer column-full no-padding" data-group="@historicalChart.ChartGroup">
            @if (historicalChart.ChartType == ChartType.Total)
            {

                if (historicalChart.DrillInto != null)
                {
                    <div class="chart-header">
                        <h2 class="heading-medium inline">@historicalChart.Name</h2>
                        @if (historicalChart.HelpTooltip != null)
                        {
                            <span class="help-icon help-chart hide-in-print">
                                <span class="icon dark-blue">
                                    <a href="#" class="js-modal" data-modal-title="@historicalChart.Name" data-modal-text="@historicalChart.HelpTooltip" data-modal-close-text="Close" data-modal-close-title="Close" data-help-text-key="">
                                        <span class="visuallyhidden">Open help text for @historicalChart.Name opens a popup</span>
                                    </a>
                                </span>
                            </span>
                        }
                        <a class="inline hide-in-print" href="javascript:void(0)" onclick="DfE.Views.HistoricalCharts.SelectGrouping('@historicalChart.DrillInto')">
                        @if (ViewBag.ChartFormat == ChartFormat.Charts)
                        {
                            <span class="view-more">View more charts</span>
                        }
                        else
                        {
                            <span class="view-more">View more tables</span>
                        }
                            <span class="visuallyhidden"> for @historicalChart.Name</span>
                        </a>
                    </div>
                }
                else
                {
                    <div class="chart-header">
                        <h2 class="heading-medium inline">@historicalChart.Name</h2>
                        @if (historicalChart.HelpTooltip != null)
                        {
                        <span class="help-icon help-chart hide-in-print">
                            <span class="icon dark-blue">
                                <a href="#" class="js-modal" data-modal-title="@historicalChart.Name" data-modal-text="@historicalChart.HelpTooltip" data-modal-close-text="Close" data-modal-close-title="Close" data-help-text-key="">
                                    <span class="visuallyhidden">Open help text for @historicalChart.Name opens a popup</span>
                                </a>
                            </span>
                        </span>
                        }
                    </div>
                }

                @Html.Partial("Partials/HistoricalChart", historicalChart)
            }
            else
            {
                <div class="accordion-section">
                    <fieldset role="group">
                        <legend class="hidden">@historicalChart.Name</legend>
                        <div class="accordion-section-header">
                            <h2 class="heading-medium chart-accordion-header" aria-label="@historicalChart.Name Show section">@historicalChart.Name</h2>
                            @if (historicalChart.HelpTooltip != null)
                            {
                                <span class="help-icon help-chart hide-in-print">
                                    <span class="icon dark-blue">
                                        <a href="#" class="js-modal" data-modal-title="@historicalChart.Name" data-modal-text="@historicalChart.HelpTooltip" data-modal-close-text="Close" data-modal-close-title="Close" data-help-text-key="">
                                            <span class="visuallyhidden">Open help text for @historicalChart.Name opens a popup</span>
                                        </a>
                                    </span>
                                </span>
                            }
                        </div>

                        <div class="accordion-section-body">
                            @Html.Partial("Partials/HistoricalChart", historicalChart)
                            @if (historicalChart.SubCharts != null)
                            {
                                for (var i = 0; i < historicalChart.SubCharts.Count; i++)
                                {
                                    ChartViewModel subChart = historicalChart.SubCharts[i];
                                    subChart.Id = $"{index}_{i}";
                                    <h2 class="heading-medium">@subChart.Name</h2>
                                    @Html.Partial("Partials/HistoricalChart", subChart)
                                }
                            }
                        </div>
                    </fieldset>
                </div>
            }
        </div>
    }
</div>

<input type="hidden" id="expTotal" value="@Model.TotalRevenueExpenditure.FormatMoney()" />
<input type="hidden" id="expTotalAbbr" value="@Model.TotalRevenueExpenditure.ToString("C0")" />
<input type="hidden" id="incTotal" value="@Model.TotalRevenueIncome.FormatMoney()" />
<input type="hidden" id="incTotalAbbr" value="@Model.TotalRevenueIncome.ToString("C0")" />
<input type="hidden" id="balTotal" value="@Model.InYearBalance.FormatMoney()" />
<input type="hidden" id="balTotalAbbr" value="@Model.InYearBalance.ToString("C0")" />

@if (Request.IsAjaxRequest())
{
    <script src="/public/scripts/termi/element.details.ajax.js"></script>
}

@helper FormatFinancialYear(string year, EstablishmentType schoolType)
{ @( schoolType == EstablishmentType.Academies ? year : year.Replace('/', '-')) }