@using Microsoft.Ajax.Utilities
@using SFB.Web.UI.Helpers.Enums
@model List<SFB.Web.ApplicationCore.Models.HistoricalChartData>


    <table class="tablesorter data-table-js chart-table">
        <thead>
        <tr>
            <th class="school-column" scope="col">
                Year
            </th>
            <th scope="col">
                <span aria-label="@ViewHelpers.GetAmountHeaderAriaLabel(Model.First().Unit)">@ViewHelpers.GetAmountLabel(Model.First().Unit)</span>
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var schoolHistoricalData in Model)
        {
            <tr>
                <td class="school-column">@schoolHistoricalData.Year</td>
                <td>
                    @if (schoolHistoricalData.Amount.HasValue)
                    {
                        switch ((UnitType) Enum.Parse(typeof(UnitType), schoolHistoricalData.Unit))
                        {
                            case UnitType.PercentageOfTotalExpenditure:
                            case UnitType.PercentageOfTotalIncome:
                            case UnitType.FTERatioToTotalFTE:
                                @schoolHistoricalData.Amount.GetValueOrDefault().ToString("F1")<text>%</text>
                                break;
                            case UnitType.HeadcountPerFTE:
                            case UnitType.AbsoluteCount:
                            case UnitType.NoOfPupilsPerMeasure:
                                @schoolHistoricalData.Amount.GetValueOrDefault()
                                break;
                            default:
                                @schoolHistoricalData.Amount.GetValueOrDefault().ToString("C0")
                                break;
                        }
                    }
                    else
                    {
                        <text>No data</text>
                    }
                </td>
            </tr>
        }
        </tbody>
    </table>
