@using SFB.Web.ApplicationCore.Helpers.Enums;

@model SFB.Web.UI.Models.EstablishmentViewModelBase

@if (Model.EstablishmentType == EstablishmentType.Academies)
{
    <p class="govuk-body-s govuk-!-margin-top-1">Data for academies in a MAT includes an apportioned share of <span class="govuk-!-font-weight-bold">MAT central finance</span> on a pro-rata basis using FTE pupil numbers.</p>
}

<div id="TotalFiguresPanel" class="dashboard-panel">
    @Html.Partial("Partials/TotalFiguresPanel", Model)
</div>

<div ng-app="sfbApp">
    <div id="SadPanel" class="dashboard-panel govuk-!-margin-top-3">
        <div id="sadCtrl" ng-controller="SadPanelController as ctrl">
            @Html.Partial("Partials/SadPanel", Model)
        </div>
    </div>

    <div id="QCPanel" class="dashboard-panel govuk-!-margin-top-3">
        <div id="quickCtrl" ng-controller="QuickComparisonPanelController as ctrl">
            @Html.Partial("Partials/QuickComparisonPanel", Model)
        </div>
    </div>
</div>

<div class="govuk-!-margin-top-5">
    <h2 class="govuk-heading-l govuk-!-margin-bottom-2">Next Steps</h2>
    <div id="NextStepsPanel">
        @Html.Partial("Partials/NextStepsPanel", Model)
    </div>
</div>

<div class="govuk-!-margin-top-5">
    @Html.Partial("Partials/RelatedServices")
</div>