@using SFB.Web.ApplicationCore.Helpers.Enums
@using SFB.Web.UI.Helpers.Enums

@model SFB.Web.UI.Models.BenchmarkChartListViewModel

@{
    ViewBag.Title = "Basic comparison report";
    ViewBag.pageClass = "benchmarking-charts";
}

@section InsideHead{
    <link href="~/node_modules/c3/c3.css" rel="stylesheet" type="text/css">
    <link href="~/public/assets/print/bmc-print.css" media="print" rel="stylesheet" type="text/css">
    <script src="~/node_modules/angular/angular.min.js"></script>
    <script src="~/node_modules/jspdf/dist/jspdf.min.js"></script>
    <script src="~/node_modules/pptxgenjs/dist/pptxgen.bundle.js"></script>
    <script src="~/node_modules/clipboard/dist/clipboard.min.js"></script>
}

@section BMListBannerContent
{
    @if (Model.EstablishmentType != EstablishmentType.MAT)
    {
        @Html.Partial("Partials/BenchmarkListBanner")
    }
}

@section BackButtonContent{
    @Html.Partial("Partials/BackToHomeLink")
}


<div id="BackToBMCharts" class="grid-row hide-in-print" style="display: none">
    <div class="column-full">
        <span class="back-chevron" aria-hidden="true">&#9666;</span>
        <button class="link-button font-xsmall home-link" onclick="location.reload();">Back to benchmarking charts</button>
    </div>
</div>

@if (Model.HasIncompleteFinancialData)
{
    <div class="panel panel-border-wide orange-warning mt-1">
        <div class="shared-icon-wrapper">
            <i class="icon icon-important shared-icon">
                <span class="visually-hidden">Warning</span>
            </i>
        </div>
        <div class="combined-warnings">
            <p>
                Some schools don't have a complete set of financial data for this period
            </p>
        </div>
    </div>
}

<h1 id="BCHeader" class="heading-xlarge page-heading">Basic comparison report</h1>

@if (Model.SchoolComparisonList != null && Model.SchoolComparisonList.BenchmarkSchools.Count == 0)
{
    <div class="panel panel-border-wide orange-warning">
        <p>
            There are no schools in your benchmark set, so no charts can be displayed.
        </p>
    </div>
}
else
{
    if (Model.SchoolComparisonList != null && !string.IsNullOrEmpty(Model.SchoolComparisonList.HomeSchoolName))
    {
        if (Model.BmSchoolInList())
        {
            <div class="grid-row">
                <div class="column-full font-xsmall" id="comparing-text">
                    <span>Comparing</span>
                    <div class="highlight">
                        <a href="/school/detail?Urn=@Model.SchoolComparisonList.HomeSchoolUrn"> <span class="bold-xsmall">@Model.SchoolComparisonList.HomeSchoolName</span></a>
                    </div>
                    <span>&nbsp;using </span><span class="bold-xsmall">Quick report characteristics</span><span>.</span>
                </div>
            </div>
        }
    }

    <div class="grid-row">
        <div class="column-full">
            <details class="criteria-details">
                <summary class="hide-in-print">
                    <span class="summary font-xsmall">View characteristics used</span>
                </summary>
                <div class="panel panel-border-narrow criteria-detail">
                    @Html.Partial("Partials/UsedOneClickCriteria")
                </div>
            </details>
        </div>
    </div>

    <div class="grid-row download-links hide-in-print">
        <div id="downloadLinkContainer" class="download-link">
            <div class="download">
                <button id="DownloadLink" class="no-underline bold-xsmall link-button sfb_gtm_csv_bm" onclick="DfE.Views.BenchmarkChartsViewModel.downloadData('@Model.EstablishmentType')">
                    <img class="icon" src="~/public/assets/images/icons/download.svg" alt="" />
                    <div id="DownloadLinkTextWrapper" class="inline">
                        <span id="DownloadLinkText"> Download data<span class="visually-hidden"> (CSV)</span></span>
                    </div>
                </button>
            </div>
        </div>
        <div class="download-link pdf-ppt">
            <div class="pdf">
                <button id="PdfLink" class="no-underline bold-xsmall link-button" onclick="DfE.Views.BenchmarkChartsViewModel.renderDownloadModal(event)">
                    <img class="icon download-icon" src="~/public/assets/images/icons/download.svg" alt="" />
                    @*<img class="icon spin-icon" src="~/public/assets/images/spinner.gif" alt="" style="display: none" />*@
                    <span id="PdfLinkText"> Download page</span>
                </button>
            </div>
        </div>
        <div class="download-link">
            <div class="print">
                <button id="PrintLink" class="no-underline bold-xsmall link-button" onclick="DfE.Views.BenchmarkChartsViewModel.printPage()">
                    <img class="icon" src="~/public/assets/images/icons/print.svg" alt="" /><span id="PrintLinkText"> Print page</span>
                </button>
            </div>
        </div>
        <div class="download-link">
            <div class="save">
                <button id="SaveLink" class="no-underline bold-xsmall link-button" onclick="DfE.Views.BenchmarkChartsViewModel.saveBenchmarkBasketModal()">
                    <img class="icon download-icon" src="~/public/assets/images/icons/save.svg" alt="" />
                    <span id="SaveLinkText"> Save or share benchmark</span>
                </button>
                <span class="help-icon no-margin hide-in-print">
                    <span class="icon dark-blue">
                        <a href="#" class="js-modal" role="button" data-modal-title="Save or share benchmark" data-modal-text="<p>This feature allows you to save or share your benchmark charts of these schools as a web link.</p><p>There is no limit to the number of saves you can make but each web link is unique so must be stored securely in a document or as a bookmark in your browser.</p>" data-modal-close-text="Close" data-modal-close-title="Close" data-help-text-key="">
                            <span class="visuallyhidden">Open more info text for save or share benchmark - opens a popup</span>
                        </a>
                    </span>
                </span>
            </div>
        </div>
    </div>

    <div class="charts-section">
        <div class="grid-row">
            <div class="column-three-quarters font-xsmall latest-year-message">
                <span>The data below is from the latest year available. For maintained schools this is <span class="bold-xsmall">@Model.LatestTermMaintained</span>, academies from <span class="bold-xsmall">@Model.LatestTermAcademies</span></span>
            </div>
            <div class="column-quarter font-xsmall chartTable hide-in-print mt-1">
                <button style="display: @Html.Raw(ViewBag.ChartFormat == ChartFormat.Tables ? "block" : "none")" class="view-charts-tables charts a-button" onclick="DfE.Views.BenchmarkChartsViewModel.toggleChartsTables('Charts')"><img class="icon icon-chart" src="~/public/assets/images/icons/graph.svg" alt="" /><span> View as charts</span></button>
                <button style="display: @Html.Raw(ViewBag.ChartFormat == ChartFormat.Tables ? "none" : "block")" class="view-charts-tables tables a-button" onclick="DfE.Views.BenchmarkChartsViewModel.toggleChartsTables('Tables')"><img class="icon icon-table" src="~/public/assets/images/icons/table.svg" alt="" /><span> View as tables<span class="visually-hidden"> - Recommended option for screen readers</span></span></button>
            </div>
        </div>
        <hr />
        <div id="benchmarkChartsList" class="one-click-charts">
            @Html.Partial("~/Views/BenchmarkCharts/Partials/Chart.cshtml", Model.ModelList)
        </div>
    </div>

    <a href="#pagetop" class="page-top hide-in-print">Back to top</a>

    <input type="hidden" id="Type" name="Type" value="@Model.EstablishmentType" />
    <input type="hidden" id="ComparisonType" name="Type" value="@Model.ComparisonType" />
    <input type="hidden" id="HomeSchoolName" name="HomeSchoolName" value="@Html.Raw(Model.EstablishmentType == EstablishmentType.MAT ? Model.TrustComparisonList.DefaultTrustName : Model.SchoolComparisonList.HomeSchoolName)" />
    <input type="hidden" id="HomeSchoolURN" name="HomeSchoolURN" value="@Html.Raw(Model.EstablishmentType == EstablishmentType.MAT ? Model.TrustComparisonList.DefaultTrustCompanyNo.ToString() : Model.SchoolComparisonList.HomeSchoolUrn)" />

}

@section AfterMain{
    <div class="full-page-width-wrapper hide-in-print" role="region" aria-label="Feedback Question">
        <div class="improve-this-page" data-module="improve-this-page">
            <div class="improve-this-page__prompt js-prompt clearfix" tabindex="-1">
                <span class="improve-this-page__is-useful-question bold">Are you satisfied with your visit today?</span>
                <a rel="external noopener noreferrer" target="_blank" title="Feedback form will open in a new page" href="@System.Configuration.ConfigurationManager.AppSettings["BMSurveyUrl"]">Please rate this site</a>
            </div>
        </div>
    </div>
}

@section ViewScripts {

    <script src="~/node_modules/d3/d3.min.js"></script>
    <script src="~/node_modules/c3/c3.min.js"></script>
    <script src="~/node_modules/lodash/lodash.min.js"></script>
    <script src="~/public/scripts/jquery-tablesorter/jquery.tablesorter.min.js"></script>
    <script src="~/public/scripts/saveSvgAsPng-gh-pages/saveSvgAsPngCombined.min.js"></script>

    <script>
        DfE.Views.BenchmarkChartsViewModel = new BenchmarkChartsViewModel();
    </script>

}

<iframe id="download_iframe" style="display:none;" title="download"></iframe>