@model SFB.Web.UI.Models.SaveOverwriteViewModel

@{
    ViewBag.Title = "Replace benchmark set";
    ViewBag.pageClass = "overwrite-strategy";
}

<h1 class="heading-xlarge page-heading">Replace benchmark set</h1>

@if (Model.SavedUrns != null)
{
    <p>
        You already have <span class="bold">@Model.ComparisonListCount</span> schools in your current benchmark set. If you choose to view this saved benchmark set it will remove the schools in your current benchmark set and replace them with the schools saved in the link.
    </p>
}
else
{
    <p>
        You already have <span class="bold">@Model.TrustComparisonList.Trusts.Count</span> schools in your current benchmark set. If you choose to view this saved benchmark set it will remove the schools in your current benchmark set and replace them with the schools saved in the link.
    </p>
}

<form action="/BenchmarkCharts/GenerateFromSavedBasket" method="get">
    <input type="hidden" id="overwriteStrategy" name="overwriteStrategy" value="overwrite" />
    @if (!string.IsNullOrEmpty(Model.SavedUrns))
    {
        <input type="hidden" id="urns" name="urns" value="@Model.SavedUrns" />
    }
    @if (!string.IsNullOrEmpty(Model.SavedCompanyNos))
    {
        <input type="hidden" id="companyNumbers" name="companyNumbers" value="@Model.SavedCompanyNos" />
    }
    @if (Model.DefaultUrn != 0)
    {
        <input type="hidden" id="default" name="default" value="@Model.DefaultUrn" />
    }

    <div class="grid-row mt-2">
        <div class="column-half">
            <div class="column-two-thirds next-button">
                <button type="submit" class="button">Replace benchmark set</button>
            </div>
            <div class="column-one-third back-button">
                <a href="/">Cancel</a>
            </div>
        </div>
    </div>
</form>

