@model SFB.Web.UI.Models.SaveOverwriteViewModel

@{
    if (Model.SavedUrns != null)
    {
        ViewBag.Title = "Comparing similar schools";
    }
    else
    {
        ViewBag.Title = "Comparing similar trusts";
    }

    ViewBag.pageClass = "overwrite-strategy";
}

@if (Model.HasError())
{
    <div class="error-summary" role="alert" aria-labelledby="ErrorSummaryHeading">
        <h1 id="ErrorSummaryHeading" class="heading-medium error-summary-heading">
            There is a problem
        </h1>
        <ul class="error-summary-list">
            <li>
                <a href="legend">@Model.ErrorMessage</a>
            </li>
        </ul>
    </div>
}

@if (Model.SavedUrns != null)
{
    <h1 class="heading-xlarge page-heading">Comparing similar schools</h1>
    <p>
        You already have <span class="bold">@Model.ComparisonListCount</span> schools in your benchmarking basket. You can replace them or retain them alongside the saved schools from the link.
    </p>
}
else
{
    <h1 class="heading-xlarge page-heading">Comparing similar trusts</h1>
    <p>
        You already have <span class="bold">@Model.TrustComparisonList.Trusts.Count</span> trusts in your benchmarking basket. You can replace them or retain them alongside the saved schools from the link.
    </p>
}

<form action="/BenchmarkCharts/GenerateFromSavedBasket" method="get">
    <div class="form-group @Html.Raw(Model.HasError() ? "form-group-error" : "")">

        <fieldset>
            <legend id="legend">
                <span class="visually-hidden">Overwrite strategy</span>
                @if (Model.HasError())
                {
                    <span class="error-message">@Model.ErrorMessage</span>
                }
            </legend>
            <div class="multiple-choice">
                <input id="radio-1" type="radio" name="overwriteStrategy" value="overwrite">
                <label class="selection-button-radio" for="radio-1">
                    Replace current basket
                </label>
            </div>

            <div class="multiple-choice">
                <input id="radio-2" type="radio" name="overwriteStrategy" value="add">
                <label class="selection-button-radio" for="radio-2">
                    Add to existing basket
                </label>
            </div>

        </fieldset>
    </div>
    @if (!string.IsNullOrEmpty(Model.SavedUrns))
    {
        <input type="hidden" id="urns" name="urns" value="@Model.SavedUrns" />
    }
    @if (!string.IsNullOrEmpty(Model.SavedCompanyNos))
    {
        <input type="hidden" id="companyNumbers" name="companyNumbers" value="@Model.SavedCompanyNos" />
    }
    @if (Model.DefaultUrn != 0)
    {
        <input type="hidden" id="default" name="default" value="@Model.DefaultUrn" />
    }

    <div class="grid-row">
        <div class="column-half">
            <div class="column-one-third next-button">
                <button type="submit" class="button">Continue</button>
            </div>
            <div class="column-one-third back-button">
                <a href="/">Cancel</a>
            </div>
        </div>
    </div>
</form>
