@model SFB.Web.UI.Models.SaveOverwriteViewModel

@{
    ViewBag.Title = "Schools Financial Benchmarking";
    ViewBag.pageClass = "overwrite-strategy";
}

@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <div class="error-summary" role="alert" aria-labelledby="ErrorSummaryHeading">
        <h1 id="ErrorSummaryHeading" class="heading-medium error-summary-heading">
            There are errors on this page that require attention.
        </h1>
        <ul class="error-summary-list">
            <li>
                <a href="#radio-1">@Model.ErrorMessage</a>
            </li>
        </ul>
    </div>
}

<h1 class="heading-xlarge page-heading">Comparing similar schools</h1>

<p>
    You already have <span class="bold">@Model.ComparisonListCount</span> schools in your benchmarking basket. You can replace them or retain them alongside the saved schools from the link.
</p>

<form action="/BenchmarkCharts/GenerateFromSavedBasket" method="get">
    <div class="form-group @Html.Raw(string.IsNullOrEmpty(Model.ErrorMessage) ? "" : "form-group-error")">

        <fieldset>
            @if (!string.IsNullOrEmpty(Model.ErrorMessage))
            {
                <span class="error-message">@Model.ErrorMessage</span>
            }
            <legend class="visually-hidden">Overwrite strategy</legend>
            <div class="multiple-choice">
                <input id="radio-1" type="radio" name="overwriteStrategy" value="overwrite" checked="checked">
                <label class="selection-button-radio" for="radio-1">
                    Replace current basket
                </label>
            </div>

            <div class="multiple-choice">
                <input id="radio-2" type="radio" name="overwriteStrategy" value="add">
                <label class="selection-button-radio" for="radio-2">
                    Add to existing basket
                </label>
            </div>

        </fieldset>
    </div>

    <input type="hidden" id="urns" name="urns" value="@Model.SavedUrns" />

    <div class="grid-row font-xsmall">
        <div class="column-one-third">
            <div class="column-one-third next-button">
                <button type="submit" class="button">Next</button>
            </div>
            <div class="column-one-third back-button">
                <a href="/">Cancel</a>
            </div>
        </div>
    </div>
</form>
