@model SFB.Web.UI.Models.SaveOverwriteViewModel

@{
    if (Model.SavedUrns != null)
    {
        ViewBag.Title = "Comparing similar schools";
    }
    else
    {
        ViewBag.Title = "Comparing similar trusts";
    }

    ViewBag.pageClass = "overwrite-strategy";
}

@if (Model.HasError())
{
    <div class="govuk-error-summary" role="alert" aria-labelledby="ErrorSummaryHeading">
        <h2 id="ErrorSummaryHeading" class="govuk-error-summary__title">
            There is a problem
        </h2>
        <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
                <li>
                    <a href="legend">@Model.ErrorMessage</a>
                </li>
            </ul>
        </div>
    </div>
}

@if (Model.SavedUrns != null)
{
    <h1 class="heading-xlarge page-heading">Comparing similar schools</h1>
    <p>
        You already have <span class="bold">@Model.ComparisonListCount</span> schools in your benchmark set. You can replace them or retain them alongside the saved schools from the link.
    </p>
}
else
{
    <h1 class="heading-xlarge page-heading">Comparing similar trusts</h1>
    <p>
        You already have <span class="bold">@Model.TrustComparisonList.Trusts.Count</span> trusts in your benchmark set. You can replace them or retain them alongside the saved schools from the link.
    </p>
}

<form action="/BenchmarkCharts/GenerateFromSavedBasket" method="get">
    <div class="govuk-form-group @Html.Raw(Model.HasError() ? "govuk-form-group--error" : "")">

        <fieldset>
            <legend id="legend">
                <span class="visually-hidden">Overwrite strategy</span>
                @if (Model.HasError())
                {
                    <span class="govuk-error-message"><span class="govuk-visually-hidden">Error: </span>@Model.ErrorMessage</span>
                }
            </legend>
            <div class="multiple-choice">
                <input id="radio-1" type="radio" name="overwriteStrategy" value="overwrite">
                <label class="selection-button-radio" for="radio-1">
                    Replace benchmark set
                </label>
            </div>

            <div class="multiple-choice">
                <input id="radio-2" type="radio" name="overwriteStrategy" value="add">
                <label class="selection-button-radio" for="radio-2">
                    Add to existing benchmark set
                </label>
            </div>

        </fieldset>
    </div>
    @if (!string.IsNullOrEmpty(Model.SavedUrns))
    {
        <input type="hidden" id="urns" name="urns" value="@Model.SavedUrns" />
    }
    @if (!string.IsNullOrEmpty(Model.SavedCompanyNos))
    {
        <input type="hidden" id="companyNumbers" name="companyNumbers" value="@Model.SavedCompanyNos" />
    }
    @if (Model.DefaultUrn != 0)
    {
        <input type="hidden" id="default" name="default" value="@Model.DefaultUrn" />
    }

    <div class="grid-row">
        <div class="column-half">
            <div class="govuk-button-group">
                <button type="submit" class="govuk-button" data-module="govuk-button">Continue</button>
                <a class="govuk-link" href="/">Cancel</a>
            </div>
        </div>
    </div>
</form>
