@model SFB.Web.UI.Models.LocationListViewModel

@{
    ViewBag.Title = "Schools Financial Benchmarking";
    ViewBag.pageClass = "search-results";
}

@section StickyContent
{
    @Html.Partial("Partials/BenchmarkListBanner")
}

@section BackButtonContent{

    @Html.Partial("Partials/BackToHomeLink")
}

<h1 class="heading-xlarge page-heading">Location search for "@Model.LocationOrPostcode"</h1>

<div class="grid-row js-live-search-results-block">
    <div class="column-two-thirds">

        <div aria-live="assertive" id="js-search-results-info">
            <div class="result-info">
                <p class="summary" aria-live="assertive">
                    <span class="bold">@(Model.ModelList.Count)</span> locations found
                </p>
            </div>
        </div>
        @if (Model.ModelList.Count > 0)
        {

            <ul>
                @foreach (var location in Model.ModelList)
                {
                <li class="document">
                    <a href="/SchoolSearch/Search?searchtype=search-by-location&&LocationCoordinates=@location.LatLon&locationorpostcode=@location.LocationName&openOnly=@Model.OpenOnly.ToString()" class="bold-small">@location.LocationName</a>
                </li>
                }
            </ul>
        }
        else
        {
            <p class="bold-small" style="margin-top: 22px;">Please try:</p>
            <p class="indent">
                • <a href="/">searching again</a> using different spelling or words
            </p>
        }
    </div>

</div>
