@using SFB.Web.Domain.Helpers.Constants
@using SFB.Web.UI.Helpers.Constants
@model List<SFB.Web.UI.Models.TrustToCompareViewModel>

<form autocomplete="off">
    <span id="trustCountMessage" class="visuallyhidden" aria-live="polite">@Model.Count trusts in comparison list</span>
    <input id="trustCount" type="hidden" value="@Model.Count"/>
    <button type="submit" style="visibility: hidden" disabled="disabled">hidden</button>
    <fieldset>
        <legend class="visuallyhidden">Choose a trust from auto completion list</legend>
        @{
            if (ViewBag.Error != null)
            {
                <div id="error-summary" class="error-summary" role="alert" aria-labelledby="error-summary-heading-example-1" tabindex="-1">

                    <h2 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">
                        There are errors on this page that require attention.
                    </h2>

                    <ul class="error-summary-list">
                        <li>
                            <a href="#NewTrustName">@ViewBag.Error</a>
                        </li>
                    </ul>

                </div>
            }

            int i = 0;
            if (Model.Count > 0)
            {
                <div id="ExistingTrusts">
                    @for (; i < Model.Count; i++)
                    {
                        <div class="grid-row trust-element">
                            <label class="form-label" for="mat_@i">Trust @Html.Raw(i + 1)</label>
                            <input class="form-control" id="mat_@i" name="mat_@i" type="text" disabled="disabled" value="@Model[i].MatName"/>
                            <a href="javascript: DfE.Views.TrustCompareViewModel.RemoveTrust('@Model[i].MatNo')" aria-label="Remove @Model[i].MatName">Remove</a>
                        </div>
                    }
                </div>

                <div id="NewTrust" style="display: @Html.Raw(ViewBag.Error == null ? "none" : "block")">
                    <div class="grid-row trust-element">
                        <label class="form-label" for="NewTrustName">Trust @Html.Raw(i + 1)</label>
                        @if (ViewBag.Error != null)
                        {
                            <span class="error-message">
                                @ViewBag.Error
                            </span>
                        }
                        <input id="NewTrustName"
                               class="form-control mbl"
                               name="trustname"
                               type="text"
                               data-suggestion-url="/schoolsearch/suggesttrust"/>
                    </div>
                </div>
                <div id="AddButton" class="grid-row" style="display: @Html.Raw(ViewBag.Error == null ? "block" : "none")">
                    <div class="column-full">
                        @if (Model.Count < ComparisonListLimit.MAT_LIMIT)
                        {
                            <a href="javascript:DfE.Views.TrustCompareViewModel.DisplayNewTrustElements()">Add another trust</a>
                        }
                        else
                        {
                            <a href="javascript:DfE.Util.ComparisonList.RenderFullListWarningModalMat()">Add another trust</a>
                        }
                    </div>
                </div>
            }
            else
            {
                <div class="grid-row trust-element">
                    <label class="form-label" for="NewTrustName">Trust 1</label>
                    @if (ViewBag.Error != null)
                    {
                        <span class="error-message">
                            @ViewBag.Error
                        </span>
                    }
                    <input id="NewTrustName"
                           class="form-control mbl"
                           name="trustname"
                           type="text"
                           data-suggestion-url="/schoolsearch/suggesttrust"/>
                </div>
            }
        }
    </fieldset>
</form>

@if (Request.IsAjaxRequest())
{
    <script>
        $('#ErrorSummaryPlaceHolder').empty();
        $('#error-summary').detach().appendTo('#ErrorSummaryPlaceHolder');
        $('#trustCountMessage').text("Updating trust comparison list");
        setTimeout(function () {
            $('#trustCountMessage').text($("#trustCount").val() + " trusts in list");
        },2000);
        

    </script>
}
