@using SFB.Web.UI.Helpers.Constants
<div class="compare-buttons-panel set-unset">
    <div class="column-full">
            
        <a @DisplayStyle(Model.IsDefaultBenchmark) class="set-unset-default" href="#" onclick="@($"DfE.Views.HistoricalCharts.UpdateBenchmarkBasket({Request.QueryString["urn"]},'UnsetDefault')")">Unset as default school</a>

        <a @DisplayStyle(!Model.IsDefaultBenchmark) class="set-unset-default" href="#" onclick="@($"DfE.Views.HistoricalCharts.UpdateBenchmarkBasket({Request.QueryString["urn"]},'SetDefault')")">Set as default school</a>

    </div>
</div>
<div class="compare-buttons-panel">
    <div class="column-full">

        <a class="button compare" href="/BenchmarkCriteria/ComparisonStrategy?urn=@Model.Id">Compare with other schools</a>

        <a @DisplayStyle(Model.IsInComparisonList) class="add-remove button removefrom" href="#" onclick="@($"DfE.Views.HistoricalCharts.UpdateBenchmarkBasket({Request.QueryString["urn"]},'Remove')")">Remove from benchmark basket</a>

        <a @DisplayStyle(!Model.IsInComparisonList) class="add-remove button addto"  href="#" onclick="@($"DfE.Views.HistoricalCharts.UpdateBenchmarkBasket({Request.QueryString["urn"]},'Add')")">Add to benchmark basket</a>

    </div>
</div>

@helper DisplayStyle(bool display)
{
if (display)
{
        @Html.Raw("style=\"display: inline-block\"");
    }
    else
    {
        @Html.Raw("style=\"display: none\"");
    }
}
