<button @DisplayStyle(Model.IsInComparisonList) class="pl-0 link-button no-underline bold-xsmall black add-remove-js" onclick="@($"DfE.Views.HistoricalCharts.updateBenchmarkBasket({Request.QueryString["urn"]},'Remove')")">
    <img class="icon" src="~/public/assets/images/icons/remove_from_set.svg" />
    <div class="inline">
        <span> Remove from benchmark set</span>
    </div>
</button>

<button @DisplayStyle(!Model.IsInComparisonList) class="pl-0 link-button no-underline bold-xsmall black add-remove-js" onclick="@($"DfE.Views.HistoricalCharts.updateBenchmarkBasket({Request.QueryString["urn"]},'Add')")">
    <img class="icon" src="~/public/assets/images/icons/add_to_set.svg" />
    <div class="inline">
        <span> Add to benchmark set</span>
    </div>
</button>



@helper DisplayStyle(bool display)
{
if (display)
{
        @Html.Raw("style=\"display: inline-block\"");
    }
    else
    {
        @Html.Raw("style=\"display: none\"");
    }
}
