@using SFB.Web.UI.Helpers.Constants
<div class="compare-buttons-panel set-unset">
    <div class="column-full">
            
        <a @DisplayStyle(Model.IsDefaultBenchmark) class="img-button set-unset-default" href="javascript:void(0);" onclick="@($"DfE.Views.HistoricalCharts.UpdateBenchmarkBasket({Request.QueryString["urn"]},'UnsetDefault')")">
            <img class="icon" src="~/public/assets/images/icons/icon-bookmark.png" alt="Opens in a new window" />
            <span>Unset as default school</span>
        </a>

        <a @DisplayStyle(!Model.IsDefaultBenchmark) class="img-button set-unset-default" href="javascript:void(0);" onclick="@($"DfE.Views.HistoricalCharts.UpdateBenchmarkBasket({Request.QueryString["urn"]},'SetDefault')")">
            <img class="icon" src="~/public/assets/images/icons/icon-bookmark.png" alt="Opens in a new window" />
            <span>Set as default school</span>
        </a>

        @*<a class="img-button auto sfb_gtm_auto_report" href="/benchmarkcharts/oneclickreport?urn=@Request.QueryString["urn"]" aria-label="Automatic report. Opens in a new window.">
            <img class="icon" src="~/public/assets/images/icons/icon-file-download-small.png" alt="Opens in a new window" />
            <span id="DownloadLinkText">View quick comparison report</span>                  
        </a>
        <span class="help-icon inline-block hide-in-print">
            <span class="icon dark-blue">
                <a href="#" class="js-modal" data-modal-title="Quick comparison report" data-modal-text="@String.Format(HelpTooltipText.QuickComparisonHelp, Request.QueryString["urn"])" data-modal-close-text="Close" data-modal-close-title="Close" data-help-text-key="" id="label_modal_1">
                    <span class="visuallyhidden">Open more info text for Quick comparison report opens a popup</span>
                </a>
            </span>
        </span>*@

    </div>
</div>
<div class="compare-buttons-panel">
    <div class="column-full">

        <a class="button compare" href="/BenchmarkCriteria/ComparisonStrategy?urn=@Model.Id">Compare with other schools</a>

        <a @DisplayStyle(Model.IsInComparisonList) class="add-remove button removefrom" href="#" onclick="@($"DfE.Views.HistoricalCharts.UpdateBenchmarkBasket({Request.QueryString["urn"]},'Remove')")">Remove from benchmark basket</a>

        <a @DisplayStyle(!Model.IsInComparisonList) class="add-remove button addto"  href="#" onclick="@($"DfE.Views.HistoricalCharts.UpdateBenchmarkBasket({Request.QueryString["urn"]},'Add')")">Add to benchmark basket</a>

    </div>
</div>

@helper DisplayStyle(bool display)
{
if (display)
{
        @Html.Raw("style=\"display: inline-block\"");
    }
    else
    {
        @Html.Raw("style=\"display: none\"");
    }
}
