@using SFB.Web.ApplicationCore.Helpers.Enums
@using SFB.Web.UI.Helpers.Constants
@using SFB.Web.UI.Helpers.Enums
@model SFB.Web.UI.Models.SchoolViewModel

<div id="appTabs" class="app-tabs">
    <ul class="app-tabs__list">
        <li class="app-tabs__list-item hide-in-print" id="ExpenditureTab">
            <a class="app-tabs__tab"
               onclick="DfE.Views.SchoolDetailsViewModel.tabChange(@Model.Id,'@TabType.Expenditure')"
               href="#tabPanel">@TabNames.EXPENDITURE</a>
        </li>
        <li class="app-tabs__list-item hide-in-print" id="IncomeTab">
            <a class="app-tabs__tab"
               onclick="DfE.Views.SchoolDetailsViewModel.tabChange(@Model.Id,'@TabType.Income')"
               href="#tabPanel">@TabNames.INCOME</a>
        </li>
        <li class="app-tabs__list-item hide-in-print" id="BalanceTab">
            <a class="app-tabs__tab"
               onclick="DfE.Views.SchoolDetailsViewModel.tabChange(@Model.Id,'@TabType.Balance')"
               href="#tabPanel">@TabNames.BALANCE</a>
        </li>
    </ul>

    <div id="appTabPanel" class="app-tabs__panel">
        <div class="sticky-div sticky-chart-controls">
            <div id="controls">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-visually-hidden hide-in-print">Filters</legend>
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full">
                            @Html.Partial("Partials/ChartGroups", Model.ChartGroups)
                            @Html.Partial("Partials/ValueSelect", Model)
                            @if (Model.EstablishmentType == EstablishmentType.Academies && Model.IsMATinLatestFinance)
                            {
                                Html.RenderPartial("Partials/CentralFinancing");
                            }
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="charts-section">
            <div class="govuk-grid-row">
                <div>
                    <div class=" govuk-grid-column-full govuk-!-font-size-16 chartTable hide-in-print">
                        <button type="button" style="display: @Html.Raw(ViewBag.ChartFormat == ChartFormat.Tables ? "block" : "none")" class="view-charts-tables charts a-button" onclick="DfE.Views.SchoolDetailsViewModel.toggleChartsTables('Charts')"><img class="icon icon-chart" src="~/public/assets/images/icons/graph.svg" alt="" /><span> View as charts</span></button>
                        <button type="button" style="display: @Html.Raw(ViewBag.ChartFormat == ChartFormat.Tables ? "none" : "block")" class="view-charts-tables tables a-button" onclick="DfE.Views.SchoolDetailsViewModel.toggleChartsTables('Tables')"><img class="icon icon-table" src="~/public/assets/images/icons/table.svg" alt="" /><span> View as tables<span class="govuk-visually-hidden"> - Recommended option for screen readers</span></span></button>
                    </div>
                    <div class=" govuk-grid-column-full govuk-!-font-size-16 hide-in-print">
                        <button type="button" class="back-to-main-chart-group-button" onclick="DfE.Views.HistoricalCharts.resetGrouping()">
                            <span><</span>
                            <span class="govuk-link">All <span class="js-parent-group">expenditure</span> charts</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="historical-charts-list">
                @Html.Partial("Partials/Chart", Model)
            </div>
        </div>
    </div>
</div>
