@{
    ViewBag.assetsPath = "/public/govuk_template/assets";

    var appTitle = "Schools financial benchmarking";
    var title = !string.IsNullOrEmpty(ViewBag.Title) ? ViewBag.Title : appTitle;
    var documentTitle = string.Format("{0} - {1}", title, "GOV.UK");
}
<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="en"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8"/>
    <title>@documentTitle</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="@(ViewBag.assetsPath)/images/opengraph-image.png?0.12.0">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
    <link rel="mask-icon" href="/public/assets/images/icons/gov.uk_logotype_crown.svg" color="#0b0c0c">
    <link rel="apple-touch-icon" sizes="180x180" href="/public/assets/images/icons/apple-touch-icon-180x180.png">
    <link rel="apple-touch-icon" sizes="167x167" href="/public/assets/images/icons/apple-touch-icon-167x167.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/public/assets/images/icons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" href="/public/assets/images/icons/apple-touch-icon.png">
    <meta name="theme-color" content="#0b0c0c"/>

    @*//////// Added by SFB dev in regards to story #18856 ////////////////*@
    @if (ViewBag.pageDescription == null)
    {
        <meta name="robots" content="noindex">
    }
    else
    {
        <meta name="description" content="@(ViewBag.pageDescription)">
    }
    @*//////// Added by SFB dev in regards to story #18856 ////////////////*@

    <script type="text/javascript">
        (function() {
            if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
                var d = document, c = "appendChild", a = d.createElement("style");
                a[c](d.createTextNode("@@-ms-viewport{width:auto!important}"));
                d.getElementsByTagName("head")[0][c](a);
            }
        })();
    </script>

    <!--[if gt IE 8]><!-->
    <link href="@(ViewBag.assetsPath)/stylesheets/govuk-template.css?0.12.0" media="screen" rel="stylesheet" type="text/css"/><!--<![endif]-->
    <!--[if IE 6]><link href="@(ViewBag.assetsPath)/stylesheets/govuk-template-ie6.css?0.12.0" media="screen" rel="stylesheet" type="text/css"/><![endif]-->
    <!--[if IE 7]<link href="@(ViewBag.assetsPath)/stylesheets/govuk-template-ie7.css?0.12.0" media="screen" rel="stylesheet" type="text/css"/><![endif]-->
    <!--[if IE 8]><link href="@(ViewBag.assetsPath)/stylesheets/govuk-template-ie8.css?0.12.0" media="screen" rel="stylesheet" type="text/css"/><![endif]-->

    <link href="@(ViewBag.assetsPath)/stylesheets/govuk-template-print.css?0.12.0" media="print" rel="stylesheet" type="text/css"/>

    <!--[if IE 8]>
        <script type="text/javascript">
            (function() {
                if (window.opera) {
                    return;
                }
                setTimeout(function() {
                    var a = document,
                        g,
                        b = {
                            families: (g = ["nta"]),
                            urls: ["@(ViewBag.assetsPath)/stylesheets/fonts-ie8.css?0.12.0"]
                        },
                        c = "@(ViewBag.assetsPath)/javascripts/vendor/goog/webfont-debug.js?0.12.0",
                            d = "script",
                            e = a.createElement(d),
                            f = a.getElementsByTagName(d)[0],
                            h = g.length;
                        WebFontConfig = { custom: b }, e.src = c, f.parentNode.insertBefore(e, f);
                        for (;
                            h = h - 1;
                            a.documentElement.className += ' wf-' +
                                g[h].replace(/\s/g, '').toLowerCase() +
                                '-n4-loading');
                    },
                    0);
            })()
        </script>
    <![endif]-->
    <!--[if gte IE 9]><!-->
    <link href="@(ViewBag.assetsPath)/stylesheets/fonts.css?0.12.0" media="all" rel="stylesheet" type="text/css"/>
    <!--<![endif]-->
    <!--[if lt IE 9]>
        <script src="@(ViewBag.assetsPath)/javascripts/ie.js?0.12.0" type="text/javascript"></script>
    <![endif]-->

    @RenderSection("Head", required: false)
</head>
<body class="@(ViewBag.bodyClasses)">
<a name="pagetop"></a>
@if (!Request.Browser.Browser.Contains("MSIE 8"))
{
    <script type="text/javascript">document.body.className =
    ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
}

@RenderSection("bodyStart", required: false)

@if (Request.Path.Contains("/Help"))
{
    <div id="skiplink-container">
        <div>
            <a href="#helpContent" class="skiplink">Skip to main content</a>
        </div>
    </div>
}
else
{
    <div id="skiplink-container">
        <div>
            <a href="#content" class="skiplink">Skip to main content</a>
        </div>
    </div>
}
<div id="global-cookie-message">
    <div class="outer-block">
        <div class="inner-block">
            @if (String.IsNullOrEmpty(ViewBag.cookieMessage) == false)
            {
                @(ViewBag.cookieMessage)
            }
            else
            {
                <p>
                    GOV.UK uses cookies to make the site simpler. <a href="/cookies">Find out more about cookies</a>
                </p>
            }
        </div>
    </div>
</div>
<!--end global-cookie-message-->

<header role="banner" id="global-header" class="with-proposition">
    <div class="header-wrapper">
        <div class="header-global">
            <div class="header-logo">
                <a href="https://www.gov.uk/" title="Go to the GOV.UK homepage" id="logo" class="content">
                    <img src="@(ViewBag.assetsPath)/images/gov.uk_logotype_crown_invert_trans.png" width="35" height="31" alt=""> GOV.UK
                </a>
            </div>
        </div>
        <div class="header-proposition">
            <div class="content">
                @*<a href="#proposition-links" class="js-header-toggle menu">Menu</a>*@
                <nav id="proposition-menu">
                    <a href="/" id="proposition-name" title="@appTitle">@appTitle</a>
                </nav>
            </div>
        </div>
    </div>
</header>

<div id="global-header-bar"></div>
<!--end header-->

@RenderSection("AfterHeader", required: false)

<div class="global-header-bar">
</div>
<!--end global-header-bar-->

<div class="side-width-wrapper hide-in-print">
    <div class="grid-row">
        <div class="column-full">
            <div class="phase-banner">
                @(Html.Partial("../govuk/partials/phase/beta"))
            </div>
        </div>
    </div>
</div>

@*<div class="side-width-wrapper">
        <div class="grid-row">
            <div class="column-full">
                <img class="top-logo" src="/public/assets/images/dfe-xsmall.png" />
            </div>
        </div>
    </div>*@

@RenderBody()

<div class="global-header-bar">
</div>
<footer class="group js-footer" id="footer" role="contentinfo">
    <div class="footer-wrapper">
        <div class="footer-meta">
            <div class="footer-meta-inner">
                <h2 class="visuallyhidden">Support links</h2>
                <ul>
                    <li>
                        <a href="/help/guidance">Help</a>
                    </li>
                    <li>
                        <a href="/cookies">Cookies</a>
                    </li>
                    <li>
                        <a target="_blank" rel="noopener noreferrer" href="https://form.education.gov.uk/fillform.php?self=1&form_id=cCCNJ1xSfBE&noLoginPrompt=1">Contact<span class="visuallyhidden"> Opens in a new window</span></a>
                    </li>
                </ul>

                <div class="open-government-licence">
                    <p class="logo"><a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence</a></p>
              
                    <p>All content is available under the <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>, except where otherwise stated</p>
              
                </div>
            </div>
            <div class="copyright">
                <a href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/copyright-and-re-use/crown-copyright/">© Crown copyright</a>
            </div>
        </div>
    </div>
</footer>
<!--end footer-->

<div id="global-app-error" class="app-error hidden"></div>
<script src="@(ViewBag.assetsPath)/javascripts/govuk-template.js?0.13.0" type="text/javascript"></script>

@RenderSection("BodyEnd", required: false)
</body>

</html>