@{
    ViewBag.Title = "Contact us";
    ViewBag.pageClass = "contact-us";
}

@section BackButtonContent{
    @Html.Partial("Partials/BackToHomeLink")
}

@model SFB.Web.UI.Models.ContactUsViewModel

<div class="grid-row mt-2">
    <div class="column-full">
        @FormErrorSummary()

        <h1 class="govuk-heading-xl page-heading">Contact</h1>

        <form action="~/Contact/ContactUsSubmission" method="post">

            @Html.AntiForgeryToken()
            <p>Contact us if you are an school, academy trust, local authority, or member of the public who has a query about Schools financial benchmarking.</p>

            <div class="govuk-form-group @FormGroupErrorClass("contactUs.Name")">
                <label class="govuk-label" for="contactUs.Name">Name</label>
                @InputErrorMessage("contactUs.Name")
                <input class="govuk-input govuk-!-width-three-quarters @FormControlErrorClass("contactUs.Name")" id="contactUs.Name" name="contactUs.Name" type="text" value="@Model.Name" autocomplete="name">
            </div>
            <div class="govuk-form-group @FormGroupErrorClass("contactUs.Email")">
                <label class="govuk-label" for="contactUs.Email">Email</label>
                @InputErrorMessage("contactUs.Email")
                <input class="govuk-input govuk-!-width-three-quarters @FormControlErrorClass("contactUs.Email")" id="contactUs.Email" name="contactUs.Email" type="text" value="@Model.Email" autocomplete="email">
            </div>
            <div class="govuk-form-group @FormGroupErrorClass("contactUs.SchoolTrustName")">
                <label class="govuk-label" for="contactUs.SchoolTrustName">School, academy trust or local authority (optional)</label>
                @InputErrorMessage("contactUs.SchoolTrustName")
                <input class="govuk-input govuk-!-width-three-quarters @FormControlErrorClass("contactUs.SchoolTrustName")" id="contactUs.SchoolTrustName" name="contactUs.SchoolTrustName" type="text" value="@Model.SchoolTrustName">
            </div>
            <div class="govuk-form-group @FormGroupErrorClass("contactUs.Message")">
                <label class="govuk-label" for="contactUs.Message">Message</label>
                @InputErrorMessage("contactUs.Message")
                <textarea spellcheck="true" class="govuk-textarea govuk-!-width-three-quarters @FormControlErrorClass("contactUs.Message")" name="contactUs.Message" id="contactUs.Message" rows="8" maxlength="1000">@Model.Message</textarea>
            </div>
            @*<input type="hidden" name="urn" value="@ViewBag.Urn" />
            <input type="hidden" name="schoolName" value="@ViewBag.SchoolName" />*@
            <button class="govuk-button" data-module="govuk-button" type="submit">Submit</button>
        </form>
    </div>
</div>


@helper FormErrorSummary()
{
    var msDictionary = ViewBag.ModelState as ModelStateDictionary;

    if (msDictionary != null && !msDictionary.IsValid)
    {
        <div class="govuk-error-summary" role="alert" aria-labelledby="ErrorSummaryHeading">
            <h2 id="ErrorSummaryHeading" class="govuk-error-summary__title">
                There is a problem
            </h2>
            <div class="govuk-error-summary__body">
                <ul class="govuk-list govuk-error-summary__list">
                    @foreach (KeyValuePair<string, ModelState> ms in msDictionary)
                    {
                        if (ms.Value.Errors.Count > 0)
                        {
                            <li>
                                <a class="govuk-link" href="#@ms.Key">@ms.Value.Errors.First().ErrorMessage</a>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
    }
}

@helper FormGroupErrorClass(string inputId)
{
    var msDictionary = ViewBag.ModelState as ModelStateDictionary;
    var ms = msDictionary[inputId];
    if (ms?.Errors.Count > 0)
    {
        @("govuk-form-group--error")
    }
}


@helper FormControlErrorClass(string inputId)
{
    var msDictionary = ViewBag.ModelState as ModelStateDictionary;
    var ms = msDictionary[inputId];
    if (ms?.Errors.Count > 0)
    {
        @("govuk-input--error")
    }
}

@helper InputErrorMessage(string inputId)
{
    var msDictionary = ViewBag.ModelState as ModelStateDictionary;
    var ms = msDictionary[inputId];
    if (ms?.Errors.Count > 0)
    {
<span class="govuk-error-message">
    <span class="govuk-visually-hidden">Error: </span>
    @ms.Errors.First().ErrorMessage
</span>
    }
}
